{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :invoke, :f :read, :value nil, :process 95, :time 53876037836, :index 4418}
{:type :ok, :f :read, :value 0, :process 95, :time 53877898856, :index 4419}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 53922506864, :index 4420}
{:type :fail, :f :cas, :value [2 1], :process 53, :time 53926238044, :index 4421}
{:type :invoke, :f :read, :value nil, :process 31, :time 54006752288, :index 4424}
{:type :ok, :f :read, :value 0, :process 31, :time 54008779068, :index 4425}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 54023995857, :index 4426}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 54028115427, :index 4427}
{:type :invoke, :f :read, :value nil, :process 95, :time 54033201146, :index 4428}
{:type :ok, :f :read, :value 0, :process 95, :time 54034428456, :index 4429}
{:type :invoke, :f :read, :value nil, :process 44, :time 54061076925, :index 4430}
{:type :ok, :f :read, :value 0, :process 44, :time 54062706525, :index 4431}
{:type :invoke, :f :read, :value nil, :process 31, :time 54090050833, :index 4432}
{:type :ok, :f :read, :value 0, :process 31, :time 54091438213, :index 4433}
{:type :invoke, :f :read, :value nil, :process 53, :time 54112105472, :index 4434}
{:type :ok, :f :read, :value 0, :process 53, :time 54115270601, :index 4435}
{:type :invoke, :f :read, :value nil, :process 95, :time 54145680890, :index 4436}
{:type :ok, :f :read, :value 0, :process 95, :time 54147475450, :index 4437}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 54162597198, :index 4438}
{:type :invoke, :f :read, :value nil, :process 44, :time 54162933358, :index 4439}
{:type :ok, :f :read, :value 0, :process 44, :time 54164138988, :index 4440}
{:type :fail, :f :cas, :value [1 0], :process 53, :time 54166164178, :index 4441}
{:type :invoke, :f :write, :value 1, :process 95, :time 54168736388, :index 4442}
{:type :ok, :f :write, :value 1, :process 95, :time 54171377638, :index 4443}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 54180366928, :index 4444}
{:type :fail, :f :cas, :value [0 0], :process 53, :time 54183996397, :index 4445}
{:type :invoke, :f :read, :value nil, :process 52, :time 54190433157, :index 4446}
{:type :ok, :f :read, :value 1, :process 52, :time 54191527067, :index 4447}
{:type :invoke, :f :cas, :value [2 0], :process 95, :time 54205833386, :index 4448}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 54206739686, :index 4449}
{:type :ok, :f :cas, :value [1 0], :process 52, :time 54216915795, :index 4450}
{:type :fail, :f :cas, :value [2 0], :process 95, :time 54218601765, :index 4451}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 54225628315, :index 4452}
{:type :invoke, :f :write, :value 4, :process 95, :time 54227125545, :index 4453}
{:type :ok, :f :cas, :value [0 2], :process 31, :time 54229461065, :index 4454}
{:type :ok, :f :write, :value 4, :process 95, :time 54230192265, :index 4455}
{:type :invoke, :f :cas, :value [2 4], :process 53, :time 54239207304, :index 4456}
{:type :fail, :f :cas, :value [2 4], :process 53, :time 54241997593, :index 4457}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 54259306863, :index 4458}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 54263992503, :index 4459}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 54274766192, :index 4460}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 54278523371, :index 4461}
{:type :invoke, :f :read, :value nil, :process 44, :time 54319118489, :index 4462}
{:type :ok, :f :read, :value 4, :process 44, :time 54321268999, :index 4463}
{:type :invoke, :f :read, :value nil, :process 53, :time 54346202987, :index 4464}
{:type :ok, :f :read, :value 4, :process 53, :time 54347974177, :index 4465}
{:type :invoke, :f :write, :value 4, :process 95, :time 54370485726, :index 4466}
{:type :ok, :f :write, :value 4, :process 95, :time 54374716196, :index 4467}
{:type :invoke, :f :read, :value nil, :process 52, :time 54377317605, :index 4468}
{:type :ok, :f :read, :value 4, :process 52, :time 54378508535, :index 4469}
{:type :invoke, :f :read, :value nil, :process 31, :time 54422752142, :index 4470}
{:type :ok, :f :read, :value 4, :process 31, :time 54424130913, :index 4471}
{:type :invoke, :f :read, :value nil, :process 95, :time 54446991141, :index 4472}
{:type :ok, :f :read, :value 4, :process 95, :time 54448067131, :index 4473}
{:type :invoke, :f :write, :value 4, :process 53, :time 54475218619, :index 4474}
{:type :ok, :f :write, :value 4, :process 53, :time 54478753929, :index 4475}
{:type :invoke, :f :read, :value nil, :process 95, :time 54483255819, :index 4476}
{:type :ok, :f :read, :value 4, :process 95, :time 54484493989, :index 4477}
{:type :invoke, :f :write, :value 1, :process 31, :time 54494397769, :index 4478}
{:type :ok, :f :write, :value 1, :process 31, :time 54498083798, :index 4479}
{:type :invoke, :f :cas, :value [0 2], :process 52, :time 54500738098, :index 4480}
{:type :invoke, :f :cas, :value [0 1], :process 44, :time 54504567517, :index 4481}
{:type :fail, :f :cas, :value [0 2], :process 52, :time 54506266997, :index 4482}
{:type :fail, :f :cas, :value [0 1], :process 44, :time 54514026977, :index 4483}
{:type :invoke, :f :write, :value 0, :process 52, :time 54523619906, :index 4484}
{:type :ok, :f :write, :value 0, :process 52, :time 54527292526, :index 4485}
{:type :invoke, :f :cas, :value [3 2], :process 52, :time 54569558094, :index 4486}
{:type :fail, :f :cas, :value [3 2], :process 52, :time 54573405943, :index 4487}
{:type :invoke, :f :write, :value 0, :process 95, :time 54589861252, :index 4488}
{:type :ok, :f :write, :value 0, :process 95, :time 54593230262, :index 4489}
{:type :invoke, :f :read, :value nil, :process 53, :time 54616111191, :index 4490}
{:type :ok, :f :read, :value 0, :process 53, :time 54617650981, :index 4491}
{:type :invoke, :f :read, :value nil, :process 31, :time 54632388890, :index 4492}
{:type :ok, :f :read, :value 0, :process 31, :time 54633756050, :index 4493}
{:type :invoke, :f :read, :value nil, :process 53, :time 54648888529, :index 4494}
{:type :ok, :f :read, :value 0, :process 53, :time 54650048129, :index 4495}
{:type :invoke, :f :write, :value 1, :process 52, :time 54651683469, :index 4496}
{:type :ok, :f :write, :value 1, :process 52, :time 54654645118, :index 4497}
{:type :invoke, :f :cas, :value [2 2], :process 44, :time 54674343107, :index 4498}
{:type :fail, :f :cas, :value [2 2], :process 44, :time 54677531967, :index 4499}
{:type :invoke, :f :read, :value nil, :process 52, :time 54732863443, :index 4500}
{:type :ok, :f :read, :value 1, :process 52, :time 54734565943, :index 4501}
{:type :invoke, :f :read, :value nil, :process 52, :time 54750804403, :index 4502}
{:type :ok, :f :read, :value 1, :process 52, :time 54752387093, :index 4503}
{:type :invoke, :f :write, :value 1, :process 95, :time 54759541192, :index 4504}
{:type :invoke, :f :cas, :value [4 2], :process 53, :time 54763265362, :index 4505}
{:type :ok, :f :write, :value 1, :process 95, :time 54763576482, :index 4506}
{:type :fail, :f :cas, :value [4 2], :process 53, :time 54766427752, :index 4507}
{:type :invoke, :f :cas, :value [4 3], :process 52, :time 54774599041, :index 4508}
{:type :fail, :f :cas, :value [4 3], :process 52, :time 54777992481, :index 4509}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 54798799950, :index 4510}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 54802402610, :index 4511}
{:type :ok, :f :cas, :value [1 4], :process 44, :time 54809071589, :index 4512}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 54810211359, :index 4513}
{:type :invoke, :f :write, :value 0, :process 53, :time 54820669758, :index 4514}
{:type :ok, :f :write, :value 0, :process 53, :time 54824513388, :index 4515}
{:type :invoke, :f :write, :value 1, :process 53, :time 54830930998, :index 4516}
{:type :ok, :f :write, :value 1, :process 53, :time 54834898327, :index 4517}
{:type :invoke, :f :read, :value nil, :process 95, :time 54871831615, :index 4518}
{:type :ok, :f :read, :value 1, :process 95, :time 54873646615, :index 4519}
{:type :invoke, :f :read, :value nil, :process 53, :time 54912214043, :index 4520}
{:type :ok, :f :read, :value 1, :process 53, :time 54916480972, :index 4521}
{:type :invoke, :f :write, :value 2, :process 31, :time 54927468182, :index 4522}
{:type :ok, :f :write, :value 2, :process 31, :time 54930573872, :index 4523}
{:type :invoke, :f :read, :value nil, :process 52, :time 54931270722, :index 4524}
{:type :ok, :f :read, :value 2, :process 52, :time 54932562742, :index 4525}
{:type :invoke, :f :read, :value nil, :process 95, :time 54961943319, :index 4526}
{:type :ok, :f :read, :value 2, :process 95, :time 54963457359, :index 4527}
{:type :invoke, :f :write, :value 0, :process 95, :time 54969723839, :index 4528}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 54971613949, :index 4529}
{:type :ok, :f :write, :value 0, :process 95, :time 54973367749, :index 4530}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 54974499939, :index 4531}
{:type :invoke, :f :read, :value nil, :process 52, :time 55013781806, :index 4532}
{:type :ok, :f :read, :value 0, :process 52, :time 55019730616, :index 4533}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 55030786536, :index 4534}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 55034542465, :index 4535}
{:type :invoke, :f :read, :value nil, :process 44, :time 55049690654, :index 4536}
{:type :ok, :f :read, :value 0, :process 44, :time 55051134184, :index 4537}
{:type :invoke, :f :read, :value nil, :process 44, :time 55056370864, :index 4538}
{:type :ok, :f :read, :value 0, :process 44, :time 55057725294, :index 4539}
{:type :invoke, :f :read, :value nil, :process 52, :time 55090013582, :index 4540}
{:type :ok, :f :read, :value 0, :process 52, :time 55091269722, :index 4541}
{:type :invoke, :f :write, :value 2, :process 44, :time 55093949621, :index 4542}
{:type :ok, :f :write, :value 2, :process 44, :time 55097474971, :index 4543}
{:type :invoke, :f :read, :value nil, :process 53, :time 55103842431, :index 4544}
{:type :ok, :f :read, :value 2, :process 53, :time 55108759531, :index 4545}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 55109419101, :index 4546}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 55114798980, :index 4547}
{:type :invoke, :f :read, :value nil, :process 95, :time 55145595368, :index 4548}
{:type :ok, :f :read, :value 2, :process 95, :time 55147299568, :index 4549}
{:type :invoke, :f :write, :value 2, :process 53, :time 55172988247, :index 4550}
{:type :ok, :f :write, :value 2, :process 53, :time 55176925296, :index 4551}
{:type :invoke, :f :read, :value nil, :process 52, :time 55192465296, :index 4552}
{:type :ok, :f :read, :value 2, :process 52, :time 55193893536, :index 4553}
{:type :invoke, :f :write, :value 2, :process 53, :time 55202253285, :index 4554}
{:type :invoke, :f :cas, :value [2 1], :process 44, :time 55204709315, :index 4555}
{:type :ok, :f :write, :value 2, :process 53, :time 55209462614, :index 4556}
{:type :ok, :f :cas, :value [2 1], :process 44, :time 55217906664, :index 4557}
{:type :invoke, :f :read, :value nil, :process 52, :time 55268096941, :index 4558}
{:type :ok, :f :read, :value 1, :process 52, :time 55269547221, :index 4559}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 55290792030, :index 4560}
{:type :invoke, :f :write, :value 0, :process 31, :time 55292031369, :index 4561}
{:type :ok, :f :cas, :value [1 4], :process 52, :time 55294287569, :index 4562}
{:type :ok, :f :write, :value 0, :process 31, :time 55295395809, :index 4563}
{:type :invoke, :f :read, :value nil, :process 95, :time 55301638679, :index 4564}
{:type :ok, :f :read, :value 0, :process 95, :time 55303764819, :index 4565}
{:type :invoke, :f :cas, :value [2 0], :process 31, :time 55336633587, :index 4566}
{:type :fail, :f :cas, :value [2 0], :process 31, :time 55340552006, :index 4567}
{:type :invoke, :f :write, :value 3, :process 53, :time 55359807115, :index 4568}
{:type :ok, :f :write, :value 3, :process 53, :time 55363495735, :index 4569}
{:type :invoke, :f :write, :value 4, :process 95, :time 55364159685, :index 4570}
{:type :ok, :f :write, :value 4, :process 95, :time 55366957275, :index 4571}
{:type :invoke, :f :read, :value nil, :process 52, :time 55371620455, :index 4572}
{:type :ok, :f :read, :value 4, :process 52, :time 55372756175, :index 4573}
{:type :invoke, :f :write, :value 3, :process 44, :time 55373334165, :index 4574}
{:type :ok, :f :write, :value 3, :process 44, :time 55376146664, :index 4575}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 55385843383, :index 4576}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 55388713514, :index 4577}
{:type :invoke, :f :write, :value 1, :process 44, :time 55414392892, :index 4578}
{:type :ok, :f :write, :value 1, :process 44, :time 55421679202, :index 4579}
{:type :invoke, :f :read, :value nil, :process 95, :time 55464257499, :index 4580}
{:type :ok, :f :read, :value 1, :process 95, :time 55465620899, :index 4581}
{:type :invoke, :f :write, :value 0, :process 44, :time 55501016517, :index 4582}
{:type :ok, :f :write, :value 0, :process 44, :time 55514090516, :index 4583}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 55526911665, :index 4584}
{:type :ok, :f :cas, :value [0 1], :process 53, :time 55530793715, :index 4585}
{:type :invoke, :f :write, :value 0, :process 44, :time 55552519694, :index 4586}
{:type :invoke, :f :read, :value nil, :process 53, :time 55554100093, :index 4587}
{:type :ok, :f :read, :value 1, :process 53, :time 55555623923, :index 4588}
{:type :ok, :f :write, :value 0, :process 44, :time 55555876893, :index 4589}
{:type :invoke, :f :cas, :value [3 0], :process 95, :time 55565852952, :index 4590}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 55567929823, :index 4591}
{:type :fail, :f :cas, :value [3 0], :process 95, :time 55568770592, :index 4592}
{:type :invoke, :f :read, :value nil, :process 52, :time 55569940732, :index 4593}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 55570922902, :index 4594}
{:type :ok, :f :read, :value 0, :process 52, :time 55571258532, :index 4595}
{:type :invoke, :f :cas, :value [1 1], :process 95, :time 55599168741, :index 4596}
{:type :fail, :f :cas, :value [1 1], :process 95, :time 55604165150, :index 4597}
{:type :invoke, :f :cas, :value [1 1], :process 53, :time 55633887298, :index 4598}
{:type :fail, :f :cas, :value [1 1], :process 53, :time 55637475018, :index 4599}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 55724158623, :index 4600}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 55727915723, :index 4601}
{:type :invoke, :f :write, :value 1, :process 44, :time 55737105892, :index 4602}
{:type :ok, :f :write, :value 1, :process 44, :time 55740130272, :index 4603}
{:type :invoke, :f :write, :value 0, :process 52, :time 55756445841, :index 4604}
{:type :ok, :f :write, :value 0, :process 52, :time 55759822331, :index 4605}
{:type :invoke, :f :write, :value 4, :process 95, :time 55772498520, :index 4606}
{:type :ok, :f :write, :value 4, :process 95, :time 55775608910, :index 4607}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 55780161070, :index 4608}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 55782825099, :index 4609}
{:type :invoke, :f :read, :value nil, :process 44, :time 55833355776, :index 4610}
{:type :invoke, :f :cas, :value [3 3], :process 95, :time 55833858446, :index 4611}
{:type :ok, :f :read, :value 4, :process 44, :time 55834822066, :index 4612}
{:type :fail, :f :cas, :value [3 3], :process 95, :time 55836918796, :index 4613}
{:type :invoke, :f :read, :value nil, :process 52, :time 55897074602, :index 4616}
{:type :ok, :f :read, :value 4, :process 52, :time 55898468732, :index 4617}
{:type :invoke, :f :write, :value 3, :process 53, :time 55901036742, :index 4618}
{:type :ok, :f :write, :value 3, :process 53, :time 55904517392, :index 4619}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 55905362062, :index 4620}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 55909467051, :index 4621}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
