{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :invoke, :f :cas, :value [0 3], :process 44, :time 38870342556, :index 3008}
{:type :ok, :f :cas, :value [0 3], :process 44, :time 38875411516, :index 3009}
{:type :invoke, :f :read, :value nil, :process 95, :time 38901906294, :index 3012}
{:type :ok, :f :read, :value 3, :process 95, :time 38903320974, :index 3013}
{:type :invoke, :f :read, :value nil, :process 52, :time 38990043969, :index 3016}
{:type :invoke, :f :read, :value nil, :process 44, :time 38991689489, :index 3017}
{:type :ok, :f :read, :value 3, :process 52, :time 38991947549, :index 3018}
{:type :ok, :f :read, :value 3, :process 44, :time 38993069589, :index 3019}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 38996194689, :index 3020}
{:type :fail, :f :cas, :value [1 0], :process 52, :time 39000773628, :index 3023}
{:type :invoke, :f :read, :value nil, :process 53, :time 39024075097, :index 3024}
{:type :ok, :f :read, :value 3, :process 53, :time 39025891307, :index 3025}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 39035922066, :index 3026}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 39040084026, :index 3027}
{:type :invoke, :f :cas, :value [4 3], :process 95, :time 39098608982, :index 3028}
{:type :invoke, :f :read, :value nil, :process 52, :time 39100045942, :index 3029}
{:type :fail, :f :cas, :value [4 3], :process 95, :time 39102838302, :index 3030}
{:type :ok, :f :read, :value 3, :process 52, :time 39103381372, :index 3031}
{:type :invoke, :f :write, :value 2, :process 31, :time 39107397532, :index 3032}
{:type :ok, :f :write, :value 2, :process 31, :time 39111069152, :index 3033}
{:type :invoke, :f :write, :value 4, :process 53, :time 39147168810, :index 3034}
{:type :ok, :f :write, :value 4, :process 53, :time 39151753759, :index 3035}
{:type :invoke, :f :write, :value 2, :process 53, :time 39158118909, :index 3036}
{:type :ok, :f :write, :value 2, :process 53, :time 39162123608, :index 3037}
{:type :invoke, :f :write, :value 4, :process 31, :time 39174383818, :index 3038}
{:type :invoke, :f :cas, :value [0 0], :process 44, :time 39179283177, :index 3039}
{:type :ok, :f :write, :value 4, :process 31, :time 39181307588, :index 3040}
{:type :invoke, :f :read, :value nil, :process 52, :time 39181881008, :index 3041}
{:type :ok, :f :read, :value 4, :process 52, :time 39183178157, :index 3042}
{:type :fail, :f :cas, :value [0 0], :process 44, :time 39186486197, :index 3043}
{:type :invoke, :f :read, :value nil, :process 44, :time 39208715136, :index 3044}
{:type :ok, :f :read, :value 4, :process 44, :time 39210568856, :index 3045}
{:type :invoke, :f :read, :value nil, :process 31, :time 39243700083, :index 3046}
{:type :ok, :f :read, :value 4, :process 31, :time 39245536713, :index 3047}
{:type :invoke, :f :write, :value 4, :process 52, :time 39245496703, :index 3048}
{:type :ok, :f :write, :value 4, :process 52, :time 39249545343, :index 3049}
{:type :invoke, :f :read, :value nil, :process 53, :time 39295534830, :index 3050}
{:type :ok, :f :read, :value 4, :process 53, :time 39297190550, :index 3051}
{:type :invoke, :f :write, :value 0, :process 95, :time 39297155880, :index 3052}
{:type :ok, :f :write, :value 0, :process 95, :time 39302660720, :index 3053}
{:type :invoke, :f :write, :value 1, :process 95, :time 39310905080, :index 3054}
{:type :ok, :f :write, :value 1, :process 95, :time 39315212989, :index 3055}
{:type :invoke, :f :cas, :value [0 4], :process 53, :time 39315419069, :index 3056}
{:type :fail, :f :cas, :value [0 4], :process 53, :time 39321475468, :index 3057}
{:type :invoke, :f :write, :value 3, :process 44, :time 39331845408, :index 3058}
{:type :ok, :f :write, :value 3, :process 44, :time 39335835558, :index 3059}
{:type :invoke, :f :write, :value 4, :process 52, :time 39358939297, :index 3060}
{:type :ok, :f :write, :value 4, :process 52, :time 39363102556, :index 3061}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 39369893016, :index 3062}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 39371492445, :index 3063}
{:type :invoke, :f :cas, :value [3 4], :process 44, :time 39376214385, :index 3064}
{:type :invoke, :f :cas, :value [4 2], :process 95, :time 39375458735, :index 3065}
{:type :fail, :f :cas, :value [2 2], :process 53, :time 39379610805, :index 3066}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 39381407555, :index 3067}
{:type :fail, :f :cas, :value [3 4], :process 44, :time 39395247984, :index 3068}
{:type :ok, :f :cas, :value [4 2], :process 95, :time 39395365724, :index 3069}
{:type :invoke, :f :write, :value 1, :process 31, :time 39419877273, :index 3070}
{:type :ok, :f :write, :value 1, :process 31, :time 39425114412, :index 3071}
{:type :invoke, :f :read, :value nil, :process 44, :time 39453795391, :index 3072}
{:type :ok, :f :read, :value 1, :process 44, :time 39455495051, :index 3073}
{:type :invoke, :f :read, :value nil, :process 52, :time 39501676828, :index 3074}
{:type :ok, :f :read, :value 1, :process 52, :time 39503617108, :index 3075}
{:type :invoke, :f :write, :value 1, :process 44, :time 39507777267, :index 3076}
{:type :ok, :f :write, :value 1, :process 44, :time 39515124657, :index 3077}
{:type :invoke, :f :read, :value nil, :process 44, :time 39531522236, :index 3078}
{:type :ok, :f :read, :value 1, :process 44, :time 39533337686, :index 3079}
{:type :invoke, :f :write, :value 3, :process 31, :time 39560408014, :index 3080}
{:type :ok, :f :write, :value 3, :process 31, :time 39564097274, :index 3081}
{:type :invoke, :f :write, :value 4, :process 95, :time 39565673754, :index 3082}
{:type :invoke, :f :read, :value nil, :process 53, :time 39566984364, :index 3083}
{:type :ok, :f :read, :value 3, :process 53, :time 39568345804, :index 3084}
{:type :ok, :f :write, :value 4, :process 95, :time 39569598964, :index 3085}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 39592966792, :index 3086}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 39596464222, :index 3087}
{:type :invoke, :f :write, :value 0, :process 44, :time 39667667647, :index 3088}
{:type :ok, :f :write, :value 0, :process 44, :time 39672914377, :index 3089}
{:type :invoke, :f :write, :value 3, :process 31, :time 39699542686, :index 3090}
{:type :ok, :f :write, :value 3, :process 31, :time 39708980485, :index 3091}
{:type :invoke, :f :read, :value nil, :process 53, :time 39713625465, :index 3092}
{:type :ok, :f :read, :value 3, :process 53, :time 39715350135, :index 3093}
{:type :invoke, :f :write, :value 4, :process 95, :time 39727840994, :index 3094}
{:type :ok, :f :write, :value 4, :process 95, :time 39731720343, :index 3095}
{:type :invoke, :f :write, :value 1, :process 44, :time 39768090551, :index 3096}
{:type :ok, :f :write, :value 1, :process 44, :time 39772918391, :index 3097}
{:type :invoke, :f :write, :value 3, :process 95, :time 39773991961, :index 3098}
{:type :ok, :f :write, :value 3, :process 95, :time 39777487791, :index 3099}
{:type :invoke, :f :write, :value 2, :process 52, :time 39778930731, :index 3100}
{:type :ok, :f :write, :value 2, :process 52, :time 39787255690, :index 3101}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 39824393688, :index 3102}
{:type :ok, :f :cas, :value [2 3], :process 31, :time 39828418978, :index 3103}
{:type :invoke, :f :read, :value nil, :process 52, :time 39850639587, :index 3104}
{:type :ok, :f :read, :value 3, :process 52, :time 39852289876, :index 3105}
{:type :invoke, :f :cas, :value [1 0], :process 95, :time 39865820435, :index 3106}
{:type :fail, :f :cas, :value [1 0], :process 95, :time 39869573575, :index 3107}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 39887810074, :index 3108}
{:type :ok, :f :cas, :value [3 1], :process 31, :time 39893413493, :index 3109}
{:type :invoke, :f :cas, :value [0 4], :process 52, :time 39897648553, :index 3110}
{:type :fail, :f :cas, :value [0 4], :process 52, :time 39901983823, :index 3111}
{:type :invoke, :f :write, :value 0, :process 53, :time 39913661872, :index 3112}
{:type :ok, :f :write, :value 0, :process 53, :time 39918020652, :index 3113}
{:type :invoke, :f :write, :value 1, :process 52, :time 39922281162, :index 3114}
{:type :ok, :f :write, :value 1, :process 52, :time 39925943332, :index 3115}
{:type :invoke, :f :cas, :value [1 3], :process 44, :time 39941333750, :index 3116}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 39945241021, :index 3117}
{:type :ok, :f :cas, :value [1 3], :process 44, :time 39945776861, :index 3118}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 39948669640, :index 3119}
{:type :invoke, :f :write, :value 0, :process 44, :time 39970021609, :index 3120}
{:type :ok, :f :write, :value 0, :process 44, :time 39973704059, :index 3121}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 39996728827, :index 3122}
{:type :invoke, :f :cas, :value [4 1], :process 53, :time 39998355297, :index 3123}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 40000431007, :index 3124}
{:type :fail, :f :cas, :value [4 1], :process 53, :time 40001402087, :index 3125}
{:type :invoke, :f :cas, :value [3 1], :process 95, :time 40001902447, :index 3126}
{:type :fail, :f :cas, :value [3 1], :process 95, :time 40004720007, :index 3127}
{:type :invoke, :f :read, :value nil, :process 95, :time 40008981137, :index 3128}
{:type :ok, :f :read, :value 0, :process 95, :time 40010223297, :index 3129}
{:type :invoke, :f :write, :value 1, :process 44, :time 40032964525, :index 3130}
{:type :ok, :f :write, :value 1, :process 44, :time 40036723195, :index 3131}
{:type :invoke, :f :write, :value 2, :process 52, :time 40084993762, :index 3132}
{:type :ok, :f :write, :value 2, :process 52, :time 40089295642, :index 3133}
{:type :invoke, :f :read, :value nil, :process 44, :time 40109075811, :index 3134}
{:type :ok, :f :read, :value 2, :process 44, :time 40111039240, :index 3135}
{:type :invoke, :f :write, :value 1, :process 31, :time 40120758010, :index 3136}
{:type :invoke, :f :cas, :value [4 2], :process 44, :time 40121297310, :index 3137}
{:type :ok, :f :write, :value 1, :process 31, :time 40124748919, :index 3138}
{:type :fail, :f :cas, :value [4 2], :process 44, :time 40125353099, :index 3139}
{:type :invoke, :f :cas, :value [3 4], :process 53, :time 40125357969, :index 3140}
{:type :fail, :f :cas, :value [3 4], :process 53, :time 40128224839, :index 3141}
{:type :invoke, :f :read, :value nil, :process 53, :time 40151449768, :index 3142}
{:type :ok, :f :read, :value 1, :process 53, :time 40153193318, :index 3143}
{:type :invoke, :f :read, :value nil, :process 95, :time 40178513166, :index 3144}
{:type :ok, :f :read, :value 1, :process 95, :time 40180284556, :index 3145}
{:type :invoke, :f :read, :value nil, :process 52, :time 40198643795, :index 3146}
{:type :ok, :f :read, :value 1, :process 52, :time 40200391005, :index 3147}
{:type :invoke, :f :read, :value nil, :process 52, :time 40212647384, :index 3148}
{:type :ok, :f :read, :value 1, :process 52, :time 40214337494, :index 3149}
{:type :invoke, :f :write, :value 0, :process 52, :time 40231599333, :index 3150}
{:type :ok, :f :write, :value 0, :process 52, :time 40235688663, :index 3151}
{:type :invoke, :f :write, :value 3, :process 52, :time 40258985621, :index 3152}
{:type :ok, :f :write, :value 3, :process 52, :time 40263865541, :index 3153}
{:type :invoke, :f :read, :value nil, :process 53, :time 40286611080, :index 3154}
{:type :ok, :f :read, :value 3, :process 53, :time 40288373489, :index 3155}
{:type :invoke, :f :read, :value nil, :process 44, :time 40307628878, :index 3156}
{:type :ok, :f :read, :value 3, :process 44, :time 40309483738, :index 3157}
{:type :invoke, :f :write, :value 0, :process 31, :time 40321085448, :index 3158}
{:type :invoke, :f :cas, :value [0 3], :process 52, :time 40324224567, :index 3159}
{:type :ok, :f :write, :value 0, :process 31, :time 40326765547, :index 3160}
{:type :ok, :f :cas, :value [0 3], :process 52, :time 40327836787, :index 3161}
{:type :invoke, :f :cas, :value [2 4], :process 95, :time 40330512377, :index 3162}
{:type :fail, :f :cas, :value [2 4], :process 95, :time 40333895917, :index 3163}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 40373864364, :index 3164}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 40379479344, :index 3165}
{:type :invoke, :f :cas, :value [0 1], :process 95, :time 40400225973, :index 3166}
{:type :fail, :f :cas, :value [0 1], :process 95, :time 40404439612, :index 3167}
{:type :invoke, :f :write, :value 1, :process 31, :time 40420085741, :index 3168}
{:type :ok, :f :write, :value 1, :process 31, :time 40424272671, :index 3169}
{:type :invoke, :f :read, :value nil, :process 52, :time 40455075179, :index 3170}
{:type :ok, :f :read, :value 1, :process 52, :time 40456868729, :index 3171}
{:type :invoke, :f :read, :value nil, :process 53, :time 40461638389, :index 3172}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 40462229149, :index 3173}
{:type :ok, :f :read, :value 1, :process 53, :time 40463188019, :index 3174}
{:type :invoke, :f :read, :value nil, :process 95, :time 40463763199, :index 3175}
{:type :ok, :f :read, :value 1, :process 95, :time 40465046958, :index 3176}
{:type :ok, :f :cas, :value [1 3], :process 52, :time 40466217149, :index 3177}
{:type :invoke, :f :read, :value nil, :process 31, :time 40471580358, :index 3178}
{:type :ok, :f :read, :value 3, :process 31, :time 40472851938, :index 3179}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 40500845237, :index 3180}
{:type :invoke, :f :cas, :value [1 1], :process 53, :time 40502425887, :index 3181}
{:type :fail, :f :cas, :value [1 1], :process 44, :time 40505239676, :index 3182}
{:type :fail, :f :cas, :value [1 1], :process 53, :time 40507104376, :index 3183}
{:type :invoke, :f :write, :value 0, :process 95, :time 40510330216, :index 3184}
{:type :ok, :f :write, :value 0, :process 95, :time 40513588246, :index 3185}
{:type :invoke, :f :read, :value nil, :process 31, :time 40542077624, :index 3186}
{:type :ok, :f :read, :value 0, :process 31, :time 40543937704, :index 3187}
{:type :invoke, :f :cas, :value [1 2], :process 53, :time 40547315164, :index 3188}
{:type :fail, :f :cas, :value [1 2], :process 53, :time 40551439033, :index 3189}
{:type :invoke, :f :write, :value 2, :process 31, :time 40562243892, :index 3190}
{:type :ok, :f :write, :value 2, :process 31, :time 40566003032, :index 3191}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 40585831011, :index 3192}
{:type :ok, :f :cas, :value [2 1], :process 53, :time 40589870701, :index 3193}
{:type :invoke, :f :write, :value 4, :process 44, :time 40590440811, :index 3194}
{:type :ok, :f :write, :value 4, :process 44, :time 40596825141, :index 3195}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 40603490490, :index 3196}
{:type :fail, :f :cas, :value [3 0], :process 52, :time 40607433710, :index 3197}
{:type :invoke, :f :write, :value 3, :process 52, :time 40639810928, :index 3198}
{:type :ok, :f :write, :value 3, :process 52, :time 40646565447, :index 3199}
{:type :invoke, :f :cas, :value [4 4], :process 44, :time 40653242127, :index 3200}
{:type :invoke, :f :read, :value nil, :process 53, :time 40655179207, :index 3201}
{:type :ok, :f :read, :value 3, :process 53, :time 40656559997, :index 3202}
{:type :fail, :f :cas, :value [4 4], :process 44, :time 40657252927, :index 3203}
{:type :invoke, :f :cas, :value [1 0], :process 95, :time 40676866346, :index 3204}
{:type :fail, :f :cas, :value [1 0], :process 95, :time 40681248545, :index 3205}
{:type :invoke, :f :read, :value nil, :process 31, :time 40709334074, :index 3206}
{:type :ok, :f :read, :value 3, :process 31, :time 40711128244, :index 3207}
{:type :invoke, :f :write, :value 1, :process 44, :time 40720425723, :index 3208}
{:type :ok, :f :write, :value 1, :process 44, :time 40724404013, :index 3209}
{:type :invoke, :f :read, :value nil, :process 53, :time 40742828701, :index 3210}
{:type :ok, :f :read, :value 1, :process 53, :time 40744730961, :index 3211}
{:type :invoke, :f :write, :value 0, :process 52, :time 40773945540, :index 3212}
{:type :ok, :f :write, :value 0, :process 52, :time 40781222889, :index 3213}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
