{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :invoke, :f :read, :value nil, :process 95, :time 51527983330, :index 4218}
{:type :ok, :f :read, :value 0, :process 95, :time 51530738950, :index 4219}
{:type :invoke, :f :read, :value nil, :process 95, :time 51542978609, :index 4220}
{:type :ok, :f :read, :value 0, :process 95, :time 51545515359, :index 4221}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 51565678098, :index 4222}
{:type :ok, :f :cas, :value [0 3], :process 31, :time 51570397238, :index 4223}
{:type :invoke, :f :read, :value nil, :process 44, :time 51579395717, :index 4224}
{:type :ok, :f :read, :value 3, :process 44, :time 51581970467, :index 4225}
{:type :invoke, :f :cas, :value [0 3], :process 53, :time 51592688236, :index 4226}
{:type :fail, :f :cas, :value [0 3], :process 53, :time 51597175216, :index 4227}
{:type :invoke, :f :write, :value 2, :process 52, :time 51660624822, :index 4228}
{:type :ok, :f :write, :value 2, :process 52, :time 51665517472, :index 4229}
{:type :invoke, :f :write, :value 4, :process 31, :time 51698786270, :index 4230}
{:type :invoke, :f :write, :value 3, :process 44, :time 51704237389, :index 4231}
{:type :ok, :f :write, :value 4, :process 31, :time 51713920279, :index 4232}
{:type :ok, :f :write, :value 3, :process 44, :time 51716119539, :index 4233}
{:type :invoke, :f :write, :value 2, :process 95, :time 51742830107, :index 4234}
{:type :invoke, :f :cas, :value [1 4], :process 53, :time 51744461937, :index 4235}
{:type :ok, :f :write, :value 2, :process 95, :time 51748678547, :index 4236}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 51749304327, :index 4237}
{:type :fail, :f :cas, :value [1 4], :process 53, :time 51751069027, :index 4238}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 51756401646, :index 4239}
{:type :invoke, :f :cas, :value [2 3], :process 95, :time 51781131344, :index 4240}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 51781534135, :index 4241}
{:type :ok, :f :cas, :value [2 3], :process 95, :time 51786597404, :index 4242}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 51786672754, :index 4243}
{:type :invoke, :f :write, :value 2, :process 53, :time 51848410051, :index 4244}
{:type :ok, :f :write, :value 2, :process 53, :time 51853604610, :index 4245}
{:type :invoke, :f :write, :value 0, :process 52, :time 51860737059, :index 4246}
{:type :ok, :f :write, :value 0, :process 52, :time 51865141619, :index 4247}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 51896683417, :index 4248}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :fail, :f :cas, :value [4 2], :process 31, :time 51907915437, :index 4250}
{:type :invoke, :f :cas, :value [2 1], :process 95, :time 51948870204, :index 4251}
{:type :fail, :f :cas, :value [2 1], :process 95, :time 51955131534, :index 4252}
{:type :invoke, :f :read, :value nil, :process 44, :time 51967923583, :index 4253}
{:type :ok, :f :read, :value 0, :process 44, :time 51970744853, :index 4254}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 51996288521, :index 4255}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 52003243331, :index 4256}
{:type :invoke, :f :write, :value 2, :process 52, :time 52005868821, :index 4257}
{:type :invoke, :f :write, :value 1, :process 53, :time 52005920791, :index 4258}
{:type :ok, :f :write, :value 2, :process 52, :time 52018849160, :index 4259}
{:type :invoke, :f :read, :value nil, :process 44, :time 52021144240, :index 4260}
{:type :ok, :f :write, :value 1, :process 53, :time 52024612470, :index 4261}
{:type :ok, :f :read, :value 1, :process 44, :time 52026509160, :index 4262}
{:type :invoke, :f :write, :value 1, :process 31, :time 52043532608, :index 4263}
{:type :ok, :f :write, :value 1, :process 31, :time 52048175018, :index 4264}
{:type :invoke, :f :cas, :value [1 3], :process 95, :time 52049427118, :index 4265}
{:type :ok, :f :cas, :value [1 3], :process 95, :time 52058023408, :index 4266}
{:type :invoke, :f :write, :value 4, :process 31, :time 52098563535, :index 4267}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 52106210685, :index 4268}
{:type :ok, :f :write, :value 4, :process 31, :time 52107117615, :index 4269}
{:type :fail, :f :cas, :value [3 0], :process 52, :time 52112476664, :index 4270}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 52138754773, :index 4272}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 52143459613, :index 4273}
{:type :invoke, :f :read, :value nil, :process 44, :time 52154805052, :index 4274}
{:type :ok, :f :read, :value 4, :process 44, :time 52157328712, :index 4275}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 52174457460, :index 4276}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 52178770790, :index 4277}
{:type :invoke, :f :cas, :value [4 2], :process 53, :time 52211060468, :index 4278}
{:type :ok, :f :cas, :value [4 2], :process 53, :time 52219531858, :index 4279}
{:type :invoke, :f :read, :value nil, :process 53, :time 52230816447, :index 4280}
{:type :ok, :f :read, :value 2, :process 53, :time 52233318007, :index 4281}
{:type :invoke, :f :write, :value 3, :process 31, :time 52244000746, :index 4282}
{:type :ok, :f :write, :value 3, :process 31, :time 52247867366, :index 4283}
{:type :invoke, :f :read, :value nil, :process 95, :time 52254344555, :index 4284}
{:type :ok, :f :read, :value 3, :process 95, :time 52256468395, :index 4285}
{:type :invoke, :f :cas, :value [4 2], :process 44, :time 52269598045, :index 4286}
{:type :fail, :f :cas, :value [4 2], :process 44, :time 52273529524, :index 4287}
{:type :invoke, :f :read, :value nil, :process 52, :time 52292768953, :index 4288}
{:type :ok, :f :read, :value 3, :process 52, :time 52295135743, :index 4289}
{:type :invoke, :f :cas, :value [1 1], :process 95, :time 52342718440, :index 4290}
{:type :fail, :f :cas, :value [1 1], :process 95, :time 52347511280, :index 4291}
{:type :invoke, :f :write, :value 2, :process 44, :time 52360767969, :index 4292}
{:type :ok, :f :write, :value 2, :process 44, :time 52365822699, :index 4293}
{:type :invoke, :f :write, :value 1, :process 53, :time 52378543428, :index 4294}
{:type :ok, :f :write, :value 1, :process 53, :time 52382487988, :index 4295}
{:type :invoke, :f :write, :value 2, :process 53, :time 52382632378, :index 4296}
{:type :ok, :f :write, :value 2, :process 53, :time 52386111187, :index 4297}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 52387359187, :index 4298}
{:type :fail, :f :cas, :value [4 4], :process 52, :time 52390876667, :index 4299}
{:type :invoke, :f :read, :value nil, :process 53, :time 52396341017, :index 4300}
{:type :ok, :f :read, :value 2, :process 53, :time 52398391717, :index 4301}
{:type :invoke, :f :read, :value nil, :process 53, :time 52404136726, :index 4302}
{:type :ok, :f :read, :value 2, :process 53, :time 52410705496, :index 4303}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 52443118384, :index 4304}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 52447922214, :index 4305}
{:type :invoke, :f :read, :value nil, :process 31, :time 52465181893, :index 4306}
{:type :ok, :f :read, :value 2, :process 31, :time 52467912922, :index 4307}
{:type :invoke, :f :cas, :value [4 4], :process 44, :time 52476054912, :index 4308}
{:type :fail, :f :cas, :value [4 4], :process 44, :time 52479964322, :index 4309}
{:type :invoke, :f :read, :value nil, :process 31, :time 52517273590, :index 4310}
{:type :ok, :f :read, :value 2, :process 31, :time 52520339849, :index 4311}
{:type :invoke, :f :cas, :value [1 3], :process 53, :time 52528058249, :index 4312}
{:type :invoke, :f :read, :value nil, :process 52, :time 52528168879, :index 4313}
{:type :ok, :f :read, :value 2, :process 52, :time 52531037389, :index 4314}
{:type :fail, :f :cas, :value [1 3], :process 53, :time 52533117809, :index 4315}
{:type :invoke, :f :write, :value 3, :process 95, :time 52533842038, :index 4316}
{:type :invoke, :f :read, :value nil, :process 53, :time 52535427928, :index 4317}
{:type :ok, :f :read, :value 2, :process 53, :time 52538087838, :index 4318}
{:type :ok, :f :write, :value 3, :process 95, :time 52538385228, :index 4319}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 52561296447, :index 4320}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 52565439856, :index 4321}
{:type :invoke, :f :write, :value 3, :process 31, :time 52592613805, :index 4322}
{:type :ok, :f :write, :value 3, :process 31, :time 52596204935, :index 4323}
{:type :invoke, :f :read, :value nil, :process 53, :time 52642717912, :index 4324}
{:type :ok, :f :read, :value 3, :process 53, :time 52645670522, :index 4325}
{:type :invoke, :f :write, :value 4, :process 95, :time 52664578050, :index 4326}
{:type :invoke, :f :cas, :value [2 1], :process 44, :time 52669004890, :index 4327}
{:type :ok, :f :write, :value 4, :process 95, :time 52670340660, :index 4328}
{:type :fail, :f :cas, :value [2 1], :process 44, :time 52673337600, :index 4329}
{:type :invoke, :f :write, :value 3, :process 53, :time 52674895220, :index 4330}
{:type :ok, :f :write, :value 3, :process 53, :time 52678887790, :index 4331}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 52680090940, :index 4332}
{:type :fail, :f :cas, :value [0 0], :process 53, :time 52683751509, :index 4333}
{:type :invoke, :f :read, :value nil, :process 52, :time 52715377647, :index 4334}
{:type :invoke, :f :read, :value nil, :process 31, :time 52716418747, :index 4335}
{:type :ok, :f :read, :value 3, :process 31, :time 52722545417, :index 4336}
{:type :ok, :f :read, :value 3, :process 52, :time 52722634367, :index 4337}
{:type :invoke, :f :write, :value 2, :process 95, :time 52740645526, :index 4338}
{:type :ok, :f :write, :value 2, :process 95, :time 52745707705, :index 4339}
{:type :invoke, :f :read, :value nil, :process 31, :time 52747868615, :index 4340}
{:type :ok, :f :read, :value 2, :process 31, :time 52750423815, :index 4341}
{:type :invoke, :f :cas, :value [3 4], :process 44, :time 52789569023, :index 4342}
{:type :fail, :f :cas, :value [3 4], :process 44, :time 52794166252, :index 4343}
{:type :invoke, :f :write, :value 2, :process 95, :time 52823051091, :index 4344}
{:type :invoke, :f :read, :value nil, :process 52, :time 52825868440, :index 4345}
{:type :ok, :f :read, :value 2, :process 52, :time 52828431271, :index 4346}
{:type :ok, :f :write, :value 2, :process 95, :time 52829614811, :index 4347}
{:type :invoke, :f :cas, :value [3 0], :process 53, :time 52838983650, :index 4348}
{:type :fail, :f :cas, :value [3 0], :process 53, :time 52843278799, :index 4349}
{:type :invoke, :f :read, :value nil, :process 31, :time 52907707646, :index 4350}
{:type :ok, :f :read, :value 2, :process 31, :time 52912000955, :index 4351}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 52937779404, :index 4352}
{:type :fail, :f :cas, :value [0 1], :process 52, :time 52942167224, :index 4353}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 52969464252, :index 4354}
{:type :invoke, :f :write, :value 0, :process 44, :time 52969490862, :index 4355}
{:type :ok, :f :write, :value 0, :process 44, :time 52974468571, :index 4356}
{:type :fail, :f :cas, :value [4 4], :process 52, :time 52974520911, :index 4357}
{:type :invoke, :f :cas, :value [3 1], :process 53, :time 52975498341, :index 4358}
{:type :invoke, :f :cas, :value [1 2], :process 95, :time 52977952491, :index 4359}
{:type :fail, :f :cas, :value [3 1], :process 53, :time 52979433771, :index 4360}
{:type :fail, :f :cas, :value [1 2], :process 95, :time 52981786631, :index 4361}
{:type :invoke, :f :read, :value nil, :process 52, :time 53016807029, :index 4362}
{:type :ok, :f :read, :value 0, :process 52, :time 53020330999, :index 4363}
{:type :invoke, :f :write, :value 4, :process 44, :time 53059804266, :index 4364}
{:type :ok, :f :write, :value 4, :process 44, :time 53064734066, :index 4365}
{:type :invoke, :f :write, :value 4, :process 31, :time 53108601503, :index 4366}
{:type :ok, :f :write, :value 4, :process 31, :time 53116147883, :index 4367}
{:type :invoke, :f :read, :value nil, :process 52, :time 53135633152, :index 4368}
{:type :invoke, :f :write, :value 4, :process 95, :time 53137061552, :index 4369}
{:type :ok, :f :read, :value 4, :process 52, :time 53138102692, :index 4370}
{:type :ok, :f :write, :value 4, :process 95, :time 53141123341, :index 4371}
{:type :invoke, :f :write, :value 3, :process 31, :time 53165536070, :index 4372}
{:type :invoke, :f :read, :value nil, :process 53, :time 53165696920, :index 4373}
{:type :ok, :f :read, :value 4, :process 53, :time 53168369730, :index 4374}
{:type :ok, :f :write, :value 3, :process 31, :time 53169957100, :index 4375}
{:type :invoke, :f :write, :value 4, :process 95, :time 53227400336, :index 4376}
{:type :ok, :f :write, :value 4, :process 95, :time 53232667855, :index 4377}
{:type :invoke, :f :cas, :value [3 2], :process 52, :time 53248371475, :index 4378}
{:type :fail, :f :cas, :value [3 2], :process 52, :time 53253326535, :index 4379}
{:type :invoke, :f :read, :value nil, :process 31, :time 53261198014, :index 4380}
{:type :invoke, :f :cas, :value [3 0], :process 44, :time 53262081424, :index 4381}
{:type :ok, :f :read, :value 4, :process 31, :time 53263720374, :index 4382}
{:type :fail, :f :cas, :value [3 0], :process 44, :time 53265807884, :index 4383}
{:type :invoke, :f :read, :value nil, :process 53, :time 53269606993, :index 4384}
{:type :ok, :f :read, :value 4, :process 53, :time 53272148913, :index 4385}
{:type :invoke, :f :cas, :value [3 3], :process 52, :time 53325600780, :index 4386}
{:type :fail, :f :cas, :value [3 3], :process 52, :time 53330502470, :index 4387}
{:type :invoke, :f :read, :value nil, :process 44, :time 53348012899, :index 4388}
{:type :ok, :f :read, :value 4, :process 44, :time 53350862848, :index 4389}
{:type :invoke, :f :read, :value nil, :process 44, :time 53376178837, :index 4390}
{:type :ok, :f :read, :value 4, :process 44, :time 53379013937, :index 4391}
{:type :invoke, :f :write, :value 4, :process 95, :time 53382922927, :index 4392}
{:type :ok, :f :write, :value 4, :process 95, :time 53387329106, :index 4393}
{:type :invoke, :f :write, :value 3, :process 31, :time 53390947566, :index 4394}
{:type :invoke, :f :write, :value 1, :process 95, :time 53393618396, :index 4395}
{:type :ok, :f :write, :value 3, :process 31, :time 53396896516, :index 4396}
{:type :ok, :f :write, :value 1, :process 95, :time 53397563456, :index 4397}
{:type :invoke, :f :read, :value nil, :process 52, :time 53406816205, :index 4398}
{:type :ok, :f :read, :value 1, :process 52, :time 53411383544, :index 4399}
{:type :invoke, :f :cas, :value [3 4], :process 53, :time 53411760775, :index 4400}
{:type :fail, :f :cas, :value [3 4], :process 53, :time 53423052364, :index 4401}
{:type :invoke, :f :cas, :value [3 4], :process 95, :time 53429762164, :index 4402}
{:type :fail, :f :cas, :value [3 4], :process 95, :time 53433738314, :index 4403}
{:type :invoke, :f :read, :value nil, :process 95, :time 53504087759, :index 4404}
{:type :ok, :f :read, :value 1, :process 95, :time 53520900728, :index 4405}
{:type :invoke, :f :read, :value nil, :process 53, :time 53531406128, :index 4406}
{:type :ok, :f :read, :value 1, :process 53, :time 53533500207, :index 4407}
{:type :invoke, :f :cas, :value [3 0], :process 44, :time 53552356576, :index 4408}
{:type :invoke, :f :write, :value 0, :process 31, :time 53564393885, :index 4409}
{:type :invoke, :f :read, :value nil, :process 52, :time 53598661853, :index 4410}
{:type :invoke, :f :read, :value nil, :process 95, :time 53818942760, :index 4411}
{:type :invoke, :f :write, :value 1, :process 53, :time 53819240560, :index 4412}
{:type :fail, :f :cas, :value [3 0], :process 44, :time 53823035550, :index 4413}
{:type :ok, :f :write, :value 0, :process 31, :time 53826714819, :index 4414}
{:type :ok, :f :write, :value 1, :process 53, :time 53826723909, :index 4415}
{:type :ok, :f :read, :value 1, :process 52, :time 53828767839, :index 4416}
{:type :ok, :f :read, :value 1, :process 95, :time 53828838849, :index 4417}
{:type :invoke, :f :read, :value nil, :process 44, :time 53938398652, :index 4422}
{:type :ok, :f :read, :value 1, :process 44, :time 53939823422, :index 4423}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
