{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :invoke, :f :read, :value nil, :process 55, :time 18634738657, :index 1402}
{:type :ok, :f :read, :value 0, :process 55, :time 18639103397, :index 1404}
{:type :invoke, :f :read, :value nil, :process 32, :time 18642673117, :index 1406}
{:type :ok, :f :read, :value 0, :process 32, :time 18646160437, :index 1407}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 18655782056, :index 1408}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 18659192206, :index 1409}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 18740896871, :index 1412}
{:type :invoke, :f :read, :value nil, :process 32, :time 18750680350, :index 1413}
{:type :invoke, :f :write, :value 0, :process 16, :time 18791448708, :index 1414}
{:type :invoke, :f :write, :value 0, :process 55, :time 18816425746, :index 1415}
{:type :invoke, :f :read, :value nil, :process 38, :time 18860083423, :index 1416}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 19849810863, :index 1417}
{:type :ok, :f :read, :value 0, :process 32, :time 19849846763, :index 1418}
{:type :ok, :f :read, :value 0, :process 38, :time 19849847263, :index 1419}
{:type :info, :f :write, :value 0, :process 16, :time 19849905963, :error "Fail to set", :index 1420}
{:type :info, :f :write, :value 0, :process 55, :time 19849906053, :error "Fail to set", :index 1421}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 19937277118, :index 1422}
{:type :invoke, :f :write, :value 3, :process 60, :time 20015495603, :index 1423}
{:type :invoke, :f :read, :value nil, :process 21, :time 20020566103, :index 1424}
{:type :invoke, :f :write, :value 0, :process 38, :time 20032247842, :index 1425}
{:type :invoke, :f :read, :value nil, :process 32, :time 20034185952, :index 1426}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 21864067609, :index 1429}
{:type :ok, :f :read, :value 0, :process 32, :time 21864116679, :index 1430}
{:type :info, :f :write, :value 0, :process 38, :time 21864134349, :error "Fail to set", :index 1431}
{:type :ok, :f :read, :value 0, :process 21, :time 21864184329, :index 1432}
{:type :info, :f :write, :value 3, :process 60, :time 21864218029, :error "Fail to set", :index 1433}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 21889462748, :index 1434}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 21894272588, :index 1435}
{:type :invoke, :f :read, :value nil, :process 65, :time 21944464985, :index 1436}
{:type :ok, :f :read, :value 0, :process 65, :time 21950007134, :index 1437}
{:type :invoke, :f :read, :value nil, :process 43, :time 21960422733, :index 1438}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 21963615823, :index 1439}
{:type :ok, :f :read, :value 0, :process 43, :time 21966125403, :index 1440}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 21968271033, :index 1441}
{:type :invoke, :f :read, :value nil, :process 21, :time 22005595961, :index 1442}
{:type :ok, :f :read, :value 0, :process 21, :time 22011479630, :index 1443}
{:type :invoke, :f :write, :value 1, :process 65, :time 22016289420, :index 1444}
{:type :invoke, :f :write, :value 2, :process 34, :time 22017467840, :index 1445}
{:type :info, :f :write, :value 1, :process 65, :time 22021316070, :error "Fail to set", :index 1446}
{:type :info, :f :write, :value 2, :process 34, :time 22021728870, :error "Fail to set", :index 1447}
{:type :invoke, :f :write, :value 0, :process 70, :time 22058664108, :index 1448}
{:type :invoke, :f :read, :value nil, :process 43, :time 22062516427, :index 1449}
{:type :info, :f :write, :value 0, :process 70, :time 22063445207, :error "Fail to set", :index 1450}
{:type :ok, :f :read, :value 0, :process 43, :time 22066683297, :index 1451}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 22075675057, :index 1452}
{:type :fail, :f :cas, :value [0 2], :process 32, :time 22080032276, :index 1453}
{:type :invoke, :f :cas, :value [0 0], :process 43, :time 22122972563, :index 1454}
{:type :invoke, :f :write, :value 0, :process 21, :time 22127818553, :index 1455}
{:type :fail, :f :cas, :value [0 0], :process 43, :time 22128195943, :index 1456}
{:type :info, :f :write, :value 0, :process 21, :time 22131983763, :error "Fail to set", :index 1457}
{:type :invoke, :f :cas, :value [1 4], :process 75, :time 22173412810, :index 1458}
{:type :fail, :f :cas, :value [1 4], :process 75, :time 22178242730, :index 1459}
{:type :invoke, :f :read, :value nil, :process 39, :time 22180744360, :index 1460}
{:type :ok, :f :read, :value 0, :process 39, :time 22184811890, :index 1461}
{:type :invoke, :f :write, :value 0, :process 32, :time 22188315230, :index 1462}
{:type :info, :f :write, :value 0, :process 32, :time 22192507059, :error "Fail to set", :index 1463}
{:type :invoke, :f :read, :value nil, :process 39, :time 22193025539, :index 1464}
{:type :ok, :f :read, :value 0, :process 39, :time 22197318319, :index 1465}
{:type :invoke, :f :read, :value nil, :process 37, :time 22223679817, :index 1466}
{:type :ok, :f :read, :value 0, :process 37, :time 22229601257, :index 1467}
{:type :invoke, :f :read, :value nil, :process 75, :time 22237709347, :index 1468}
{:type :invoke, :f :read, :value nil, :process 39, :time 22239613556, :index 1469}
{:type :ok, :f :read, :value 0, :process 75, :time 22243944676, :index 1470}
{:type :ok, :f :read, :value 0, :process 39, :time 22244203436, :index 1471}
{:type :invoke, :f :write, :value 1, :process 75, :time 22272288345, :index 1472}
{:type :info, :f :write, :value 1, :process 75, :time 22277337674, :error "Fail to set", :index 1473}
{:type :invoke, :f :read, :value nil, :process 26, :time 22289004304, :index 1474}
{:type :ok, :f :read, :value 0, :process 26, :time 22293813593, :index 1475}
{:type :invoke, :f :read, :value nil, :process 39, :time 22297448823, :index 1476}
{:type :invoke, :f :write, :value 2, :process 37, :time 22303867272, :index 1477}
{:type :ok, :f :read, :value 0, :process 39, :time 22305145542, :index 1478}
{:type :info, :f :write, :value 2, :process 37, :time 22308508492, :error "Fail to set", :index 1479}
{:type :invoke, :f :cas, :value [3 4], :process 43, :time 22319472742, :index 1480}
{:type :fail, :f :cas, :value [3 4], :process 43, :time 22324791501, :index 1481}
{:type :invoke, :f :write, :value 3, :process 26, :time 22362116519, :index 1482}
{:type :info, :f :write, :value 3, :process 26, :time 22367950779, :error "Fail to set", :index 1483}
{:type :invoke, :f :read, :value nil, :process 80, :time 22379688368, :index 1484}
{:type :ok, :f :read, :value 0, :process 80, :time 22385335067, :index 1485}
{:type :invoke, :f :read, :value nil, :process 31, :time 22389213247, :index 1486}
{:type :invoke, :f :write, :value 1, :process 43, :time 22392207967, :index 1487}
{:type :ok, :f :read, :value 0, :process 31, :time 22393759737, :index 1488}
{:type :info, :f :write, :value 1, :process 43, :time 22396149307, :error "Fail to set", :index 1489}
{:type :invoke, :f :read, :value nil, :process 80, :time 22399530527, :index 1490}
{:type :ok, :f :read, :value 0, :process 80, :time 22404499396, :index 1491}
{:type :invoke, :f :read, :value nil, :process 39, :time 22422494605, :index 1492}
{:type :invoke, :f :write, :value 0, :process 42, :time 22425633805, :index 1493}
{:type :ok, :f :read, :value 0, :process 39, :time 22427992285, :index 1494}
{:type :info, :f :write, :value 0, :process 42, :time 22430237784, :error "Fail to set", :index 1495}
{:type :invoke, :f :cas, :value [1 1], :process 80, :time 22435775174, :index 1496}
{:type :fail, :f :cas, :value [1 1], :process 80, :time 22440551644, :index 1497}
{:type :invoke, :f :cas, :value [1 3], :process 48, :time 22508144040, :index 1498}
{:type :fail, :f :cas, :value [1 3], :process 48, :time 22513030459, :index 1499}
{:type :invoke, :f :read, :value nil, :process 48, :time 22534338258, :index 1500}
{:type :ok, :f :read, :value 0, :process 48, :time 22540033718, :index 1501}
{:type :invoke, :f :write, :value 3, :process 80, :time 22554896077, :index 1502}
{:type :info, :f :write, :value 3, :process 80, :time 22559966947, :error "Fail to set", :index 1503}
{:type :invoke, :f :cas, :value [4 1], :process 31, :time 22571131796, :index 1504}
{:type :invoke, :f :write, :value 1, :process 47, :time 22571414606, :index 1505}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 22575301456, :index 1506}
{:type :fail, :f :cas, :value [4 1], :process 31, :time 22576059456, :index 1507}
{:type :info, :f :write, :value 1, :process 47, :time 22576207556, :error "Fail to set", :index 1508}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 22579044706, :index 1509}
{:type :invoke, :f :cas, :value [2 4], :process 48, :time 22645443382, :index 1510}
{:type :fail, :f :cas, :value [2 4], :process 48, :time 22651072501, :index 1511}
{:type :invoke, :f :write, :value 4, :process 85, :time 22658055531, :index 1512}
{:type :info, :f :write, :value 4, :process 85, :time 22663015100, :error "Fail to set", :index 1513}
{:type :invoke, :f :read, :value nil, :process 31, :time 22663316810, :index 1514}
{:type :ok, :f :read, :value 0, :process 31, :time 22667636300, :index 1515}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 22688138519, :index 1516}
{:type :fail, :f :cas, :value [1 0], :process 52, :time 22692778108, :index 1517}
{:type :invoke, :f :write, :value 4, :process 39, :time 22735896646, :index 1518}
{:type :info, :f :write, :value 4, :process 39, :time 22742044036, :error "Fail to set", :index 1519}
{:type :invoke, :f :write, :value 0, :process 48, :time 22780403993, :index 1520}
{:type :info, :f :write, :value 0, :process 48, :time 22786115233, :error "Fail to set", :index 1521}
{:type :invoke, :f :write, :value 4, :process 90, :time 22827446890, :index 1522}
{:type :info, :f :write, :value 4, :process 90, :time 22832543980, :error "Fail to set", :index 1523}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 22840992950, :index 1524}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 22847154459, :index 1525}
{:type :invoke, :f :read, :value nil, :process 44, :time 22871256737, :index 1526}
{:type :invoke, :f :write, :value 2, :process 52, :time 22885087947, :index 1527}
{:type :ok, :f :read, :value 0, :process 44, :time 22886710477, :index 1528}
{:type :invoke, :f :read, :value nil, :process 44, :time 22891076577, :index 1529}
{:type :ok, :f :read, :value 0, :process 44, :time 22893280666, :index 1530}
{:type :ok, :f :write, :value 2, :process 52, :time 22894184646, :index 1531}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 22912477335, :index 1532}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 22917337865, :index 1533}
{:type :invoke, :f :read, :value nil, :process 53, :time 22931410814, :index 1534}
{:type :ok, :f :read, :value 2, :process 53, :time 22933319384, :index 1535}
{:type :invoke, :f :cas, :value [1 2], :process 95, :time 22964197462, :index 1536}
{:type :fail, :f :cas, :value [1 2], :process 95, :time 22975764941, :index 1537}
{:type :invoke, :f :write, :value 1, :process 44, :time 22979545781, :index 1538}
{:type :ok, :f :write, :value 1, :process 44, :time 22983916901, :index 1539}
{:type :invoke, :f :read, :value nil, :process 44, :time 23022260648, :index 1540}
{:type :ok, :f :read, :value 1, :process 44, :time 23024286078, :index 1541}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 23036650018, :index 1542}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 23041434457, :index 1543}
{:type :invoke, :f :write, :value 3, :process 95, :time 23044126297, :index 1544}
{:type :ok, :f :write, :value 3, :process 95, :time 23048370017, :index 1545}
{:type :invoke, :f :write, :value 4, :process 52, :time 23073519345, :index 1546}
{:type :ok, :f :write, :value 4, :process 52, :time 23080639895, :index 1547}
{:type :invoke, :f :read, :value nil, :process 31, :time 23087798955, :index 1548}
{:type :ok, :f :read, :value 4, :process 31, :time 23089350204, :index 1549}
{:type :invoke, :f :cas, :value [2 3], :process 44, :time 23100531174, :index 1550}
{:type :fail, :f :cas, :value [2 3], :process 44, :time 23105434093, :index 1551}
{:type :invoke, :f :read, :value nil, :process 53, :time 23108507443, :index 1552}
{:type :ok, :f :read, :value 4, :process 53, :time 23110118133, :index 1553}
{:type :invoke, :f :read, :value nil, :process 95, :time 23128721172, :index 1554}
{:type :ok, :f :read, :value 4, :process 95, :time 23130904832, :index 1555}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 23186600068, :index 1556}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 23192026948, :index 1557}
{:type :invoke, :f :cas, :value [0 3], :process 52, :time 23192944638, :index 1558}
{:type :fail, :f :cas, :value [0 3], :process 52, :time 23196753498, :index 1559}
{:type :invoke, :f :read, :value nil, :process 53, :time 23229368126, :index 1560}
{:type :ok, :f :read, :value 4, :process 53, :time 23231823855, :index 1561}
{:type :invoke, :f :read, :value nil, :process 95, :time 23239221015, :index 1562}
{:type :ok, :f :read, :value 4, :process 95, :time 23241114485, :index 1563}
{:type :invoke, :f :write, :value 0, :process 44, :time 23247809515, :index 1564}
{:type :ok, :f :write, :value 0, :process 44, :time 23255026214, :index 1565}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 23287424982, :index 1566}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 23292380102, :index 1567}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 23297398602, :index 1568}
{:type :ok, :f :cas, :value [0 4], :process 44, :time 23302213822, :index 1569}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 23326580890, :index 1570}
{:type :fail, :f :cas, :value [1 4], :process 44, :time 23331653029, :index 1571}
{:type :invoke, :f :write, :value 1, :process 44, :time 23370039017, :index 1572}
{:type :ok, :f :write, :value 1, :process 44, :time 23375564307, :index 1573}
{:type :invoke, :f :read, :value nil, :process 52, :time 23387074226, :index 1574}
{:type :ok, :f :read, :value 1, :process 52, :time 23388964276, :index 1575}
{:type :invoke, :f :cas, :value [2 4], :process 95, :time 23400428225, :index 1576}
{:type :fail, :f :cas, :value [2 4], :process 95, :time 23406189295, :index 1577}
{:type :invoke, :f :cas, :value [0 4], :process 53, :time 23424094364, :index 1578}
{:type :fail, :f :cas, :value [0 4], :process 53, :time 23429076554, :index 1579}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 23455780752, :index 1580}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 23461040111, :index 1581}
{:type :invoke, :f :write, :value 3, :process 95, :time 23461661481, :index 1582}
{:type :ok, :f :write, :value 3, :process 95, :time 23465595121, :index 1583}
{:type :invoke, :f :write, :value 3, :process 52, :time 23466237681, :index 1584}
{:type :ok, :f :write, :value 3, :process 52, :time 23470134201, :index 1585}
{:type :invoke, :f :read, :value nil, :process 95, :time 23542924946, :index 1586}
{:type :ok, :f :read, :value 3, :process 95, :time 23545365296, :index 1587}
{:type :invoke, :f :write, :value 3, :process 31, :time 23548466596, :index 1588}
{:type :ok, :f :write, :value 3, :process 31, :time 23553160076, :index 1589}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 23568964605, :index 1590}
{:type :invoke, :f :write, :value 0, :process 95, :time 23571739765, :index 1591}
{:type :invoke, :f :read, :value nil, :process 52, :time 23572838485, :index 1592}
{:type :ok, :f :read, :value 3, :process 52, :time 23574794654, :index 1593}
{:type :fail, :f :cas, :value [1 4], :process 44, :time 23575817265, :index 1594}
{:type :ok, :f :write, :value 0, :process 95, :time 23575816665, :index 1595}
{:type :invoke, :f :read, :value nil, :process 53, :time 23605410363, :index 1596}
{:type :ok, :f :read, :value 0, :process 53, :time 23607617883, :index 1597}
{:type :invoke, :f :read, :value nil, :process 44, :time 23653058660, :index 1598}
{:type :ok, :f :read, :value 0, :process 44, :time 23655221900, :index 1599}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 23658536709, :index 1600}
{:type :invoke, :f :cas, :value [0 3], :process 53, :time 23661004549, :index 1601}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 23663607949, :index 1602}
{:type :ok, :f :cas, :value [0 3], :process 53, :time 23665797759, :index 1603}
{:type :invoke, :f :cas, :value [2 3], :process 95, :time 23680207978, :index 1604}
{:type :fail, :f :cas, :value [2 3], :process 95, :time 23685686878, :index 1605}
{:type :invoke, :f :read, :value nil, :process 52, :time 23707082837, :index 1606}
{:type :ok, :f :read, :value 3, :process 52, :time 23709119866, :index 1607}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
