{:type :invoke, :f :write, :value 4, :process 1, :time 1073957494, :index 0}
{:type :invoke, :f :cas, :value [2 1], :process 2, :time 1115939362, :index 1}
{:type :fail, :f :cas, :value [2 1], :process 2, :time 1150605579, :index 2}
{:type :ok, :f :write, :value 4, :process 1, :time 1150635519, :index 3}
{:type :invoke, :f :read, :value nil, :process 0, :time 1216014216, :index 4}
{:type :ok, :f :read, :value 4, :process 0, :time 1223670595, :index 5}
{:type :invoke, :f :cas, :value [0 4], :process 2, :time 1231296535, :index 6}
{:type :invoke, :f :read, :value nil, :process 4, :time 1231772175, :index 7}
{:type :ok, :f :read, :value 4, :process 4, :time 1240601124, :index 8}
{:type :fail, :f :cas, :value [0 4], :process 2, :time 1242681114, :index 9}
{:type :invoke, :f :read, :value nil, :process 3, :time 1269703082, :index 10}
{:type :ok, :f :read, :value 4, :process 3, :time 1275649652, :index 11}
{:type :invoke, :f :read, :value nil, :process 1, :time 1314411699, :index 12}
{:type :ok, :f :read, :value 4, :process 1, :time 1326583649, :index 13}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 1344183368, :index 14}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 1352317247, :index 15}
{:type :invoke, :f :write, :value 1, :process 3, :time 1353288067, :index 16}
{:type :ok, :f :cas, :value [4 1], :process 0, :time 1355559427, :index 17}
{:type :invoke, :f :write, :value 1, :process 2, :time 1359309536, :index 18}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 1361754607, :index 19}
{:type :ok, :f :write, :value 1, :process 3, :time 1364712926, :index 20}
{:type :ok, :f :write, :value 1, :process 2, :time 1368701176, :index 21}
{:type :invoke, :f :write, :value 2, :process 3, :time 1388535965, :index 22}
{:type :invoke, :f :read, :value nil, :process 4, :time 1389306175, :index 23}
{:type :invoke, :f :read, :value nil, :process 0, :time 1396140725, :index 24}
{:type :ok, :f :read, :value 1, :process 4, :time 1398193094, :index 25}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 1403439164, :index 26}
{:type :ok, :f :read, :value 1, :process 0, :time 1407127773, :index 27}
{:type :ok, :f :write, :value 2, :process 3, :time 1408885244, :index 28}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 1412833003, :index 29}
{:type :invoke, :f :read, :value nil, :process 1, :time 1430140822, :index 30}
{:type :ok, :f :read, :value 2, :process 1, :time 1434409612, :index 31}
{:type :invoke, :f :write, :value 2, :process 2, :time 1460801410, :index 32}
{:type :ok, :f :write, :value 2, :process 2, :time 1469162770, :index 33}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 1476693149, :index 34}
{:type :fail, :f :cas, :value [4 4], :process 2, :time 1486019179, :index 35}
{:type :invoke, :f :write, :value 3, :process 1, :time 1489893319, :index 36}
{:type :ok, :f :write, :value 3, :process 1, :time 1498355538, :index 37}
{:type :invoke, :f :write, :value 1, :process 1, :time 1528839186, :index 38}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 1532484126, :index 39}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 1542602605, :index 40}
{:type :ok, :f :write, :value 1, :process 1, :time 1543233115, :index 41}
{:type :invoke, :f :read, :value nil, :process 0, :time 1548731875, :index 42}
{:type :ok, :f :read, :value 1, :process 0, :time 1553963605, :index 43}
{:type :invoke, :f :write, :value 0, :process 1, :time 1553743245, :index 44}
{:type :ok, :f :write, :value 0, :process 1, :time 1563855564, :index 45}
{:type :invoke, :f :write, :value 4, :process 0, :time 1567319634, :index 46}
{:type :ok, :f :write, :value 4, :process 0, :time 1576162523, :index 47}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 1578391243, :index 48}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 1586097462, :index 49}
{:type :invoke, :f :read, :value nil, :process 3, :time 1602659442, :index 50}
{:type :ok, :f :read, :value 4, :process 3, :time 1608776261, :index 51}
{:type :invoke, :f :read, :value nil, :process 2, :time 1611775741, :index 52}
{:type :invoke, :f :read, :value nil, :process 4, :time 1613223971, :index 53}
{:type :ok, :f :read, :value 4, :process 2, :time 1615579471, :index 54}
{:type :ok, :f :read, :value 4, :process 4, :time 1616909971, :index 55}
{:type :invoke, :f :read, :value nil, :process 0, :time 1651675519, :index 56}
{:type :invoke, :f :write, :value 1, :process 3, :time 1656202489, :index 57}
{:type :ok, :f :read, :value 4, :process 0, :time 1660017618, :index 58}
{:type :ok, :f :write, :value 1, :process 3, :time 1664892278, :index 59}
{:type :invoke, :f :read, :value nil, :process 1, :time 1744447983, :index 60}
{:type :ok, :f :read, :value 1, :process 1, :time 1748542413, :index 61}
{:type :invoke, :f :write, :value 4, :process 0, :time 1756654992, :index 62}
{:type :ok, :f :write, :value 4, :process 0, :time 1764334322, :index 63}
{:type :invoke, :f :write, :value 4, :process 0, :time 1770827741, :index 64}
{:type :ok, :f :write, :value 4, :process 0, :time 1777668201, :index 65}
{:type :invoke, :f :read, :value nil, :process 2, :time 1782057871, :index 66}
{:type :ok, :f :read, :value 4, :process 2, :time 1785942991, :index 67}
{:type :invoke, :f :write, :value 2, :process 4, :time 1802341660, :index 68}
{:type :ok, :f :write, :value 2, :process 4, :time 1809478039, :index 69}
{:type :invoke, :f :read, :value nil, :process 2, :time 1832419828, :index 70}
{:type :invoke, :f :write, :value 4, :process 3, :time 1834387248, :index 71}
{:type :ok, :f :read, :value 2, :process 2, :time 1836328647, :index 72}
{:type :ok, :f :write, :value 4, :process 3, :time 1842396397, :index 73}
{:type :invoke, :f :write, :value 4, :process 1, :time 1866985975, :index 74}
{:type :ok, :f :write, :value 4, :process 1, :time 1874018995, :index 75}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 1886987444, :index 76}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 1894267994, :index 77}
{:type :invoke, :f :write, :value 0, :process 0, :time 1963968380, :index 78}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 1969925949, :index 79}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 1973038439, :index 80}
{:type :ok, :f :write, :value 0, :process 0, :time 1973492269, :index 81}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 1978820098, :index 82}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 1981226078, :index 83}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 1998566067, :index 84}
{:type :ok, :f :cas, :value [0 4], :process 1, :time 2006257667, :index 85}
{:type :invoke, :f :write, :value 3, :process 2, :time 2020745436, :index 86}
{:type :invoke, :f :write, :value 3, :process 3, :time 2027431286, :index 87}
{:type :ok, :f :write, :value 3, :process 2, :time 2029630515, :index 88}
{:type :ok, :f :write, :value 3, :process 3, :time 2034155575, :index 89}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 2097881282, :index 90}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 2106003341, :index 91}
{:type :invoke, :f :cas, :value [3 2], :process 2, :time 2110053261, :index 92}
{:type :ok, :f :cas, :value [3 2], :process 2, :time 2117409300, :index 93}
{:type :invoke, :f :write, :value 3, :process 2, :time 2117773740, :index 94}
{:type :ok, :f :write, :value 3, :process 2, :time 2124981149, :index 95}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 2137576499, :index 96}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 2145901999, :index 97}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 2148654388, :index 98}
{:type :invoke, :f :read, :value nil, :process 3, :time 2154779788, :index 99}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 2155962487, :index 100}
{:type :ok, :f :read, :value 3, :process 3, :time 2159292747, :index 101}
{:type :invoke, :f :read, :value nil, :process 1, :time 2171798727, :index 102}
{:type :ok, :f :read, :value 3, :process 1, :time 2175520527, :index 103}
{:type :invoke, :f :read, :value nil, :process 3, :time 2175859666, :index 104}
{:type :ok, :f :read, :value 3, :process 3, :time 2178640106, :index 105}
{:type :invoke, :f :write, :value 1, :process 0, :time 2239401153, :index 106}
{:type :ok, :f :write, :value 1, :process 0, :time 2247444502, :index 107}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 2290934919, :index 108}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 2302081969, :index 109}
{:type :invoke, :f :read, :value nil, :process 2, :time 2306549368, :index 110}
{:type :ok, :f :read, :value 1, :process 2, :time 2309865628, :index 111}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 2310527758, :index 112}
{:type :ok, :f :cas, :value [1 2], :process 4, :time 2317252968, :index 113}
{:type :invoke, :f :read, :value nil, :process 3, :time 2335129256, :index 114}
{:type :ok, :f :read, :value 2, :process 3, :time 2342104046, :index 115}
{:type :invoke, :f :read, :value nil, :process 0, :time 2369960685, :index 116}
{:type :ok, :f :read, :value 2, :process 0, :time 2373074465, :index 117}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 2386233473, :index 118}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 2394263043, :index 119}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 2415743092, :index 120}
{:type :invoke, :f :write, :value 0, :process 4, :time 2422763431, :index 121}
{:type :ok, :f :cas, :value [2 3], :process 2, :time 2424610621, :index 122}
{:type :ok, :f :write, :value 0, :process 4, :time 2432337521, :index 123}
{:type :invoke, :f :write, :value 3, :process 0, :time 2446756740, :index 124}
{:type :invoke, :f :write, :value 1, :process 1, :time 2452708580, :index 125}
{:type :ok, :f :write, :value 3, :process 0, :time 2454708889, :index 126}
{:type :ok, :f :write, :value 1, :process 1, :time 2459575469, :index 127}
{:type :invoke, :f :read, :value nil, :process 1, :time 2465014948, :index 128}
{:type :ok, :f :read, :value 1, :process 1, :time 2467846899, :index 129}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 2493266827, :index 130}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 2500212677, :index 131}
{:type :invoke, :f :read, :value nil, :process 3, :time 2508554476, :index 132}
{:type :invoke, :f :write, :value 1, :process 1, :time 2509622286, :index 133}
{:type :ok, :f :read, :value 1, :process 3, :time 2511531026, :index 134}
{:type :ok, :f :write, :value 1, :process 1, :time 2515542496, :index 135}
{:type :invoke, :f :read, :value nil, :process 4, :time 2520864705, :index 136}
{:type :ok, :f :read, :value 1, :process 4, :time 2525945645, :index 137}
{:type :invoke, :f :read, :value nil, :process 3, :time 2550889634, :index 138}
{:type :ok, :f :read, :value 1, :process 3, :time 2554019783, :index 139}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 2561364003, :index 140}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 2567972022, :index 141}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 2569699922, :index 142}
{:type :invoke, :f :read, :value nil, :process 3, :time 2573587522, :index 143}
{:type :invoke, :f :write, :value 1, :process 0, :time 2574180852, :index 144}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 2575162382, :index 145}
{:type :ok, :f :read, :value 1, :process 3, :time 2577362282, :index 146}
{:type :ok, :f :write, :value 1, :process 0, :time 2580984742, :index 147}
{:type :invoke, :f :write, :value 3, :process 4, :time 2584063872, :index 148}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 2589087251, :index 149}
{:type :ok, :f :write, :value 3, :process 4, :time 2589907731, :index 150}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 2595120491, :index 151}
{:type :invoke, :f :write, :value 3, :process 2, :time 2599574991, :index 152}
{:type :ok, :f :write, :value 3, :process 2, :time 2606000270, :index 153}
{:type :invoke, :f :write, :value 1, :process 3, :time 2658776977, :index 154}
{:type :ok, :f :write, :value 1, :process 3, :time 2667387087, :index 155}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 2668848866, :index 156}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 2675138386, :index 157}
{:type :invoke, :f :read, :value nil, :process 2, :time 2678502516, :index 158}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 2680710175, :index 159}
{:type :ok, :f :read, :value 1, :process 2, :time 2682785526, :index 160}
{:type :invoke, :f :write, :value 1, :process 4, :time 2684305735, :index 161}
{:type :ok, :f :write, :value 1, :process 4, :time 2691153095, :index 162}
{:type :fail, :f :cas, :value [2 4], :process 1, :time 2691632505, :index 163}
{:type :invoke, :f :write, :value 3, :process 0, :time 2703365204, :index 164}
{:type :ok, :f :write, :value 3, :process 0, :time 2712054994, :index 165}
{:type :invoke, :f :read, :value nil, :process 1, :time 2719994433, :index 166}
{:type :ok, :f :read, :value 3, :process 1, :time 2725328783, :index 167}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 2744207002, :index 168}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 2744811442, :index 169}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 2751472621, :index 170}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 2751583881, :index 171}
{:type :invoke, :f :read, :value nil, :process 1, :time 2761945171, :index 172}
{:type :ok, :f :read, :value 3, :process 1, :time 2765827521, :index 173}
{:type :invoke, :f :read, :value nil, :process 4, :time 2790702449, :index 174}
{:type :ok, :f :read, :value 3, :process 4, :time 2793898949, :index 175}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 2843667456, :index 176}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 2850669875, :index 177}
{:type :invoke, :f :read, :value nil, :process 2, :time 2890953503, :index 178}
{:type :ok, :f :read, :value 3, :process 2, :time 2894497933, :index 179}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 2901184522, :index 180}
{:type :invoke, :f :read, :value nil, :process 0, :time 2902553302, :index 181}
{:type :ok, :f :read, :value 3, :process 0, :time 2905563832, :index 182}
{:type :ok, :f :cas, :value [3 3], :process 3, :time 2907486841, :index 183}
{:type :invoke, :f :read, :value nil, :process 2, :time 2936871930, :index 184}
{:type :ok, :f :read, :value 3, :process 2, :time 2940502920, :index 185}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 2950495079, :index 186}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 2959272648, :index 187}
{:type :invoke, :f :write, :value 1, :process 1, :time 2962218928, :index 188}
{:type :ok, :f :write, :value 1, :process 1, :time 2968900428, :index 189}
{:type :invoke, :f :read, :value nil, :process 4, :time 2977693457, :index 190}
{:type :ok, :f :read, :value 1, :process 4, :time 2982815917, :index 191}
{:type :invoke, :f :write, :value 2, :process 0, :time 2996948496, :index 192}
{:type :ok, :f :write, :value 2, :process 0, :time 3002921286, :index 193}
{:type :invoke, :f :write, :value 2, :process 1, :time 3013463085, :index 194}
{:type :ok, :f :write, :value 2, :process 1, :time 3019950815, :index 195}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 3033927464, :index 196}
{:type :fail, :f :cas, :value [1 3], :process 2, :time 3042868473, :index 197}
{:type :invoke, :f :read, :value nil, :process 3, :time 3085811181, :index 200}
{:type :ok, :f :read, :value 2, :process 3, :time 3089157810, :index 201}
{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
