{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 10942096809, :index 798}
{:type :fail, :f :cas, :value [4 1], :process 12, :time 10952473038, :index 799}
{:type :invoke, :f :cas, :value [0 1], :process 23, :time 10975443757, :index 800}
{:type :ok, :f :cas, :value [0 1], :process 23, :time 10987716306, :index 801}
{:type :invoke, :f :read, :value nil, :process 12, :time 11051866522, :index 806}
{:type :ok, :f :read, :value 1, :process 12, :time 11053582052, :index 807}
{:type :invoke, :f :read, :value nil, :process 12, :time 11061833182, :index 810}
{:type :ok, :f :read, :value 1, :process 12, :time 11063139901, :index 811}
{:type :invoke, :f :write, :value 2, :process 15, :time 11079647180, :index 812}
{:type :invoke, :f :write, :value 0, :process 14, :time 11086233420, :index 813}
{:type :ok, :f :write, :value 2, :process 15, :time 11088071590, :index 814}
{:type :ok, :f :write, :value 0, :process 14, :time 11091097930, :index 815}
{:type :invoke, :f :write, :value 2, :process 14, :time 11102423509, :index 816}
{:type :ok, :f :write, :value 2, :process 14, :time 11107672349, :index 817}
{:type :invoke, :f :read, :value nil, :process 1, :time 11142141107, :index 818}
{:type :ok, :f :read, :value 2, :process 1, :time 11143956277, :index 819}
{:type :invoke, :f :read, :value nil, :process 15, :time 11155401606, :index 820}
{:type :ok, :f :read, :value 2, :process 15, :time 11157049856, :index 821}
{:type :invoke, :f :write, :value 3, :process 1, :time 11175306315, :index 822}
{:type :ok, :f :write, :value 3, :process 1, :time 11180201724, :index 823}
{:type :invoke, :f :write, :value 2, :process 23, :time 11180102104, :index 824}
{:type :invoke, :f :read, :value nil, :process 12, :time 11182439854, :index 825}
{:type :ok, :f :read, :value 3, :process 12, :time 11184381564, :index 826}
{:type :ok, :f :write, :value 2, :process 23, :time 11184805034, :index 827}
{:type :invoke, :f :read, :value nil, :process 12, :time 11190653464, :index 828}
{:type :ok, :f :read, :value 2, :process 12, :time 11192347024, :index 829}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 11197502833, :index 830}
{:type :ok, :f :cas, :value [2 2], :process 1, :time 11202884503, :index 831}
{:type :invoke, :f :write, :value 0, :process 15, :time 11217319882, :index 832}
{:type :ok, :f :write, :value 0, :process 15, :time 11221949742, :index 833}
{:type :invoke, :f :cas, :value [4 1], :process 14, :time 11245001950, :index 834}
{:type :fail, :f :cas, :value [4 1], :process 14, :time 11249725450, :index 835}
{:type :invoke, :f :read, :value nil, :process 12, :time 11291600998, :index 836}
{:type :ok, :f :read, :value 0, :process 12, :time 11293208647, :index 837}
{:type :invoke, :f :read, :value nil, :process 14, :time 11310107266, :index 838}
{:type :ok, :f :read, :value 0, :process 14, :time 11311959106, :index 839}
{:type :invoke, :f :cas, :value [1 0], :process 23, :time 11337170704, :index 840}
{:type :fail, :f :cas, :value [1 0], :process 23, :time 11341943074, :index 841}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 11353359244, :index 842}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 11358347903, :index 843}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 11375448353, :index 844}
{:type :invoke, :f :read, :value nil, :process 23, :time 11376323962, :index 845}
{:type :ok, :f :read, :value 0, :process 23, :time 11378203112, :index 846}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 11380552762, :index 847}
{:type :invoke, :f :read, :value nil, :process 1, :time 11400329061, :index 848}
{:type :invoke, :f :write, :value 2, :process 23, :time 11400559131, :index 849}
{:type :ok, :f :read, :value 0, :process 1, :time 11402174201, :index 850}
{:type :ok, :f :write, :value 2, :process 23, :time 11405281221, :index 851}
{:type :invoke, :f :read, :value nil, :process 14, :time 11415236910, :index 852}
{:type :ok, :f :read, :value 2, :process 14, :time 11417371130, :index 853}
{:type :invoke, :f :read, :value nil, :process 23, :time 11418575350, :index 854}
{:type :ok, :f :read, :value 2, :process 23, :time 11420049019, :index 855}
{:type :invoke, :f :read, :value nil, :process 14, :time 11441667968, :index 856}
{:type :ok, :f :read, :value 2, :process 14, :time 11443463688, :index 857}
{:type :invoke, :f :write, :value 3, :process 23, :time 11482477386, :index 858}
{:type :ok, :f :write, :value 3, :process 23, :time 11488554326, :index 859}
{:type :invoke, :f :write, :value 1, :process 15, :time 11502671005, :index 860}
{:type :ok, :f :write, :value 1, :process 15, :time 11507541125, :index 861}
{:type :invoke, :f :read, :value nil, :process 1, :time 11508516005, :index 862}
{:type :ok, :f :read, :value 1, :process 1, :time 11510088734, :index 863}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 11524773383, :index 864}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 11529366533, :index 865}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 11576906570, :index 866}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 11581638450, :index 867}
{:type :invoke, :f :write, :value 0, :process 23, :time 11596939569, :index 868}
{:type :ok, :f :write, :value 0, :process 23, :time 11601451148, :index 869}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 11667370284, :index 870}
{:type :invoke, :f :write, :value 2, :process 14, :time 11670717784, :index 871}
{:type :fail, :f :cas, :value [3 4], :process 1, :time 11672268114, :index 872}
{:type :ok, :f :write, :value 2, :process 14, :time 11674552054, :index 873}
{:type :invoke, :f :read, :value nil, :process 15, :time 11679861514, :index 874}
{:type :ok, :f :read, :value 2, :process 15, :time 11681495804, :index 875}
{:type :invoke, :f :read, :value nil, :process 14, :time 11688820553, :index 876}
{:type :ok, :f :read, :value 2, :process 14, :time 11690458763, :index 877}
{:type :invoke, :f :read, :value nil, :process 12, :time 11768020609, :index 878}
{:type :ok, :f :read, :value 2, :process 12, :time 11770034018, :index 879}
{:type :invoke, :f :write, :value 0, :process 1, :time 11770562798, :index 880}
{:type :ok, :f :write, :value 0, :process 1, :time 11774544298, :index 881}
{:type :invoke, :f :read, :value nil, :process 23, :time 11783779627, :index 882}
{:type :ok, :f :read, :value 0, :process 23, :time 11785330407, :index 883}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 11825936065, :index 884}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 11830928514, :index 885}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 11841370274, :index 886}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 11846336734, :index 887}
{:type :invoke, :f :read, :value nil, :process 14, :time 11864715272, :index 888}
{:type :ok, :f :read, :value 0, :process 14, :time 11866627792, :index 889}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 11898419750, :index 890}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 11904226870, :index 891}
{:type :invoke, :f :read, :value nil, :process 1, :time 11930862438, :index 892}
{:type :ok, :f :read, :value 0, :process 1, :time 11932810728, :index 893}
{:type :invoke, :f :read, :value nil, :process 12, :time 11935665138, :index 894}
{:type :ok, :f :read, :value 0, :process 12, :time 11937162158, :index 895}
{:type :invoke, :f :read, :value nil, :process 23, :time 11973577456, :index 896}
{:type :ok, :f :read, :value 0, :process 23, :time 11975308996, :index 897}
{:type :invoke, :f :write, :value 0, :process 12, :time 11980418895, :index 898}
{:type :invoke, :f :write, :value 1, :process 1, :time 11986148975, :index 899}
{:type :ok, :f :write, :value 0, :process 12, :time 11986678755, :index 900}
{:type :ok, :f :write, :value 1, :process 1, :time 11992397915, :index 901}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 11992627735, :index 902}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 11996855884, :index 903}
{:type :invoke, :f :read, :value nil, :process 14, :time 12015672353, :index 904}
{:type :ok, :f :read, :value 1, :process 14, :time 12017433193, :index 905}
{:type :invoke, :f :read, :value nil, :process 12, :time 12029018372, :index 906}
{:type :ok, :f :read, :value 1, :process 12, :time 12030582462, :index 907}
{:type :invoke, :f :read, :value nil, :process 15, :time 12059150540, :index 908}
{:type :ok, :f :read, :value 1, :process 15, :time 12060839300, :index 909}
{:type :invoke, :f :read, :value nil, :process 14, :time 12069673790, :index 910}
{:type :ok, :f :read, :value 1, :process 14, :time 12070938150, :index 911}
{:type :invoke, :f :write, :value 4, :process 12, :time 12092820268, :index 912}
{:type :ok, :f :write, :value 4, :process 12, :time 12096718128, :index 913}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 12119754067, :index 914}
{:type :invoke, :f :cas, :value [3 2], :process 23, :time 12122542647, :index 915}
{:type :ok, :f :cas, :value [4 3], :process 1, :time 12124426956, :index 916}
{:type :ok, :f :cas, :value [3 2], :process 23, :time 12127789686, :index 917}
{:type :invoke, :f :write, :value 2, :process 14, :time 12141173105, :index 918}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 12145896225, :index 919}
{:type :ok, :f :write, :value 2, :process 14, :time 12148012355, :index 920}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 12150404255, :index 921}
{:type :invoke, :f :cas, :value [0 1], :process 12, :time 12171016833, :index 922}
{:type :fail, :f :cas, :value [0 1], :process 12, :time 12175095163, :index 923}
{:type :invoke, :f :read, :value nil, :process 12, :time 12178374793, :index 924}
{:type :ok, :f :read, :value 2, :process 12, :time 12179984783, :index 925}
{:type :invoke, :f :read, :value nil, :process 14, :time 12197394702, :index 926}
{:type :ok, :f :read, :value 2, :process 14, :time 12199226182, :index 927}
{:type :invoke, :f :cas, :value [0 1], :process 23, :time 12203161452, :index 928}
{:type :fail, :f :cas, :value [0 1], :process 23, :time 12207405602, :index 929}
{:type :invoke, :f :read, :value nil, :process 15, :time 12209094331, :index 930}
{:type :ok, :f :read, :value 2, :process 15, :time 12210600661, :index 931}
{:type :invoke, :f :write, :value 1, :process 1, :time 12222735410, :index 932}
{:type :ok, :f :write, :value 1, :process 1, :time 12226832840, :index 933}
{:type :invoke, :f :cas, :value [0 3], :process 23, :time 12228726050, :index 934}
{:type :invoke, :f :write, :value 4, :process 15, :time 12230824750, :index 935}
{:type :fail, :f :cas, :value [0 3], :process 23, :time 12232597200, :index 936}
{:type :ok, :f :write, :value 4, :process 15, :time 12234910530, :index 937}
{:type :invoke, :f :write, :value 1, :process 15, :time 12252339219, :index 938}
{:type :ok, :f :write, :value 1, :process 15, :time 12257955388, :index 939}
{:type :invoke, :f :read, :value nil, :process 14, :time 12297582506, :index 940}
{:type :ok, :f :read, :value 1, :process 14, :time 12299412446, :index 941}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 12310950725, :index 942}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 12315187224, :index 943}
{:type :invoke, :f :write, :value 1, :process 23, :time 12325403814, :index 944}
{:type :ok, :f :write, :value 1, :process 23, :time 12329561204, :index 945}
{:type :invoke, :f :write, :value 4, :process 12, :time 12368420221, :index 946}
{:type :ok, :f :write, :value 4, :process 12, :time 12373449481, :index 947}
{:type :invoke, :f :read, :value nil, :process 14, :time 12376854261, :index 948}
{:type :ok, :f :read, :value 4, :process 14, :time 12378730281, :index 949}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 12404944729, :index 950}
{:type :fail, :f :cas, :value [2 4], :process 23, :time 12410163519, :index 951}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 12413285879, :index 952}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 12417646198, :index 953}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 12423110268, :index 954}
{:type :invoke, :f :write, :value 4, :process 14, :time 12426021018, :index 955}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 12427301278, :index 956}
{:type :ok, :f :write, :value 4, :process 14, :time 12429894678, :index 957}
{:type :invoke, :f :write, :value 2, :process 15, :time 12433959808, :index 958}
{:type :ok, :f :write, :value 2, :process 15, :time 12437992517, :index 959}
{:type :invoke, :f :write, :value 3, :process 1, :time 12476622445, :index 960}
{:type :ok, :f :write, :value 3, :process 1, :time 12481777865, :index 961}
{:type :invoke, :f :write, :value 1, :process 12, :time 12557857910, :index 962}
{:type :ok, :f :write, :value 1, :process 12, :time 12563264880, :index 963}
{:type :invoke, :f :cas, :value [4 4], :process 23, :time 12563580849, :index 964}
{:type :fail, :f :cas, :value [4 4], :process 23, :time 12567845989, :index 965}
{:type :invoke, :f :read, :value nil, :process 14, :time 12589248138, :index 966}
{:type :ok, :f :read, :value 1, :process 14, :time 12591022648, :index 967}
{:type :invoke, :f :write, :value 1, :process 12, :time 12598672007, :index 968}
{:type :ok, :f :write, :value 1, :process 12, :time 12602922167, :index 969}
{:type :invoke, :f :write, :value 4, :process 12, :time 12622269736, :index 970}
{:type :ok, :f :write, :value 4, :process 12, :time 12627012285, :index 971}
{:type :invoke, :f :read, :value nil, :process 1, :time 12630083085, :index 972}
{:type :ok, :f :read, :value 4, :process 1, :time 12631799435, :index 973}
{:type :invoke, :f :write, :value 1, :process 15, :time 12634287745, :index 974}
{:type :ok, :f :write, :value 1, :process 15, :time 12638506455, :index 975}
{:type :invoke, :f :write, :value 2, :process 1, :time 12672088013, :index 976}
{:type :invoke, :f :read, :value nil, :process 14, :time 12673303493, :index 977}
{:type :ok, :f :read, :value 1, :process 14, :time 12675128423, :index 978}
{:type :ok, :f :write, :value 2, :process 1, :time 12676696322, :index 979}
{:type :invoke, :f :cas, :value [2 0], :process 14, :time 12742437118, :index 980}
{:type :ok, :f :cas, :value [2 0], :process 14, :time 12747181298, :index 981}
{:type :invoke, :f :read, :value nil, :process 12, :time 12754439928, :index 982}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 12755519568, :index 983}
{:type :ok, :f :read, :value 0, :process 12, :time 12757143408, :index 984}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 12760179817, :index 985}
{:type :invoke, :f :write, :value 0, :process 23, :time 12765204437, :index 986}
{:type :ok, :f :write, :value 0, :process 23, :time 12768696727, :index 987}
{:type :invoke, :f :write, :value 4, :process 1, :time 12793951035, :index 988}
{:type :ok, :f :write, :value 4, :process 1, :time 12798284325, :index 989}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 12818849344, :index 990}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 12823583914, :index 991}
{:type :invoke, :f :read, :value nil, :process 15, :time 12823869274, :index 992}
{:type :ok, :f :read, :value 4, :process 15, :time 12825369994, :index 993}
{:type :invoke, :f :write, :value 4, :process 23, :time 12840025583, :index 994}
{:type :ok, :f :write, :value 4, :process 23, :time 12844542032, :index 995}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 12873698421, :index 996}
{:type :ok, :f :cas, :value [4 0], :process 15, :time 12878321170, :index 997}
{:type :invoke, :f :read, :value nil, :process 1, :time 12883165110, :index 998}
{:type :ok, :f :read, :value 0, :process 1, :time 12885097210, :index 999}
{:type :invoke, :f :cas, :value [2 2], :process 14, :time 12899452549, :index 1000}
{:type :fail, :f :cas, :value [2 2], :process 14, :time 12904928839, :index 1001}
{:type :invoke, :f :write, :value 3, :process 12, :time 12937373657, :index 1002}
{:type :ok, :f :write, :value 3, :process 12, :time 12942177066, :index 1004}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
