{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :invoke, :f :write, :value 0, :process 120, :time 59600273375, :index 4818}
{:type :info, :f :write, :value 0, :process 120, :time 59605270625, :error "Fail to set", :index 4821}
{:type :invoke, :f :cas, :value [4 3], :process 77, :time 59658989542, :index 4824}
{:type :fail, :f :cas, :value [4 3], :process 77, :time 59660397452, :index 4825}
{:type :invoke, :f :write, :value 3, :process 59, :time 59676393470, :index 4826}
{:type :info, :f :write, :value 3, :process 59, :time 59677638450, :error "Fail to set", :index 4827}
{:type :invoke, :f :cas, :value [0 1], :process 63, :time 59685065270, :index 4828}
{:type :fail, :f :cas, :value [0 1], :process 63, :time 59686006790, :index 4829}
{:type :invoke, :f :read, :value nil, :process 46, :time 59727229537, :index 4830}
{:type :ok, :f :read, :value 0, :process 46, :time 59728702947, :index 4831}
{:type :invoke, :f :cas, :value [2 4], :process 77, :time 59785698324, :index 4832}
{:type :fail, :f :cas, :value [2 4], :process 77, :time 59787119904, :index 4833}
{:type :invoke, :f :write, :value 0, :process 125, :time 59789484974, :index 4834}
{:type :info, :f :write, :value 0, :process 125, :time 59790534664, :error "Fail to set", :index 4835}
{:type :invoke, :f :cas, :value [1 3], :process 46, :time 59813977282, :index 4836}
{:type :fail, :f :cas, :value [1 3], :process 46, :time 59815496622, :index 4837}
{:type :invoke, :f :cas, :value [2 3], :process 130, :time 59822547062, :index 4838}
{:type :fail, :f :cas, :value [2 3], :process 130, :time 59824150442, :index 4839}
{:type :invoke, :f :write, :value 1, :process 64, :time 59841692881, :index 4840}
{:type :info, :f :write, :value 1, :process 64, :time 59843153690, :error "Fail to set", :index 4841}
{:type :invoke, :f :cas, :value [4 1], :process 77, :time 59863373849, :index 4842}
{:type :fail, :f :cas, :value [4 1], :process 77, :time 59864516009, :index 4843}
{:type :invoke, :f :read, :value nil, :process 63, :time 59872186159, :index 4844}
{:type :ok, :f :read, :value 0, :process 63, :time 59873172139, :index 4845}
{:type :invoke, :f :write, :value 2, :process 63, :time 59911385056, :index 4846}
{:type :info, :f :write, :value 2, :process 63, :time 59913135936, :error "Fail to set", :index 4847}
{:type :invoke, :f :read, :value nil, :process 130, :time 59936387064, :index 4848}
{:type :ok, :f :read, :value 0, :process 130, :time 59938053754, :index 4849}
{:type :invoke, :f :cas, :value [1 4], :process 77, :time 59947698144, :index 4850}
{:type :fail, :f :cas, :value [1 4], :process 77, :time 59948915724, :index 4851}
{:type :invoke, :f :read, :value nil, :process 69, :time 59983101441, :index 4852}
{:type :ok, :f :read, :value 0, :process 69, :time 59984786061, :index 4853}
{:type :invoke, :f :cas, :value [4 0], :process 46, :time 60003861860, :index 4854}
{:type :invoke, :f :write, :value 1, :process 68, :time 60004491240, :index 4855}
{:type :fail, :f :cas, :value [4 0], :process 46, :time 60005875450, :index 4856}
{:type :info, :f :write, :value 1, :process 68, :time 60006686220, :error "Fail to set", :index 4857}
{:type :invoke, :f :cas, :value [1 2], :process 77, :time 60043129068, :index 4858}
{:type :fail, :f :cas, :value [1 2], :process 77, :time 60044452668, :index 4859}
{:type :invoke, :f :write, :value 1, :process 73, :time 60052798657, :index 4860}
{:type :info, :f :write, :value 1, :process 73, :time 60054071337, :error "Fail to set", :index 4861}
{:type :invoke, :f :read, :value nil, :process 130, :time 60096268525, :index 4862}
{:type :ok, :f :read, :value 0, :process 130, :time 60097624925, :index 4863}
{:type :invoke, :f :cas, :value [2 2], :process 69, :time 60130007333, :index 4864}
{:type :fail, :f :cas, :value [2 2], :process 69, :time 60131694433, :index 4865}
{:type :invoke, :f :write, :value 3, :process 69, :time 60149903571, :index 4866}
{:type :info, :f :write, :value 3, :process 69, :time 60151308002, :error "Fail to set", :index 4867}
{:type :invoke, :f :cas, :value [3 2], :process 77, :time 60155664701, :index 4868}
{:type :fail, :f :cas, :value [3 2], :process 77, :time 60156665391, :index 4869}
{:type :invoke, :f :write, :value 2, :process 78, :time 60202104388, :index 4870}
{:type :invoke, :f :write, :value 2, :process 46, :time 60202239688, :index 4871}
{:type :info, :f :write, :value 2, :process 46, :time 60204219208, :error "Fail to set", :index 4872}
{:type :info, :f :write, :value 2, :process 78, :time 60204230398, :error "Fail to set", :index 4873}
{:type :invoke, :f :write, :value 2, :process 130, :time 60209976838, :index 4874}
{:type :info, :f :write, :value 2, :process 130, :time 60211747038, :error "Fail to set", :index 4875}
{:type :invoke, :f :write, :value 1, :process 74, :time 60222390537, :index 4876}
{:type :info, :f :write, :value 1, :process 74, :time 60223814077, :error "Fail to set", :index 4877}
{:type :invoke, :f :read, :value nil, :process 135, :time 60242932736, :index 4878}
{:type :ok, :f :read, :value 0, :process 135, :time 60244232865, :index 4879}
{:type :invoke, :f :write, :value 3, :process 51, :time 60304421882, :index 4880}
{:type :info, :f :write, :value 3, :process 51, :time 60307380312, :error "Fail to set", :index 4881}
{:type :invoke, :f :cas, :value [4 4], :process 77, :time 60350851849, :index 4882}
{:type :fail, :f :cas, :value [4 4], :process 77, :time 60352275599, :index 4883}
{:type :invoke, :f :write, :value 1, :process 83, :time 60366595338, :index 4884}
{:type :info, :f :write, :value 1, :process 83, :time 60367881528, :error "Fail to set", :index 4885}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
