{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :invoke, :f :cas, :value [3 3], :process 53, :time 36413423617, :index 2810}
{:type :fail, :f :cas, :value [3 3], :process 53, :time 36417166027, :index 2811}
{:type :invoke, :f :write, :value 3, :process 53, :time 36417384437, :index 2812}
{:type :ok, :f :write, :value 3, :process 53, :time 36420603017, :index 2814}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 36456385164, :index 2816}
{:type :invoke, :f :write, :value 0, :process 53, :time 36459849384, :index 2817}
{:type :fail, :f :cas, :value [1 3], :process 52, :time 36460400004, :index 2818}
{:type :ok, :f :write, :value 0, :process 53, :time 36463231074, :index 2819}
{:type :invoke, :f :read, :value nil, :process 95, :time 36474272143, :index 2820}
{:type :invoke, :f :read, :value nil, :process 31, :time 36474640393, :index 2821}
{:type :ok, :f :read, :value 0, :process 95, :time 36475946593, :index 2822}
{:type :ok, :f :read, :value 0, :process 31, :time 36475971433, :index 2823}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 36494632653, :index 2825}
{:type :invoke, :f :cas, :value [4 3], :process 44, :time 36494626122, :index 2826}
{:type :ok, :f :cas, :value [0 0], :process 53, :time 36499980752, :index 2827}
{:type :fail, :f :cas, :value [4 3], :process 44, :time 36500018542, :index 2828}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 36575334147, :index 2829}
{:type :invoke, :f :read, :value nil, :process 95, :time 36580239657, :index 2830}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :ok, :f :read, :value 0, :process 95, :time 36581753477, :index 2832}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 36593244866, :index 2833}
{:type :fail, :f :cas, :value [3 2], :process 53, :time 36612324235, :index 2834}
{:type :invoke, :f :read, :value nil, :process 52, :time 36614628875, :index 2835}
{:type :ok, :f :read, :value 0, :process 52, :time 36616207755, :index 2836}
{:type :invoke, :f :cas, :value [0 0], :process 44, :time 36616330495, :index 2837}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 36617569695, :index 2838}
{:type :ok, :f :cas, :value [0 0], :process 44, :time 36622370525, :index 2839}
{:type :invoke, :f :read, :value nil, :process 52, :time 36637490664, :index 2840}
{:type :ok, :f :read, :value 0, :process 52, :time 36639280973, :index 2841}
{:type :invoke, :f :read, :value nil, :process 44, :time 36644604823, :index 2842}
{:type :ok, :f :read, :value 0, :process 44, :time 36646116513, :index 2843}
{:type :invoke, :f :read, :value nil, :process 95, :time 36649036633, :index 2844}
{:type :ok, :f :read, :value 0, :process 95, :time 36650374563, :index 2845}
{:type :invoke, :f :cas, :value [2 1], :process 95, :time 36699612210, :index 2846}
{:type :invoke, :f :write, :value 4, :process 53, :time 36704699289, :index 2847}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 36717879159, :index 2848}
{:type :invoke, :f :cas, :value [0 0], :process 52, :time 36730543418, :index 2849}
{:type :invoke, :f :read, :value nil, :process 44, :time 36826477032, :index 2850}
{:type :ok, :f :read, :value 0, :process 44, :time 36828253702, :index 2851}
{:type :invoke, :f :write, :value 3, :process 44, :time 36862607310, :index 2852}
{:type :fail, :f :cas, :value [2 1], :process 95, :time 37454226353, :index 2853}
{:type :ok, :f :write, :value 4, :process 53, :time 37458816413, :index 2854}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 37458862433, :index 2855}
{:type :fail, :f :cas, :value [0 0], :process 52, :time 37458870303, :index 2856}
{:type :ok, :f :write, :value 3, :process 44, :time 37459388933, :index 2857}
{:type :invoke, :f :write, :value 2, :process 44, :time 37474615852, :index 2858}
{:type :ok, :f :write, :value 2, :process 44, :time 37492645351, :index 2859}
{:type :invoke, :f :read, :value nil, :process 53, :time 37509302260, :index 2860}
{:type :ok, :f :read, :value 2, :process 53, :time 37510960490, :index 2861}
{:type :invoke, :f :read, :value nil, :process 52, :time 37559189827, :index 2862}
{:type :ok, :f :read, :value 2, :process 52, :time 37560657927, :index 2863}
{:type :invoke, :f :read, :value nil, :process 95, :time 37563046956, :index 2864}
{:type :ok, :f :read, :value 2, :process 95, :time 37564644627, :index 2865}
{:type :invoke, :f :cas, :value [1 0], :process 44, :time 37582897545, :index 2866}
{:type :fail, :f :cas, :value [1 0], :process 44, :time 37603056134, :index 2867}
{:type :invoke, :f :write, :value 3, :process 95, :time 37603928034, :index 2868}
{:type :invoke, :f :write, :value 4, :process 31, :time 37607131524, :index 2869}
{:type :ok, :f :write, :value 3, :process 95, :time 37615404993, :index 2870}
{:type :ok, :f :write, :value 4, :process 31, :time 37628458853, :index 2871}
{:type :invoke, :f :read, :value nil, :process 44, :time 37638360302, :index 2872}
{:type :ok, :f :read, :value 4, :process 44, :time 37640034192, :index 2873}
{:type :invoke, :f :write, :value 3, :process 53, :time 37645208032, :index 2874}
{:type :invoke, :f :write, :value 2, :process 52, :time 37658873411, :index 2875}
{:type :ok, :f :write, :value 3, :process 53, :time 37660912511, :index 2876}
{:type :ok, :f :write, :value 2, :process 52, :time 37667064810, :index 2877}
{:type :invoke, :f :read, :value nil, :process 44, :time 37742886805, :index 2878}
{:type :ok, :f :read, :value 2, :process 44, :time 37744792465, :index 2879}
{:type :invoke, :f :cas, :value [0 4], :process 95, :time 37781764743, :index 2880}
{:type :invoke, :f :write, :value 3, :process 44, :time 37785125103, :index 2881}
{:type :fail, :f :cas, :value [0 4], :process 95, :time 37792241762, :index 2882}
{:type :invoke, :f :write, :value 1, :process 53, :time 37792187522, :index 2883}
{:type :ok, :f :write, :value 3, :process 44, :time 37796863742, :index 2884}
{:type :ok, :f :write, :value 1, :process 53, :time 37800657992, :index 2885}
{:type :invoke, :f :read, :value nil, :process 52, :time 37802369482, :index 2886}
{:type :ok, :f :read, :value 1, :process 52, :time 37803811052, :index 2887}
{:type :invoke, :f :cas, :value [2 0], :process 31, :time 37811800232, :index 2888}
{:type :fail, :f :cas, :value [2 0], :process 31, :time 37815588551, :index 2889}
{:type :invoke, :f :cas, :value [0 0], :process 95, :time 37842675409, :index 2890}
{:type :fail, :f :cas, :value [0 0], :process 95, :time 37846716349, :index 2891}
{:type :invoke, :f :read, :value nil, :process 53, :time 37925035254, :index 2892}
{:type :ok, :f :read, :value 1, :process 53, :time 37927154534, :index 2893}
{:type :invoke, :f :write, :value 2, :process 44, :time 37927174604, :index 2894}
{:type :ok, :f :write, :value 2, :process 44, :time 37931715294, :index 2895}
{:type :invoke, :f :cas, :value [0 0], :process 31, :time 37933909004, :index 2896}
{:type :fail, :f :cas, :value [0 0], :process 31, :time 37937352024, :index 2897}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 37957100752, :index 2898}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 37961381292, :index 2899}
{:type :invoke, :f :cas, :value [3 4], :process 44, :time 37987045761, :index 2900}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 37987727821, :index 2901}
{:type :fail, :f :cas, :value [3 4], :process 44, :time 37991432601, :index 2902}
{:type :ok, :f :cas, :value [2 1], :process 52, :time 37992041801, :index 2903}
{:type :invoke, :f :read, :value nil, :process 95, :time 38014107449, :index 2904}
{:type :ok, :f :read, :value 1, :process 95, :time 38015681789, :index 2905}
{:type :invoke, :f :read, :value nil, :process 53, :time 38036449998, :index 2906}
{:type :ok, :f :read, :value 1, :process 53, :time 38038210178, :index 2907}
{:type :invoke, :f :read, :value nil, :process 53, :time 38065553786, :index 2908}
{:type :ok, :f :read, :value 1, :process 53, :time 38067605856, :index 2909}
{:type :invoke, :f :write, :value 4, :process 31, :time 38075768775, :index 2910}
{:type :ok, :f :write, :value 4, :process 31, :time 38081674105, :index 2911}
{:type :invoke, :f :cas, :value [2 1], :process 95, :time 38094955064, :index 2912}
{:type :fail, :f :cas, :value [2 1], :process 95, :time 38098857364, :index 2913}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 38112269833, :index 2914}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 38116653213, :index 2915}
{:type :invoke, :f :write, :value 2, :process 44, :time 38181750089, :index 2916}
{:type :invoke, :f :cas, :value [0 0], :process 52, :time 38185001138, :index 2917}
{:type :ok, :f :write, :value 2, :process 44, :time 38187018758, :index 2918}
{:type :fail, :f :cas, :value [0 0], :process 52, :time 38192862598, :index 2919}
{:type :invoke, :f :read, :value nil, :process 53, :time 38196930118, :index 2920}
{:type :ok, :f :read, :value 2, :process 53, :time 38198882528, :index 2921}
{:type :invoke, :f :cas, :value [3 1], :process 95, :time 38206245187, :index 2922}
{:type :fail, :f :cas, :value [3 1], :process 95, :time 38210287417, :index 2923}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 38239319515, :index 2924}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 38243345925, :index 2925}
{:type :invoke, :f :read, :value nil, :process 31, :time 38248024645, :index 2926}
{:type :ok, :f :read, :value 2, :process 31, :time 38249506895, :index 2927}
{:type :invoke, :f :cas, :value [2 0], :process 44, :time 38252750185, :index 2928}
{:type :ok, :f :cas, :value [2 0], :process 44, :time 38256259864, :index 2929}
{:type :invoke, :f :write, :value 3, :process 31, :time 38256757314, :index 2930}
{:type :ok, :f :write, :value 3, :process 31, :time 38259730124, :index 2931}
{:type :invoke, :f :write, :value 1, :process 44, :time 38261526713, :index 2932}
{:type :ok, :f :write, :value 1, :process 44, :time 38265138504, :index 2933}
{:type :invoke, :f :cas, :value [1 0], :process 44, :time 38269375963, :index 2934}
{:type :ok, :f :cas, :value [1 0], :process 44, :time 38276126653, :index 2935}
{:type :invoke, :f :write, :value 4, :process 44, :time 38286358542, :index 2936}
{:type :ok, :f :write, :value 4, :process 44, :time 38289485432, :index 2937}
{:type :invoke, :f :write, :value 2, :process 52, :time 38333804039, :index 2938}
{:type :invoke, :f :write, :value 1, :process 95, :time 38335699359, :index 2939}
{:type :invoke, :f :write, :value 0, :process 31, :time 38337994909, :index 2940}
{:type :ok, :f :write, :value 2, :process 52, :time 38338916399, :index 2941}
{:type :ok, :f :write, :value 1, :process 95, :time 38340194279, :index 2942}
{:type :ok, :f :write, :value 0, :process 31, :time 38340819069, :index 2943}
{:type :invoke, :f :write, :value 2, :process 53, :time 38362220297, :index 2944}
{:type :ok, :f :write, :value 2, :process 53, :time 38369134497, :index 2945}
{:type :invoke, :f :read, :value nil, :process 52, :time 38381253017, :index 2946}
{:type :ok, :f :read, :value 2, :process 52, :time 38382849617, :index 2947}
{:type :invoke, :f :write, :value 2, :process 31, :time 38388065646, :index 2948}
{:type :ok, :f :write, :value 2, :process 31, :time 38391431656, :index 2949}
{:type :invoke, :f :read, :value nil, :process 95, :time 38402476375, :index 2950}
{:type :ok, :f :read, :value 2, :process 95, :time 38404182995, :index 2951}
{:type :invoke, :f :write, :value 4, :process 31, :time 38443736893, :index 2952}
{:type :ok, :f :write, :value 4, :process 31, :time 38447363142, :index 2953}
{:type :invoke, :f :write, :value 2, :process 95, :time 38447444282, :index 2954}
{:type :ok, :f :write, :value 2, :process 95, :time 38450253892, :index 2955}
{:type :invoke, :f :cas, :value [4 4], :process 44, :time 38467754301, :index 2956}
{:type :fail, :f :cas, :value [4 4], :process 44, :time 38476712360, :index 2957}
{:type :invoke, :f :write, :value 4, :process 52, :time 38479102860, :index 2958}
{:type :ok, :f :write, :value 4, :process 52, :time 38484048460, :index 2959}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 38505350929, :index 2960}
{:type :fail, :f :cas, :value [1 4], :process 52, :time 38509665359, :index 2961}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 38546115836, :index 2962}
{:type :fail, :f :cas, :value [1 1], :process 44, :time 38550186456, :index 2963}
{:type :invoke, :f :write, :value 2, :process 53, :time 38567532395, :index 2964}
{:type :invoke, :f :write, :value 1, :process 44, :time 38573498505, :index 2965}
{:type :ok, :f :write, :value 2, :process 53, :time 38576963224, :index 2966}
{:type :ok, :f :write, :value 1, :process 44, :time 38582404224, :index 2967}
{:type :invoke, :f :read, :value nil, :process 53, :time 38584250304, :index 2968}
{:type :ok, :f :read, :value 1, :process 53, :time 38585456744, :index 2969}
{:type :invoke, :f :cas, :value [0 4], :process 52, :time 38597057633, :index 2970}
{:type :fail, :f :cas, :value [0 4], :process 52, :time 38601683653, :index 2971}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 38606713643, :index 2972}
{:type :fail, :f :cas, :value [2 1], :process 53, :time 38610505652, :index 2973}
{:type :invoke, :f :write, :value 2, :process 31, :time 38621650422, :index 2974}
{:type :ok, :f :write, :value 2, :process 31, :time 38626015321, :index 2975}
{:type :invoke, :f :write, :value 0, :process 31, :time 38635321771, :index 2976}
{:type :ok, :f :write, :value 0, :process 31, :time 38639489791, :index 2977}
{:type :invoke, :f :read, :value nil, :process 95, :time 38643547421, :index 2978}
{:type :ok, :f :read, :value 0, :process 95, :time 38645003020, :index 2979}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 38645945130, :index 2980}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 38649994950, :index 2981}
{:type :invoke, :f :write, :value 2, :process 52, :time 38673367228, :index 2982}
{:type :invoke, :f :write, :value 0, :process 31, :time 38676789478, :index 2983}
{:type :ok, :f :write, :value 2, :process 52, :time 38679651608, :index 2984}
{:type :invoke, :f :cas, :value [3 1], :process 53, :time 38679808628, :index 2985}
{:type :ok, :f :write, :value 0, :process 31, :time 38684949488, :index 2986}
{:type :fail, :f :cas, :value [3 1], :process 53, :time 38690601458, :index 2987}
{:type :invoke, :f :write, :value 1, :process 44, :time 38698649127, :index 2988}
{:type :invoke, :f :cas, :value [4 4], :process 95, :time 38703282277, :index 2989}
{:type :ok, :f :write, :value 1, :process 44, :time 38704146046, :index 2990}
{:type :fail, :f :cas, :value [4 4], :process 95, :time 38707455576, :index 2991}
{:type :invoke, :f :cas, :value [4 2], :process 53, :time 38715861296, :index 2992}
{:type :fail, :f :cas, :value [4 2], :process 53, :time 38719598436, :index 2993}
{:type :invoke, :f :write, :value 2, :process 53, :time 38741945075, :index 2994}
{:type :invoke, :f :cas, :value [4 2], :process 44, :time 38742398635, :index 2995}
{:type :ok, :f :write, :value 2, :process 53, :time 38746715544, :index 2996}
{:type :fail, :f :cas, :value [4 2], :process 44, :time 38746740584, :index 2997}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 38755266863, :index 2998}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 38759800313, :index 2999}
{:type :invoke, :f :read, :value nil, :process 52, :time 38764916923, :index 3000}
{:type :ok, :f :read, :value 2, :process 52, :time 38766434953, :index 3001}
{:type :invoke, :f :read, :value nil, :process 31, :time 38825068079, :index 3002}
{:type :ok, :f :read, :value 2, :process 31, :time 38827817019, :index 3003}
{:type :invoke, :f :read, :value nil, :process 44, :time 38842075018, :index 3004}
{:type :ok, :f :read, :value 2, :process 44, :time 38843861208, :index 3005}
{:type :invoke, :f :cas, :value [3 3], :process 95, :time 38854807707, :index 3006}
{:type :fail, :f :cas, :value [3 3], :process 95, :time 38859639397, :index 3007}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 38891801005, :index 3010}
{:type :fail, :f :cas, :value [0 1], :process 52, :time 38895737675, :index 3011}
{:type :invoke, :f :read, :value nil, :process 53, :time 38917103913, :index 3014}
{:type :ok, :f :read, :value 2, :process 53, :time 38918750904, :index 3015}
{:type :invoke, :f :read, :value nil, :process 31, :time 38998342669, :index 3021}
{:type :ok, :f :read, :value 2, :process 31, :time 38999633619, :index 3022}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
