{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :invoke, :f :write, :value 4, :process 44, :time 55869232544, :index 4614}
{:type :ok, :f :write, :value 4, :process 44, :time 55872525704, :index 4615}
{:type :invoke, :f :cas, :value [3 0], :process 44, :time 55933884440, :index 4622}
{:type :fail, :f :cas, :value [3 0], :process 44, :time 55939192630, :index 4623}
{:type :invoke, :f :write, :value 1, :process 95, :time 55947111859, :index 4624}
{:type :ok, :f :write, :value 1, :process 95, :time 55950253509, :index 4625}
{:type :invoke, :f :read, :value nil, :process 53, :time 55975792477, :index 4626}
{:type :ok, :f :read, :value 1, :process 53, :time 55977079627, :index 4627}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 55985763237, :index 4628}
{:type :ok, :f :cas, :value [1 3], :process 52, :time 55988949457, :index 4629}
{:type :invoke, :f :cas, :value [4 0], :process 95, :time 56005548196, :index 4630}
{:type :fail, :f :cas, :value [4 0], :process 95, :time 56011191475, :index 4631}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 56077453331, :index 4632}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 56081064871, :index 4633}
{:type :invoke, :f :cas, :value [2 0], :process 53, :time 56096271400, :index 4634}
{:type :invoke, :f :write, :value 4, :process 31, :time 56100598890, :index 4635}
{:type :fail, :f :cas, :value [2 0], :process 53, :time 56102065459, :index 4636}
{:type :ok, :f :write, :value 4, :process 31, :time 56112136639, :index 4637}
{:type :invoke, :f :write, :value 2, :process 52, :time 56139179588, :index 4638}
{:type :invoke, :f :write, :value 2, :process 44, :time 56140303287, :index 4639}
{:type :ok, :f :write, :value 2, :process 52, :time 56143308527, :index 4640}
{:type :ok, :f :write, :value 2, :process 44, :time 56143920017, :index 4641}
{:type :invoke, :f :cas, :value [3 0], :process 53, :time 56166351966, :index 4642}
{:type :fail, :f :cas, :value [3 0], :process 53, :time 56169733296, :index 4643}
{:type :invoke, :f :write, :value 2, :process 31, :time 56182477885, :index 4644}
{:type :ok, :f :write, :value 2, :process 31, :time 56185474885, :index 4645}
{:type :invoke, :f :read, :value nil, :process 95, :time 56191636324, :index 4646}
{:type :ok, :f :read, :value 2, :process 95, :time 56192781904, :index 4647}
{:type :invoke, :f :read, :value nil, :process 95, :time 56236011661, :index 4648}
{:type :ok, :f :read, :value 2, :process 95, :time 56237543811, :index 4649}
{:type :invoke, :f :read, :value nil, :process 52, :time 56248839041, :index 4650}
{:type :ok, :f :read, :value 2, :process 52, :time 56249904201, :index 4651}
{:type :invoke, :f :read, :value nil, :process 53, :time 56291935458, :index 4652}
{:type :ok, :f :read, :value 2, :process 53, :time 56292987858, :index 4653}
{:type :invoke, :f :cas, :value [1 1], :process 95, :time 56304813187, :index 4654}
{:type :fail, :f :cas, :value [1 1], :process 95, :time 56310538417, :index 4655}
{:type :invoke, :f :write, :value 4, :process 44, :time 56315255257, :index 4656}
{:type :ok, :f :write, :value 4, :process 44, :time 56318653826, :index 4657}
{:type :invoke, :f :cas, :value [0 1], :process 31, :time 56327669976, :index 4658}
{:type :fail, :f :cas, :value [0 1], :process 31, :time 56330721816, :index 4659}
{:type :invoke, :f :write, :value 4, :process 31, :time 56351966335, :index 4660}
{:type :ok, :f :write, :value 4, :process 31, :time 56355063324, :index 4661}
{:type :invoke, :f :cas, :value [3 1], :process 53, :time 56376168423, :index 4662}
{:type :fail, :f :cas, :value [3 1], :process 53, :time 56379156583, :index 4663}
{:type :invoke, :f :read, :value nil, :process 95, :time 56393852232, :index 4664}
{:type :ok, :f :read, :value 4, :process 95, :time 56394922142, :index 4665}
{:type :invoke, :f :write, :value 1, :process 52, :time 56410143520, :index 4666}
{:type :ok, :f :write, :value 1, :process 52, :time 56414408850, :index 4667}
{:type :invoke, :f :write, :value 4, :process 95, :time 56445137049, :index 4668}
{:type :ok, :f :write, :value 4, :process 95, :time 56448219169, :index 4669}
{:type :invoke, :f :read, :value nil, :process 31, :time 56471295657, :index 4670}
{:type :ok, :f :read, :value 4, :process 31, :time 56472428267, :index 4671}
{:type :invoke, :f :write, :value 0, :process 44, :time 56489898506, :index 4672}
{:type :ok, :f :write, :value 0, :process 44, :time 56493626815, :index 4673}
{:type :invoke, :f :read, :value nil, :process 31, :time 56493613155, :index 4674}
{:type :invoke, :f :write, :value 0, :process 53, :time 56494366926, :index 4675}
{:type :ok, :f :read, :value 0, :process 31, :time 56494718315, :index 4676}
{:type :ok, :f :write, :value 0, :process 53, :time 56496911395, :index 4677}
{:type :invoke, :f :read, :value nil, :process 52, :time 56503765575, :index 4678}
{:type :ok, :f :read, :value 0, :process 52, :time 56508854855, :index 4679}
{:type :invoke, :f :write, :value 1, :process 44, :time 56537861303, :index 4680}
{:type :ok, :f :write, :value 1, :process 44, :time 56541294733, :index 4681}
{:type :invoke, :f :cas, :value [4 2], :process 53, :time 56544128392, :index 4682}
{:type :fail, :f :cas, :value [4 2], :process 53, :time 56547615342, :index 4683}
{:type :invoke, :f :read, :value nil, :process 95, :time 56559467102, :index 4684}
{:type :ok, :f :read, :value 1, :process 95, :time 56560949062, :index 4685}
{:type :invoke, :f :read, :value nil, :process 31, :time 56578940341, :index 4686}
{:type :ok, :f :read, :value 1, :process 31, :time 56580265430, :index 4687}
{:type :invoke, :f :cas, :value [2 2], :process 52, :time 56582150890, :index 4688}
{:type :fail, :f :cas, :value [2 2], :process 52, :time 56585076890, :index 4689}
{:type :invoke, :f :write, :value 1, :process 44, :time 56591644470, :index 4690}
{:type :ok, :f :write, :value 1, :process 44, :time 56594477489, :index 4691}
{:type :invoke, :f :cas, :value [3 0], :process 95, :time 56625200758, :index 4692}
{:type :fail, :f :cas, :value [3 0], :process 95, :time 56628598417, :index 4693}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 56676475734, :index 4694}
{:type :ok, :f :cas, :value [1 4], :process 31, :time 56679884164, :index 4695}
{:type :invoke, :f :read, :value nil, :process 52, :time 56685282774, :index 4696}
{:type :invoke, :f :read, :value nil, :process 53, :time 56685866234, :index 4697}
{:type :ok, :f :read, :value 4, :process 52, :time 56686442434, :index 4698}
{:type :ok, :f :read, :value 4, :process 53, :time 56686853034, :index 4699}
{:type :invoke, :f :write, :value 1, :process 44, :time 56719694502, :index 4700}
{:type :ok, :f :write, :value 1, :process 44, :time 56722955441, :index 4701}
{:type :invoke, :f :write, :value 3, :process 95, :time 56815871966, :index 4702}
{:type :ok, :f :write, :value 3, :process 95, :time 56821782556, :index 4703}
{:type :invoke, :f :write, :value 1, :process 52, :time 56833648935, :index 4704}
{:type :ok, :f :write, :value 1, :process 52, :time 56836833955, :index 4705}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 56848176584, :index 4706}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 56851153133, :index 4707}
{:type :invoke, :f :read, :value nil, :process 53, :time 56861028883, :index 4708}
{:type :ok, :f :read, :value 1, :process 53, :time 56862391973, :index 4709}
{:type :invoke, :f :read, :value nil, :process 95, :time 56865077193, :index 4710}
{:type :ok, :f :read, :value 1, :process 95, :time 56866036693, :index 4711}
{:type :invoke, :f :read, :value nil, :process 44, :time 56871236903, :index 4712}
{:type :ok, :f :read, :value 1, :process 44, :time 56872249523, :index 4713}
{:type :invoke, :f :read, :value nil, :process 31, :time 56898504611, :index 4714}
{:type :ok, :f :read, :value 1, :process 31, :time 56900139481, :index 4715}
{:type :invoke, :f :cas, :value [2 4], :process 44, :time 56935488568, :index 4716}
{:type :fail, :f :cas, :value [2 4], :process 44, :time 56938993878, :index 4717}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 56972075277, :index 4718}
{:type :invoke, :f :read, :value nil, :process 95, :time 56974236806, :index 4719}
{:type :fail, :f :cas, :value [3 1], :process 52, :time 56975553316, :index 4720}
{:type :ok, :f :read, :value 1, :process 95, :time 56975759786, :index 4721}
{:type :invoke, :f :cas, :value [3 3], :process 44, :time 56979244446, :index 4722}
{:type :fail, :f :cas, :value [3 3], :process 44, :time 56982411445, :index 4723}
{:type :invoke, :f :read, :value nil, :process 31, :time 57022452603, :index 4724}
{:type :invoke, :f :write, :value 0, :process 53, :time 57022608143, :index 4725}
{:type :ok, :f :read, :value 1, :process 31, :time 57024092523, :index 4726}
{:type :ok, :f :write, :value 0, :process 53, :time 57025776663, :index 4727}
{:type :invoke, :f :cas, :value [4 1], :process 44, :time 57042654632, :index 4728}
{:type :fail, :f :cas, :value [4 1], :process 44, :time 57045739752, :index 4729}
{:type :invoke, :f :cas, :value [0 0], :process 95, :time 57070999090, :index 4730}
{:type :ok, :f :cas, :value [0 0], :process 95, :time 57076082900, :index 4731}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 57087229919, :index 4732}
{:type :fail, :f :cas, :value [3 0], :process 52, :time 57090883709, :index 4733}
{:type :invoke, :f :cas, :value [2 3], :process 53, :time 57090983489, :index 4734}
{:type :fail, :f :cas, :value [2 3], :process 53, :time 57094124499, :index 4735}
{:type :invoke, :f :write, :value 4, :process 52, :time 57096139189, :index 4736}
{:type :ok, :f :write, :value 4, :process 52, :time 57099990489, :index 4737}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :invoke, :f :cas, :value [2 0], :process 44, :time 57119423977, :index 4739}
{:type :fail, :f :cas, :value [2 0], :process 44, :time 57125890747, :index 4740}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 57146363006, :index 4741}
{:type :invoke, :f :write, :value 1, :process 95, :time 57184344943, :index 4742}
{:type :invoke, :f :write, :value 1, :process 53, :time 57192347433, :index 4743}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :invoke, :f :read, :value nil, :process 52, :time 57264276988, :index 4745}
{:type :ok, :f :read, :value 4, :process 52, :time 57265549878, :index 4746}
{:type :invoke, :f :write, :value 3, :process 44, :time 57318029775, :index 4747}
{:type :invoke, :f :write, :value 0, :process 52, :time 57353790633, :index 4748}
{:type :info, :f :write, :value 1, :process 95, :time 58907419758, :error "Fail to set", :index 4749}
{:type :info, :f :write, :value 1, :process 53, :time 58907543548, :error "Fail to set", :index 4750}
{:type :info, :f :write, :value 3, :process 44, :time 58907543818, :error "Fail to set", :index 4751}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 58907562308, :index 4752}
{:type :info, :f :write, :value 0, :process 52, :time 58907599968, :error "Fail to set", :index 4753}
{:type :invoke, :f :write, :value 3, :process 57, :time 58924737186, :index 4754}
{:type :info, :f :write, :value 3, :process 57, :time 58926450806, :error "Fail to set", :index 4755}
{:type :invoke, :f :read, :value nil, :process 31, :time 58930953706, :index 4756}
{:type :ok, :f :read, :value 4, :process 31, :time 58932266036, :index 4757}
{:type :invoke, :f :cas, :value [0 0], :process 62, :time 58932303646, :index 4758}
{:type :fail, :f :cas, :value [0 0], :process 62, :time 58933309446, :index 4759}
{:type :invoke, :f :write, :value 1, :process 62, :time 58947503475, :index 4760}
{:type :info, :f :write, :value 1, :process 62, :time 58948854305, :error "Fail to set", :index 4761}
{:type :invoke, :f :write, :value 1, :process 67, :time 59047779599, :index 4762}
{:type :info, :f :write, :value 1, :process 67, :time 59049290219, :error "Fail to set", :index 4763}
{:type :invoke, :f :write, :value 1, :process 31, :time 59068483678, :index 4764}
{:type :info, :f :write, :value 1, :process 31, :time 59069886788, :error "Fail to set", :index 4765}
{:type :invoke, :f :write, :value 0, :process 49, :time 59077561407, :index 4766}
{:type :info, :f :write, :value 0, :process 49, :time 59078957917, :error "Fail to set", :index 4767}
{:type :invoke, :f :write, :value 0, :process 58, :time 59087400456, :index 4768}
{:type :info, :f :write, :value 0, :process 58, :time 59088757667, :error "Fail to set", :index 4769}
{:type :invoke, :f :write, :value 1, :process 100, :time 59096027376, :index 4770}
{:type :info, :f :write, :value 1, :process 100, :time 59097473236, :error "Fail to set", :index 4771}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 59105766875, :index 4772}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 59109526385, :index 4773}
{:type :invoke, :f :read, :value nil, :process 72, :time 59162227662, :index 4774}
{:type :ok, :f :read, :value 4, :process 72, :time 59163689812, :index 4775}
{:type :invoke, :f :cas, :value [2 4], :process 105, :time 59163653772, :index 4776}
{:type :fail, :f :cas, :value [2 4], :process 105, :time 59164694602, :index 4777}
{:type :invoke, :f :read, :value nil, :process 54, :time 59165139682, :index 4778}
{:type :ok, :f :read, :value 4, :process 54, :time 59165949982, :index 4779}
{:type :invoke, :f :write, :value 4, :process 105, :time 59187890880, :index 4780}
{:type :info, :f :write, :value 4, :process 105, :time 59189324780, :error "Fail to set", :index 4781}
{:type :invoke, :f :read, :value nil, :process 63, :time 59247698937, :index 4782}
{:type :ok, :f :read, :value 4, :process 63, :time 59249002157, :index 4783}
{:type :invoke, :f :cas, :value [0 2], :process 54, :time 59250070207, :index 4784}
{:type :fail, :f :cas, :value [0 2], :process 54, :time 59251034517, :index 4785}
{:type :invoke, :f :cas, :value [4 4], :process 110, :time 59252207827, :index 4786}
{:type :fail, :f :cas, :value [4 4], :process 110, :time 59253382917, :index 4787}
{:type :invoke, :f :read, :value nil, :process 36, :time 59284845104, :index 4788}
{:type :ok, :f :read, :value 4, :process 36, :time 59286173474, :index 4789}
{:type :invoke, :f :write, :value 2, :process 72, :time 59338931651, :index 4790}
{:type :info, :f :write, :value 2, :process 72, :time 59340346471, :error "Fail to set", :index 4791}
{:type :invoke, :f :read, :value nil, :process 36, :time 59352442240, :index 4792}
{:type :ok, :f :read, :value 4, :process 36, :time 59353820460, :index 4793}
{:type :invoke, :f :read, :value nil, :process 63, :time 59355200450, :index 4794}
{:type :ok, :f :read, :value 4, :process 63, :time 59356459120, :index 4795}
{:type :invoke, :f :cas, :value [2 0], :process 110, :time 59372674999, :index 4796}
{:type :fail, :f :cas, :value [2 0], :process 110, :time 59373763989, :index 4797}
{:type :invoke, :f :write, :value 0, :process 110, :time 59374923139, :index 4798}
{:type :info, :f :write, :value 0, :process 110, :time 59375985469, :error "Fail to set", :index 4799}
{:type :invoke, :f :cas, :value [4 0], :process 54, :time 59380229629, :index 4800}
{:type :fail, :f :cas, :value [4 0], :process 54, :time 59381250449, :index 4801}
{:type :invoke, :f :read, :value nil, :process 36, :time 59422056996, :index 4802}
{:type :ok, :f :read, :value 4, :process 36, :time 59423515276, :index 4803}
{:type :invoke, :f :write, :value 4, :process 36, :time 59444872994, :index 4804}
{:type :info, :f :write, :value 4, :process 36, :time 59445937705, :error "Fail to set", :index 4805}
{:type :invoke, :f :cas, :value [2 0], :process 77, :time 59456245564, :index 4806}
{:type :fail, :f :cas, :value [2 0], :process 77, :time 59457364664, :index 4807}
{:type :invoke, :f :write, :value 4, :process 54, :time 59470445983, :index 4808}
{:type :info, :f :write, :value 4, :process 54, :time 59471514703, :error "Fail to set", :index 4809}
{:type :invoke, :f :write, :value 1, :process 41, :time 59486842502, :index 4810}
{:type :info, :f :write, :value 1, :process 41, :time 59487843012, :error "Fail to set", :index 4811}
{:type :invoke, :f :cas, :value [1 2], :process 63, :time 59494606151, :index 4812}
{:type :fail, :f :cas, :value [1 2], :process 63, :time 59495720771, :index 4813}
{:type :invoke, :f :write, :value 4, :process 115, :time 59541802499, :index 4814}
{:type :info, :f :write, :value 4, :process 115, :time 59543301719, :error "Fail to set", :index 4815}
{:type :invoke, :f :read, :value nil, :process 77, :time 59566604987, :index 4816}
{:type :ok, :f :read, :value 4, :process 77, :time 59567775277, :index 4817}
{:type :invoke, :f :cas, :value [2 0], :process 59, :time 59603477995, :index 4819}
{:type :fail, :f :cas, :value [2 0], :process 59, :time 59605170725, :index 4820}
{:type :invoke, :f :read, :value nil, :process 46, :time 59623708974, :index 4822}
{:type :ok, :f :read, :value 4, :process 46, :time 59625984814, :index 4823}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
