{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :invoke, :f :write, :value 0, :process 52, :time 34401689530, :index 2608}
{:type :ok, :f :write, :value 0, :process 52, :time 34406025080, :index 2609}
{:type :invoke, :f :write, :value 1, :process 53, :time 34413682260, :index 2611}
{:type :ok, :f :write, :value 1, :process 53, :time 34418854649, :index 2613}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 34444082818, :index 2614}
{:type :fail, :f :cas, :value [3 2], :process 53, :time 34448430118, :index 2615}
{:type :invoke, :f :write, :value 2, :process 52, :time 34499397695, :index 2618}
{:type :ok, :f :write, :value 2, :process 52, :time 34503102315, :index 2619}
{:type :invoke, :f :cas, :value [2 0], :process 95, :time 34536101502, :index 2620}
{:type :ok, :f :cas, :value [2 0], :process 95, :time 34540599702, :index 2621}
{:type :invoke, :f :write, :value 1, :process 31, :time 34563357611, :index 2622}
{:type :invoke, :f :write, :value 0, :process 95, :time 34566006320, :index 2623}
{:type :ok, :f :write, :value 1, :process 31, :time 34567427990, :index 2624}
{:type :ok, :f :write, :value 0, :process 95, :time 34569109090, :index 2625}
{:type :invoke, :f :write, :value 0, :process 44, :time 34613544377, :index 2626}
{:type :ok, :f :write, :value 0, :process 44, :time 34617586467, :index 2627}
{:type :invoke, :f :cas, :value [2 3], :process 53, :time 34630810437, :index 2628}
{:type :fail, :f :cas, :value [2 3], :process 53, :time 34634474266, :index 2629}
{:type :invoke, :f :read, :value nil, :process 52, :time 34679507474, :index 2630}
{:type :invoke, :f :write, :value 2, :process 95, :time 34680337784, :index 2631}
{:type :ok, :f :read, :value 0, :process 52, :time 34681729784, :index 2632}
{:type :invoke, :f :read, :value nil, :process 31, :time 34681756884, :index 2633}
{:type :ok, :f :read, :value 0, :process 31, :time 34683352313, :index 2634}
{:type :ok, :f :write, :value 2, :process 95, :time 34683806123, :index 2635}
{:type :invoke, :f :write, :value 4, :process 95, :time 34690010133, :index 2636}
{:type :ok, :f :write, :value 4, :process 95, :time 34693194023, :index 2637}
{:type :invoke, :f :write, :value 1, :process 53, :time 34702863102, :index 2638}
{:type :ok, :f :write, :value 1, :process 53, :time 34707350122, :index 2639}
{:type :invoke, :f :write, :value 1, :process 31, :time 34722542791, :index 2640}
{:type :ok, :f :write, :value 1, :process 31, :time 34726400371, :index 2641}
{:type :invoke, :f :read, :value nil, :process 44, :time 34728984081, :index 2642}
{:type :ok, :f :read, :value 1, :process 44, :time 34730446710, :index 2643}
{:type :invoke, :f :read, :value nil, :process 53, :time 34819734245, :index 2644}
{:type :ok, :f :read, :value 1, :process 53, :time 34821718515, :index 2645}
{:type :invoke, :f :cas, :value [3 2], :process 52, :time 34831083654, :index 2646}
{:type :fail, :f :cas, :value [3 2], :process 52, :time 34834979604, :index 2647}
{:type :invoke, :f :read, :value nil, :process 52, :time 34855295983, :index 2648}
{:type :ok, :f :read, :value 1, :process 52, :time 34859183693, :index 2649}
{:type :invoke, :f :write, :value 3, :process 95, :time 34890462971, :index 2650}
{:type :ok, :f :write, :value 3, :process 95, :time 34894449500, :index 2651}
{:type :invoke, :f :cas, :value [2 2], :process 44, :time 34902496710, :index 2652}
{:type :fail, :f :cas, :value [2 2], :process 44, :time 34908190690, :index 2653}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 34908986930, :index 2654}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 34912637079, :index 2655}
{:type :invoke, :f :read, :value nil, :process 95, :time 34954734067, :index 2656}
{:type :ok, :f :read, :value 3, :process 95, :time 34956654067, :index 2657}
{:type :invoke, :f :read, :value nil, :process 53, :time 34980011425, :index 2658}
{:type :ok, :f :read, :value 3, :process 53, :time 34981535325, :index 2659}
{:type :invoke, :f :write, :value 0, :process 52, :time 35027529922, :index 2660}
{:type :ok, :f :write, :value 0, :process 52, :time 35031421852, :index 2661}
{:type :invoke, :f :write, :value 2, :process 31, :time 35043013331, :index 2662}
{:type :ok, :f :write, :value 2, :process 31, :time 35047175981, :index 2663}
{:type :invoke, :f :write, :value 2, :process 95, :time 35092955148, :index 2664}
{:type :ok, :f :write, :value 2, :process 95, :time 35097101238, :index 2665}
{:type :invoke, :f :write, :value 1, :process 44, :time 35103509177, :index 2666}
{:type :ok, :f :write, :value 1, :process 44, :time 35107365277, :index 2667}
{:type :invoke, :f :cas, :value [4 1], :process 44, :time 35111766547, :index 2668}
{:type :fail, :f :cas, :value [4 1], :process 44, :time 35115641997, :index 2669}
{:type :invoke, :f :write, :value 2, :process 52, :time 35153902134, :index 2670}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 35156846064, :index 2671}
{:type :invoke, :f :read, :value nil, :process 53, :time 35157815454, :index 2672}
{:type :ok, :f :write, :value 2, :process 52, :time 35158593244, :index 2673}
{:type :ok, :f :read, :value 2, :process 53, :time 35159449274, :index 2674}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 35161067514, :index 2675}
{:type :invoke, :f :read, :value nil, :process 95, :time 35186410712, :index 2676}
{:type :ok, :f :read, :value 2, :process 95, :time 35188257102, :index 2677}
{:type :invoke, :f :read, :value nil, :process 31, :time 35238595899, :index 2678}
{:type :ok, :f :read, :value 2, :process 31, :time 35240234699, :index 2679}
{:type :invoke, :f :cas, :value [2 3], :process 53, :time 35246761699, :index 2680}
{:type :ok, :f :cas, :value [2 3], :process 53, :time 35251001079, :index 2681}
{:type :invoke, :f :read, :value nil, :process 95, :time 35281500056, :index 2682}
{:type :ok, :f :read, :value 3, :process 95, :time 35283341796, :index 2683}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 35286402236, :index 2684}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 35290276236, :index 2685}
{:type :invoke, :f :write, :value 2, :process 44, :time 35303735855, :index 2686}
{:type :ok, :f :write, :value 2, :process 44, :time 35307991245, :index 2687}
{:type :invoke, :f :write, :value 3, :process 53, :time 35326308764, :index 2688}
{:type :invoke, :f :cas, :value [0 0], :process 31, :time 35326483514, :index 2689}
{:type :ok, :f :write, :value 3, :process 53, :time 35330287974, :index 2690}
{:type :fail, :f :cas, :value [0 0], :process 31, :time 35330346134, :index 2691}
{:type :invoke, :f :write, :value 1, :process 52, :time 35334877453, :index 2692}
{:type :ok, :f :write, :value 1, :process 52, :time 35338480103, :index 2693}
{:type :invoke, :f :write, :value 4, :process 52, :time 35364864361, :index 2694}
{:type :invoke, :f :write, :value 2, :process 95, :time 35365682541, :index 2695}
{:type :ok, :f :write, :value 4, :process 52, :time 35369087011, :index 2696}
{:type :ok, :f :write, :value 2, :process 95, :time 35369546651, :index 2697}
{:type :invoke, :f :read, :value nil, :process 95, :time 35399901299, :index 2698}
{:type :ok, :f :read, :value 2, :process 95, :time 35401740289, :index 2699}
{:type :invoke, :f :read, :value nil, :process 53, :time 35406640469, :index 2700}
{:type :ok, :f :read, :value 2, :process 53, :time 35408065239, :index 2701}
{:type :invoke, :f :write, :value 3, :process 53, :time 35409361968, :index 2702}
{:type :invoke, :f :write, :value 1, :process 95, :time 35410050868, :index 2703}
{:type :ok, :f :write, :value 3, :process 53, :time 35413320628, :index 2704}
{:type :ok, :f :write, :value 1, :process 95, :time 35414063458, :index 2705}
{:type :invoke, :f :cas, :value [4 1], :process 52, :time 35416449548, :index 2706}
{:type :fail, :f :cas, :value [4 1], :process 52, :time 35419690498, :index 2707}
{:type :invoke, :f :cas, :value [0 0], :process 31, :time 35441683007, :index 2708}
{:type :fail, :f :cas, :value [0 0], :process 31, :time 35447131476, :index 2709}
{:type :invoke, :f :write, :value 2, :process 52, :time 35478975995, :index 2710}
{:type :ok, :f :write, :value 2, :process 52, :time 35483908864, :index 2711}
{:type :invoke, :f :write, :value 2, :process 53, :time 35484629414, :index 2712}
{:type :ok, :f :write, :value 2, :process 53, :time 35487831274, :index 2713}
{:type :invoke, :f :write, :value 1, :process 44, :time 35504447613, :index 2714}
{:type :ok, :f :write, :value 1, :process 44, :time 35508204643, :index 2715}
{:type :invoke, :f :read, :value nil, :process 31, :time 35535440801, :index 2716}
{:type :ok, :f :read, :value 1, :process 31, :time 35537129951, :index 2717}
{:type :invoke, :f :read, :value nil, :process 95, :time 35599396327, :index 2718}
{:type :ok, :f :read, :value 1, :process 95, :time 35601234287, :index 2719}
{:type :invoke, :f :read, :value nil, :process 52, :time 35614220356, :index 2720}
{:type :invoke, :f :cas, :value [1 3], :process 44, :time 35614530306, :index 2721}
{:type :ok, :f :read, :value 1, :process 52, :time 35616099446, :index 2722}
{:type :ok, :f :cas, :value [1 3], :process 44, :time 35618282896, :index 2723}
{:type :invoke, :f :write, :value 3, :process 31, :time 35640338235, :index 2724}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 35642139575, :index 2725}
{:type :ok, :f :write, :value 3, :process 31, :time 35644560754, :index 2726}
{:type :invoke, :f :write, :value 4, :process 52, :time 35645372574, :index 2727}
{:type :ok, :f :cas, :value [3 2], :process 53, :time 35645613834, :index 2728}
{:type :ok, :f :write, :value 4, :process 52, :time 35648725744, :index 2729}
{:type :invoke, :f :write, :value 1, :process 31, :time 35684936472, :index 2730}
{:type :ok, :f :write, :value 1, :process 31, :time 35689152642, :index 2731}
{:type :invoke, :f :read, :value nil, :process 52, :time 35698157001, :index 2732}
{:type :ok, :f :read, :value 1, :process 52, :time 35699671081, :index 2733}
{:type :invoke, :f :read, :value nil, :process 52, :time 35707902970, :index 2734}
{:type :ok, :f :read, :value 1, :process 52, :time 35709175030, :index 2735}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 35731705039, :index 2736}
{:type :ok, :f :cas, :value [1 4], :process 44, :time 35735902749, :index 2737}
{:type :invoke, :f :read, :value nil, :process 44, :time 35750306728, :index 2738}
{:type :ok, :f :read, :value 4, :process 44, :time 35752007558, :index 2739}
{:type :invoke, :f :write, :value 1, :process 31, :time 35762475187, :index 2740}
{:type :ok, :f :write, :value 1, :process 31, :time 35766478267, :index 2741}
{:type :invoke, :f :cas, :value [0 3], :process 95, :time 35780503226, :index 2742}
{:type :fail, :f :cas, :value [0 3], :process 95, :time 35784106926, :index 2743}
{:type :invoke, :f :read, :value nil, :process 95, :time 35801396524, :index 2744}
{:type :ok, :f :read, :value 1, :process 95, :time 35803113715, :index 2745}
{:type :invoke, :f :write, :value 1, :process 44, :time 35812301544, :index 2746}
{:type :ok, :f :write, :value 1, :process 44, :time 35816046174, :index 2747}
{:type :invoke, :f :read, :value nil, :process 95, :time 35819341024, :index 2748}
{:type :ok, :f :read, :value 1, :process 95, :time 35820707454, :index 2749}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 35821754364, :index 2750}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 35825032473, :index 2751}
{:type :invoke, :f :write, :value 4, :process 44, :time 35832322933, :index 2752}
{:type :invoke, :f :write, :value 3, :process 53, :time 35834855813, :index 2753}
{:type :ok, :f :write, :value 4, :process 44, :time 35837504102, :index 2754}
{:type :ok, :f :write, :value 3, :process 53, :time 35838596593, :index 2755}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 35844812222, :index 2756}
{:type :fail, :f :cas, :value [1 2], :process 44, :time 35848293192, :index 2757}
{:type :invoke, :f :cas, :value [4 3], :process 95, :time 35873926640, :index 2758}
{:type :fail, :f :cas, :value [4 3], :process 95, :time 35877843060, :index 2759}
{:type :invoke, :f :cas, :value [3 2], :process 95, :time 35886128439, :index 2760}
{:type :invoke, :f :cas, :value [1 3], :process 53, :time 35887806729, :index 2761}
{:type :ok, :f :cas, :value [3 2], :process 95, :time 35889928939, :index 2762}
{:type :invoke, :f :write, :value 1, :process 52, :time 35890354269, :index 2763}
{:type :fail, :f :cas, :value [1 3], :process 53, :time 35891097069, :index 2764}
{:type :ok, :f :write, :value 1, :process 52, :time 35893762739, :index 2765}
{:type :invoke, :f :cas, :value [0 3], :process 95, :time 35907206538, :index 2766}
{:type :fail, :f :cas, :value [0 3], :process 95, :time 35911118878, :index 2767}
{:type :invoke, :f :write, :value 1, :process 44, :time 35924551787, :index 2768}
{:type :ok, :f :write, :value 1, :process 44, :time 35928103037, :index 2769}
{:type :invoke, :f :write, :value 0, :process 52, :time 35957027445, :index 2770}
{:type :ok, :f :write, :value 0, :process 52, :time 35960897105, :index 2771}
{:type :invoke, :f :cas, :value [2 0], :process 31, :time 35964381805, :index 2772}
{:type :fail, :f :cas, :value [2 0], :process 31, :time 35968157965, :index 2773}
{:type :invoke, :f :read, :value nil, :process 53, :time 35970351325, :index 2774}
{:type :ok, :f :read, :value 0, :process 53, :time 35971694134, :index 2775}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 35986347823, :index 2776}
{:type :invoke, :f :read, :value nil, :process 95, :time 35987420103, :index 2777}
{:type :ok, :f :read, :value 0, :process 95, :time 35989016793, :index 2778}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 35989924623, :index 2779}
{:type :invoke, :f :cas, :value [3 2], :process 44, :time 36039393870, :index 2780}
{:type :fail, :f :cas, :value [3 2], :process 44, :time 36043590740, :index 2781}
{:type :invoke, :f :write, :value 0, :process 52, :time 36076189158, :index 2782}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 36079505158, :index 2783}
{:type :ok, :f :write, :value 0, :process 52, :time 36080189078, :index 2784}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 36082992067, :index 2785}
{:type :invoke, :f :write, :value 0, :process 44, :time 36091937357, :index 2786}
{:type :ok, :f :write, :value 0, :process 44, :time 36095291047, :index 2787}
{:type :invoke, :f :write, :value 3, :process 44, :time 36107627936, :index 2788}
{:type :ok, :f :write, :value 3, :process 44, :time 36112553185, :index 2789}
{:type :invoke, :f :write, :value 4, :process 53, :time 36164965452, :index 2790}
{:type :invoke, :f :cas, :value [2 2], :process 95, :time 36166248872, :index 2791}
{:type :ok, :f :write, :value 4, :process 53, :time 36168844632, :index 2792}
{:type :fail, :f :cas, :value [2 2], :process 95, :time 36169882282, :index 2793}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 36194996631, :index 2794}
{:type :fail, :f :cas, :value [1 2], :process 44, :time 36200249880, :index 2795}
{:type :invoke, :f :read, :value nil, :process 52, :time 36206466660, :index 2796}
{:type :ok, :f :read, :value 4, :process 52, :time 36207888030, :index 2797}
{:type :invoke, :f :write, :value 0, :process 31, :time 36231260589, :index 2798}
{:type :ok, :f :write, :value 0, :process 31, :time 36235471668, :index 2799}
{:type :invoke, :f :read, :value nil, :process 95, :time 36256095997, :index 2800}
{:type :ok, :f :read, :value 0, :process 95, :time 36257687487, :index 2801}
{:type :invoke, :f :read, :value nil, :process 53, :time 36285319225, :index 2802}
{:type :ok, :f :read, :value 0, :process 53, :time 36287059405, :index 2803}
{:type :invoke, :f :write, :value 4, :process 52, :time 36374175269, :index 2804}
{:type :ok, :f :write, :value 4, :process 52, :time 36378064909, :index 2805}
{:type :invoke, :f :read, :value nil, :process 44, :time 36395601208, :index 2806}
{:type :ok, :f :read, :value 4, :process 44, :time 36397374148, :index 2807}
{:type :invoke, :f :read, :value nil, :process 31, :time 36407812938, :index 2808}
{:type :ok, :f :read, :value 4, :process 31, :time 36409369707, :index 2809}
{:type :invoke, :f :read, :value nil, :process 95, :time 36419949786, :index 2813}
{:type :ok, :f :read, :value 4, :process 95, :time 36421078986, :index 2815}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
