{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :invoke, :f :write, :value 2, :process 44, :time 45132419502, :index 3610}
{:type :invoke, :f :write, :value 3, :process 31, :time 45139641452, :index 3613}
{:type :ok, :f :write, :value 2, :process 44, :time 45149726741, :index 3614}
{:type :ok, :f :write, :value 3, :process 31, :time 45156052261, :index 3615}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 45208146878, :index 3618}
{:type :fail, :f :cas, :value [1 2], :process 44, :time 45223498457, :index 3621}
{:type :invoke, :f :cas, :value [2 4], :process 53, :time 45260753275, :index 3622}
{:type :invoke, :f :write, :value 0, :process 31, :time 45263374724, :index 3623}
{:type :fail, :f :cas, :value [2 4], :process 53, :time 45265424654, :index 3624}
{:type :ok, :f :write, :value 0, :process 31, :time 45266945644, :index 3625}
{:type :invoke, :f :write, :value 2, :process 95, :time 45286196363, :index 3626}
{:type :ok, :f :write, :value 2, :process 95, :time 45289410623, :index 3627}
{:type :invoke, :f :write, :value 2, :process 53, :time 45315733841, :index 3628}
{:type :ok, :f :write, :value 2, :process 53, :time 45319493791, :index 3629}
{:type :invoke, :f :read, :value nil, :process 52, :time 45333442940, :index 3630}
{:type :ok, :f :read, :value 2, :process 52, :time 45335031300, :index 3631}
{:type :invoke, :f :cas, :value [2 0], :process 44, :time 45374803288, :index 3632}
{:type :ok, :f :cas, :value [2 0], :process 44, :time 45378442247, :index 3633}
{:type :invoke, :f :write, :value 1, :process 44, :time 45380775657, :index 3634}
{:type :ok, :f :write, :value 1, :process 44, :time 45384081937, :index 3635}
{:type :invoke, :f :read, :value nil, :process 95, :time 45409685826, :index 3636}
{:type :ok, :f :read, :value 1, :process 95, :time 45411467175, :index 3637}
{:type :invoke, :f :read, :value nil, :process 53, :time 45420886975, :index 3638}
{:type :ok, :f :read, :value 1, :process 53, :time 45422506674, :index 3639}
{:type :invoke, :f :read, :value nil, :process 52, :time 45432284544, :index 3640}
{:type :ok, :f :read, :value 1, :process 52, :time 45433859494, :index 3641}
{:type :invoke, :f :write, :value 1, :process 31, :time 45434204334, :index 3642}
{:type :ok, :f :write, :value 1, :process 31, :time 45437635524, :index 3643}
{:type :invoke, :f :read, :value nil, :process 31, :time 45474846381, :index 3644}
{:type :ok, :f :read, :value 1, :process 31, :time 45476548241, :index 3645}
{:type :invoke, :f :read, :value nil, :process 52, :time 45505216049, :index 3646}
{:type :invoke, :f :cas, :value [3 0], :process 95, :time 45505778629, :index 3647}
{:type :ok, :f :read, :value 1, :process 52, :time 45506935169, :index 3648}
{:type :fail, :f :cas, :value [3 0], :process 95, :time 45509232189, :index 3649}
{:type :invoke, :f :read, :value nil, :process 44, :time 45520341728, :index 3650}
{:type :ok, :f :read, :value 1, :process 44, :time 45521828388, :index 3651}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 45557077766, :index 3652}
{:type :invoke, :f :cas, :value [1 1], :process 95, :time 45560529926, :index 3653}
{:type :ok, :f :cas, :value [1 2], :process 44, :time 45560851236, :index 3654}
{:type :fail, :f :cas, :value [1 1], :process 95, :time 45564943006, :index 3655}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 45593835914, :index 3656}
{:type :ok, :f :cas, :value [2 2], :process 53, :time 45597587264, :index 3657}
{:type :invoke, :f :write, :value 0, :process 44, :time 45660223540, :index 3658}
{:type :ok, :f :write, :value 0, :process 44, :time 45664467730, :index 3659}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 45664797740, :index 3660}
{:type :ok, :f :cas, :value [0 4], :process 31, :time 45667940220, :index 3661}
{:type :invoke, :f :cas, :value [3 3], :process 53, :time 45670908210, :index 3662}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 45674212909, :index 3663}
{:type :fail, :f :cas, :value [3 3], :process 53, :time 45674596809, :index 3664}
{:type :ok, :f :cas, :value [4 4], :process 52, :time 45677265659, :index 3665}
{:type :invoke, :f :cas, :value [4 1], :process 44, :time 45687746558, :index 3666}
{:type :ok, :f :cas, :value [4 1], :process 44, :time 45691481708, :index 3667}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 45692547328, :index 3668}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 45695621608, :index 3669}
{:type :invoke, :f :cas, :value [3 0], :process 95, :time 45729260866, :index 3670}
{:type :fail, :f :cas, :value [3 0], :process 95, :time 45733531335, :index 3671}
{:type :invoke, :f :read, :value nil, :process 31, :time 45759194314, :index 3672}
{:type :ok, :f :read, :value 1, :process 31, :time 45761042544, :index 3673}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 45842922739, :index 3674}
{:type :invoke, :f :cas, :value [3 3], :process 52, :time 45844947439, :index 3675}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 45848302928, :index 3676}
{:type :fail, :f :cas, :value [3 3], :process 52, :time 45848695159, :index 3677}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 45862410227, :index 3678}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 45866081257, :index 3679}
{:type :invoke, :f :write, :value 4, :process 44, :time 45874853047, :index 3680}
{:type :ok, :f :write, :value 4, :process 44, :time 45878590397, :index 3681}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 45878634437, :index 3682}
{:type :invoke, :f :read, :value nil, :process 95, :time 45883865196, :index 3683}
{:type :ok, :f :read, :value 4, :process 95, :time 45885396996, :index 3684}
{:type :fail, :f :cas, :value [3 2], :process 53, :time 45886287586, :index 3685}
{:type :invoke, :f :read, :value nil, :process 52, :time 45929334084, :index 3686}
{:type :ok, :f :read, :value 4, :process 52, :time 45931087464, :index 3687}
{:type :invoke, :f :write, :value 2, :process 52, :time 45935364883, :index 3688}
{:type :ok, :f :write, :value 2, :process 52, :time 45938606253, :index 3689}
{:type :invoke, :f :read, :value nil, :process 31, :time 45952533962, :index 3690}
{:type :ok, :f :read, :value 2, :process 31, :time 45954116562, :index 3691}
{:type :invoke, :f :cas, :value [4 1], :process 31, :time 45967387391, :index 3692}
{:type :fail, :f :cas, :value [4 1], :process 31, :time 45974488311, :index 3693}
{:type :invoke, :f :write, :value 4, :process 53, :time 45979693891, :index 3694}
{:type :ok, :f :write, :value 4, :process 53, :time 45984984560, :index 3695}
{:type :invoke, :f :read, :value nil, :process 95, :time 46002651979, :index 3696}
{:type :ok, :f :read, :value 4, :process 95, :time 46004097039, :index 3697}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 46010920819, :index 3698}
{:type :fail, :f :cas, :value [1 1], :process 44, :time 46015252068, :index 3699}
{:type :invoke, :f :write, :value 3, :process 53, :time 46025359848, :index 3700}
{:type :ok, :f :write, :value 3, :process 53, :time 46029288648, :index 3701}
{:type :invoke, :f :write, :value 1, :process 52, :time 46049932706, :index 3702}
{:type :ok, :f :write, :value 1, :process 52, :time 46057720726, :index 3703}
{:type :invoke, :f :write, :value 3, :process 31, :time 46113807052, :index 3704}
{:type :ok, :f :write, :value 3, :process 31, :time 46117860212, :index 3705}
{:type :invoke, :f :read, :value nil, :process 44, :time 46120618802, :index 3706}
{:type :ok, :f :read, :value 3, :process 44, :time 46121953531, :index 3707}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 46123593991, :index 3708}
{:type :invoke, :f :read, :value nil, :process 95, :time 46124384282, :index 3709}
{:type :ok, :f :read, :value 3, :process 95, :time 46126359381, :index 3710}
{:type :fail, :f :cas, :value [1 0], :process 53, :time 46126915841, :index 3711}
{:type :invoke, :f :write, :value 4, :process 53, :time 46170160059, :index 3712}
{:type :ok, :f :write, :value 4, :process 53, :time 46174453408, :index 3713}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 46176783548, :index 3714}
{:type :fail, :f :cas, :value [1 2], :process 44, :time 46181299508, :index 3715}
{:type :invoke, :f :read, :value nil, :process 44, :time 46200660027, :index 3716}
{:type :ok, :f :read, :value 4, :process 44, :time 46202367087, :index 3717}
{:type :invoke, :f :read, :value nil, :process 95, :time 46224624435, :index 3718}
{:type :ok, :f :read, :value 4, :process 95, :time 46226250365, :index 3719}
{:type :invoke, :f :write, :value 0, :process 53, :time 46235773695, :index 3720}
{:type :invoke, :f :read, :value nil, :process 31, :time 46238213705, :index 3721}
{:type :ok, :f :write, :value 0, :process 53, :time 46239338995, :index 3722}
{:type :ok, :f :read, :value 0, :process 31, :time 46239465285, :index 3723}
{:type :invoke, :f :read, :value nil, :process 52, :time 46254040534, :index 3724}
{:type :ok, :f :read, :value 0, :process 52, :time 46255710363, :index 3725}
{:type :invoke, :f :read, :value nil, :process 44, :time 46266740763, :index 3726}
{:type :ok, :f :read, :value 0, :process 44, :time 46268510273, :index 3727}
{:type :invoke, :f :read, :value nil, :process 53, :time 46299648820, :index 3728}
{:type :ok, :f :read, :value 0, :process 53, :time 46301465120, :index 3729}
{:type :invoke, :f :read, :value nil, :process 31, :time 46341658918, :index 3730}
{:type :ok, :f :read, :value 0, :process 31, :time 46343690588, :index 3731}
{:type :invoke, :f :cas, :value [1 1], :process 95, :time 46375541606, :index 3732}
{:type :fail, :f :cas, :value [1 1], :process 95, :time 46383551155, :index 3733}
{:type :invoke, :f :read, :value nil, :process 44, :time 46404890704, :index 3734}
{:type :ok, :f :read, :value 0, :process 44, :time 46408126974, :index 3735}
{:type :invoke, :f :read, :value nil, :process 53, :time 46408765764, :index 3736}
{:type :ok, :f :read, :value 0, :process 53, :time 46409995294, :index 3737}
{:type :invoke, :f :cas, :value [0 2], :process 52, :time 46424008503, :index 3738}
{:type :ok, :f :cas, :value [0 2], :process 52, :time 46428661813, :index 3739}
{:type :invoke, :f :write, :value 2, :process 31, :time 46451052082, :index 3740}
{:type :ok, :f :write, :value 2, :process 31, :time 46456488321, :index 3741}
{:type :invoke, :f :cas, :value [2 0], :process 95, :time 46498477749, :index 3742}
{:type :ok, :f :cas, :value [2 0], :process 95, :time 46502241799, :index 3743}
{:type :invoke, :f :read, :value nil, :process 53, :time 46525277067, :index 3744}
{:type :ok, :f :read, :value 0, :process 53, :time 46527157127, :index 3745}
{:type :invoke, :f :write, :value 1, :process 53, :time 46527366767, :index 3746}
{:type :ok, :f :write, :value 1, :process 53, :time 46532813817, :index 3747}
{:type :invoke, :f :write, :value 1, :process 52, :time 46536016926, :index 3748}
{:type :ok, :f :write, :value 1, :process 52, :time 46540238416, :index 3749}
{:type :invoke, :f :read, :value nil, :process 31, :time 46541767886, :index 3750}
{:type :ok, :f :read, :value 1, :process 31, :time 46544775456, :index 3751}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 46574048514, :index 3752}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 46577968384, :index 3753}
{:type :invoke, :f :read, :value nil, :process 44, :time 46583478063, :index 3754}
{:type :ok, :f :read, :value 1, :process 44, :time 46584678263, :index 3755}
{:type :invoke, :f :read, :value nil, :process 95, :time 46593604393, :index 3756}
{:type :ok, :f :read, :value 1, :process 95, :time 46594746383, :index 3757}
{:type :invoke, :f :read, :value nil, :process 31, :time 46635341030, :index 3758}
{:type :ok, :f :read, :value 1, :process 31, :time 46636985550, :index 3759}
{:type :invoke, :f :read, :value nil, :process 52, :time 46679510788, :index 3760}
{:type :ok, :f :read, :value 1, :process 52, :time 46681238277, :index 3761}
{:type :invoke, :f :read, :value nil, :process 44, :time 46693872227, :index 3762}
{:type :ok, :f :read, :value 1, :process 44, :time 46695447327, :index 3763}
{:type :invoke, :f :read, :value nil, :process 53, :time 46732132465, :index 3764}
{:type :ok, :f :read, :value 1, :process 53, :time 46733757074, :index 3765}
{:type :invoke, :f :cas, :value [4 0], :process 95, :time 46755970103, :index 3766}
{:type :fail, :f :cas, :value [4 0], :process 95, :time 46761463403, :index 3767}
{:type :invoke, :f :read, :value nil, :process 52, :time 46762534543, :index 3768}
{:type :ok, :f :read, :value 1, :process 52, :time 46763933982, :index 3769}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 46794172650, :index 3771}
{:type :fail, :f :cas, :value [3 1], :process 52, :time 46803742900, :index 3772}
{:type :invoke, :f :read, :value nil, :process 31, :time 46808225180, :index 3773}
{:type :ok, :f :read, :value 1, :process 31, :time 46809891210, :index 3774}
{:type :invoke, :f :write, :value 0, :process 53, :time 46815044369, :index 3775}
{:type :ok, :f :write, :value 0, :process 53, :time 46819124289, :index 3776}
{:type :invoke, :f :write, :value 2, :process 53, :time 46822427389, :index 3777}
{:type :ok, :f :write, :value 2, :process 53, :time 46825709239, :index 3778}
{:type :invoke, :f :read, :value nil, :process 44, :time 46832697798, :index 3779}
{:type :ok, :f :read, :value 2, :process 44, :time 46834028808, :index 3780}
{:type :invoke, :f :write, :value 4, :process 31, :time 46840179868, :index 3781}
{:type :ok, :f :write, :value 4, :process 31, :time 46843833027, :index 3782}
{:type :invoke, :f :write, :value 1, :process 52, :time 46860685686, :index 3783}
{:type :ok, :f :write, :value 1, :process 52, :time 46864720726, :index 3784}
{:type :invoke, :f :write, :value 0, :process 31, :time 46867114506, :index 3785}
{:type :ok, :f :write, :value 0, :process 31, :time 46870307145, :index 3786}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :invoke, :f :read, :value nil, :process 44, :time 46914232923, :index 3788}
{:type :ok, :f :read, :value 0, :process 44, :time 46915901723, :index 3789}
{:type :invoke, :f :write, :value 0, :process 44, :time 46936170082, :index 3790}
{:type :ok, :f :write, :value 0, :process 44, :time 46942260002, :index 3791}
{:type :invoke, :f :write, :value 3, :process 95, :time 46949779121, :index 3792}
{:type :ok, :f :write, :value 3, :process 95, :time 46953186891, :index 3793}
{:type :invoke, :f :write, :value 4, :process 53, :time 46953997071, :index 3794}
{:type :ok, :f :write, :value 4, :process 53, :time 46957140250, :index 3795}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 46981642879, :index 3796}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 46985488469, :index 3797}
{:type :invoke, :f :write, :value 0, :process 52, :time 47028997766, :index 3798}
{:type :ok, :f :write, :value 0, :process 52, :time 47032742256, :index 3799}
{:type :invoke, :f :write, :value 4, :process 31, :time 47035864626, :index 3800}
{:type :ok, :f :write, :value 4, :process 31, :time 47039193346, :index 3801}
{:type :invoke, :f :read, :value nil, :process 53, :time 47052422684, :index 3802}
{:type :ok, :f :read, :value 4, :process 53, :time 47053988454, :index 3803}
{:type :invoke, :f :read, :value nil, :process 95, :time 47101446481, :index 3804}
{:type :ok, :f :read, :value 4, :process 95, :time 47103102401, :index 3805}
{:type :invoke, :f :write, :value 1, :process 44, :time 47107656691, :index 3806}
{:type :ok, :f :write, :value 1, :process 44, :time 47112518811, :index 3807}
{:type :invoke, :f :write, :value 0, :process 53, :time 47136209039, :index 3808}
{:type :invoke, :f :cas, :value [1 0], :process 95, :time 47138381169, :index 3809}
{:type :ok, :f :write, :value 0, :process 53, :time 47140484489, :index 3810}
{:type :fail, :f :cas, :value [1 0], :process 95, :time 47141358349, :index 3811}
{:type :invoke, :f :write, :value 2, :process 44, :time 47199784746, :index 3814}
{:type :ok, :f :write, :value 2, :process 44, :time 47203035136, :index 3815}
{:type :invoke, :f :write, :value 4, :process 31, :time 47214494704, :index 3816}
{:type :ok, :f :write, :value 4, :process 31, :time 47220701524, :index 3817}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 47232062123, :index 3818}
{:type :fail, :f :cas, :value [1 3], :process 52, :time 47235720933, :index 3819}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
