{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 42936783847, :index 3412}
{:type :ok, :f :cas, :value [0 1], :process 52, :time 42954413976, :index 3415}
{:type :invoke, :f :read, :value nil, :process 95, :time 42975015765, :index 3418}
{:type :ok, :f :read, :value 1, :process 95, :time 42976603465, :index 3419}
{:type :invoke, :f :read, :value nil, :process 95, :time 43063960209, :index 3420}
{:type :invoke, :f :cas, :value [4 3], :process 31, :time 43086143018, :index 3421}
{:type :invoke, :f :read, :value nil, :process 44, :time 43098193397, :index 3422}
{:type :invoke, :f :write, :value 0, :process 53, :time 43098469707, :index 3423}
{:type :ok, :f :read, :value 1, :process 95, :time 43101267227, :index 3424}
{:type :ok, :f :read, :value 1, :process 44, :time 43101303517, :index 3425}
{:type :ok, :f :write, :value 0, :process 53, :time 43113124876, :index 3426}
{:type :invoke, :f :cas, :value [3 2], :process 52, :time 43113030227, :index 3427}
{:type :fail, :f :cas, :value [4 3], :process 31, :time 43113584787, :index 3428}
{:type :fail, :f :cas, :value [3 2], :process 52, :time 43122487495, :index 3429}
{:type :invoke, :f :write, :value 1, :process 53, :time 43128453545, :index 3430}
{:type :ok, :f :write, :value 1, :process 53, :time 43136428645, :index 3431}
{:type :invoke, :f :read, :value nil, :process 53, :time 43181801372, :index 3432}
{:type :ok, :f :read, :value 1, :process 53, :time 43183594122, :index 3433}
{:type :invoke, :f :read, :value nil, :process 31, :time 43209922900, :index 3434}
{:type :ok, :f :read, :value 1, :process 31, :time 43211574380, :index 3435}
{:type :invoke, :f :write, :value 2, :process 44, :time 43219593160, :index 3436}
{:type :ok, :f :write, :value 2, :process 44, :time 43254911087, :index 3437}
{:type :invoke, :f :read, :value nil, :process 95, :time 43282576246, :index 3438}
{:type :ok, :f :read, :value 2, :process 95, :time 43284246846, :index 3439}
{:type :invoke, :f :cas, :value [4 4], :process 95, :time 43288517136, :index 3440}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 43292410756, :index 3441}
{:type :fail, :f :cas, :value [4 4], :process 95, :time 43309951694, :index 3442}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 43312690124, :index 3443}
{:type :invoke, :f :write, :value 3, :process 53, :time 43343887552, :index 3444}
{:type :invoke, :f :cas, :value [1 3], :process 95, :time 43356364061, :index 3445}
{:type :ok, :f :write, :value 3, :process 53, :time 43364931121, :index 3446}
{:type :fail, :f :cas, :value [1 3], :process 95, :time 43366831421, :index 3447}
{:type :invoke, :f :write, :value 1, :process 52, :time 43367053161, :index 3448}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 43375848010, :index 3449}
{:type :invoke, :f :write, :value 2, :process 95, :time 43380168320, :index 3450}
{:type :ok, :f :write, :value 1, :process 52, :time 43400929529, :index 3451}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 43402232938, :index 3452}
{:type :ok, :f :write, :value 2, :process 95, :time 43405791148, :index 3453}
{:type :invoke, :f :write, :value 4, :process 44, :time 43412267818, :index 3454}
{:type :ok, :f :write, :value 4, :process 44, :time 43430429107, :index 3455}
{:type :invoke, :f :write, :value 3, :process 52, :time 43439321676, :index 3456}
{:type :ok, :f :write, :value 3, :process 52, :time 43443134576, :index 3457}
{:type :invoke, :f :write, :value 0, :process 44, :time 43449795246, :index 3458}
{:type :ok, :f :write, :value 0, :process 44, :time 43453484005, :index 3459}
{:type :invoke, :f :cas, :value [1 2], :process 53, :time 43452397325, :index 3460}
{:type :fail, :f :cas, :value [1 2], :process 53, :time 43458910375, :index 3461}
{:type :invoke, :f :cas, :value [2 0], :process 95, :time 43481031704, :index 3462}
{:type :fail, :f :cas, :value [2 0], :process 95, :time 43488188943, :index 3463}
{:type :invoke, :f :write, :value 0, :process 95, :time 43519522891, :index 3464}
{:type :ok, :f :write, :value 0, :process 95, :time 43523370241, :index 3465}
{:type :invoke, :f :write, :value 2, :process 31, :time 43523618501, :index 3466}
{:type :ok, :f :write, :value 2, :process 31, :time 43526861391, :index 3467}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 43573816968, :index 3468}
{:type :invoke, :f :write, :value 0, :process 31, :time 43576154938, :index 3469}
{:type :fail, :f :cas, :value [1 1], :process 44, :time 43593611867, :index 3470}
{:type :ok, :f :write, :value 0, :process 31, :time 43596221057, :index 3471}
{:type :invoke, :f :write, :value 1, :process 53, :time 43623240135, :index 3472}
{:type :ok, :f :write, :value 1, :process 53, :time 43627283035, :index 3473}
{:type :invoke, :f :write, :value 2, :process 52, :time 43633440774, :index 3474}
{:type :ok, :f :write, :value 2, :process 52, :time 43636920334, :index 3475}
{:type :invoke, :f :write, :value 3, :process 95, :time 43637641744, :index 3476}
{:type :ok, :f :write, :value 3, :process 95, :time 43640906814, :index 3477}
{:type :invoke, :f :read, :value nil, :process 31, :time 43665525772, :index 3478}
{:type :ok, :f :read, :value 3, :process 31, :time 43667182042, :index 3479}
{:type :invoke, :f :read, :value nil, :process 95, :time 43668185782, :index 3480}
{:type :ok, :f :read, :value 3, :process 95, :time 43669582742, :index 3481}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 43775089436, :index 3482}
{:type :invoke, :f :write, :value 0, :process 95, :time 43780897295, :index 3483}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 43782224925, :index 3484}
{:type :ok, :f :write, :value 0, :process 95, :time 43787302105, :index 3485}
{:type :invoke, :f :write, :value 3, :process 53, :time 43804615284, :index 3486}
{:type :ok, :f :write, :value 3, :process 53, :time 43808579674, :index 3487}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 43825310903, :index 3488}
{:type :fail, :f :cas, :value [1 4], :process 52, :time 43829111542, :index 3489}
{:type :invoke, :f :read, :value nil, :process 52, :time 43837475112, :index 3490}
{:type :ok, :f :read, :value 3, :process 52, :time 43838989472, :index 3491}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 43847463271, :index 3492}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 43851032111, :index 3493}
{:type :invoke, :f :write, :value 4, :process 44, :time 43869603780, :index 3494}
{:type :ok, :f :write, :value 4, :process 44, :time 43874720080, :index 3495}
{:type :invoke, :f :cas, :value [0 2], :process 44, :time 43879039599, :index 3496}
{:type :fail, :f :cas, :value [0 2], :process 44, :time 43882731499, :index 3497}
{:type :invoke, :f :read, :value nil, :process 53, :time 43909903987, :index 3498}
{:type :ok, :f :read, :value 4, :process 53, :time 43911746297, :index 3499}
{:type :invoke, :f :read, :value nil, :process 31, :time 43925395156, :index 3500}
{:type :ok, :f :read, :value 4, :process 31, :time 43926963546, :index 3501}
{:type :invoke, :f :cas, :value [3 2], :process 52, :time 43929291266, :index 3502}
{:type :fail, :f :cas, :value [3 2], :process 52, :time 43933246306, :index 3503}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 43940230876, :index 3504}
{:type :ok, :f :cas, :value [4 2], :process 31, :time 43943665165, :index 3505}
{:type :invoke, :f :write, :value 2, :process 53, :time 43972056673, :index 3506}
{:type :ok, :f :write, :value 2, :process 53, :time 43976029613, :index 3507}
{:type :invoke, :f :read, :value nil, :process 95, :time 43983644053, :index 3508}
{:type :ok, :f :read, :value 2, :process 95, :time 43985093003, :index 3509}
{:type :invoke, :f :cas, :value [1 0], :process 44, :time 44034057670, :index 3510}
{:type :fail, :f :cas, :value [1 0], :process 44, :time 44037873630, :index 3511}
{:type :invoke, :f :cas, :value [0 3], :process 52, :time 44045614379, :index 3512}
{:type :invoke, :f :read, :value nil, :process 31, :time 44050846949, :index 3513}
{:type :fail, :f :cas, :value [0 3], :process 52, :time 44054949458, :index 3514}
{:type :ok, :f :read, :value 2, :process 31, :time 44057600658, :index 3515}
{:type :invoke, :f :write, :value 1, :process 95, :time 44153352242, :index 3516}
{:type :ok, :f :write, :value 1, :process 95, :time 44157433122, :index 3517}
{:type :invoke, :f :read, :value nil, :process 53, :time 44167287682, :index 3518}
{:type :ok, :f :read, :value 1, :process 53, :time 44169147202, :index 3519}
{:type :invoke, :f :read, :value nil, :process 31, :time 44171917342, :index 3520}
{:type :ok, :f :read, :value 1, :process 31, :time 44173390262, :index 3521}
{:type :invoke, :f :write, :value 4, :process 52, :time 44205320009, :index 3522}
{:type :ok, :f :write, :value 4, :process 52, :time 44209946479, :index 3523}
{:type :invoke, :f :write, :value 2, :process 95, :time 44210757989, :index 3524}
{:type :ok, :f :write, :value 2, :process 95, :time 44214770579, :index 3525}
{:type :invoke, :f :write, :value 4, :process 53, :time 44226375818, :index 3526}
{:type :ok, :f :write, :value 4, :process 53, :time 44229647167, :index 3527}
{:type :invoke, :f :cas, :value [0 3], :process 44, :time 44229502038, :index 3528}
{:type :invoke, :f :write, :value 2, :process 53, :time 44241945397, :index 3529}
{:type :fail, :f :cas, :value [0 3], :process 44, :time 44255075056, :index 3530}
{:type :invoke, :f :write, :value 0, :process 52, :time 44284340634, :index 3531}
{:type :invoke, :f :read, :value nil, :process 31, :time 44304462003, :index 3532}
{:type :ok, :f :read, :value 4, :process 31, :time 44306693663, :index 3533}
{:type :invoke, :f :write, :value 0, :process 44, :time 44331505442, :index 3534}
{:type :invoke, :f :write, :value 3, :process 31, :time 44352096551, :index 3535}
{:type :invoke, :f :cas, :value [4 2], :process 95, :time 44387095518, :index 3536}
{:type :ok, :f :write, :value 2, :process 53, :time 44387717818, :index 3537}
{:type :ok, :f :write, :value 0, :process 52, :time 44392226508, :index 3538}
{:type :ok, :f :write, :value 3, :process 31, :time 44392377708, :index 3539}
{:type :ok, :f :write, :value 0, :process 44, :time 44392377828, :index 3540}
{:type :fail, :f :cas, :value [4 2], :process 95, :time 44393657278, :index 3541}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 44412673006, :index 3542}
{:type :invoke, :f :cas, :value [0 4], :process 52, :time 44420575616, :index 3543}
{:type :invoke, :f :write, :value 3, :process 95, :time 44422875866, :index 3544}
{:type :invoke, :f :cas, :value [0 1], :process 44, :time 44441670385, :index 3545}
{:type :ok, :f :cas, :value [3 1], :process 31, :time 44444829245, :index 3546}
{:type :fail, :f :cas, :value [0 4], :process 52, :time 44447235174, :index 3547}
{:type :ok, :f :write, :value 3, :process 95, :time 44447394904, :index 3548}
{:type :fail, :f :cas, :value [0 1], :process 44, :time 44447494434, :index 3549}
{:type :invoke, :f :write, :value 3, :process 53, :time 44452951704, :index 3550}
{:type :ok, :f :write, :value 3, :process 53, :time 44461470363, :index 3551}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 44461717173, :index 3552}
{:type :ok, :f :cas, :value [3 0], :process 52, :time 44470663873, :index 3553}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 44488821962, :index 3554}
{:type :fail, :f :cas, :value [1 4], :process 44, :time 44495019581, :index 3555}
{:type :invoke, :f :write, :value 4, :process 52, :time 44500039011, :index 3556}
{:type :ok, :f :write, :value 4, :process 52, :time 44506179101, :index 3557}
{:type :invoke, :f :write, :value 1, :process 95, :time 44528795869, :index 3558}
{:type :ok, :f :write, :value 1, :process 95, :time 44536297519, :index 3559}
{:type :invoke, :f :cas, :value [3 1], :process 53, :time 44545836498, :index 3560}
{:type :fail, :f :cas, :value [3 1], :process 53, :time 44552521428, :index 3561}
{:type :invoke, :f :read, :value nil, :process 31, :time 44584214656, :index 3562}
{:type :ok, :f :read, :value 1, :process 31, :time 44586041416, :index 3563}
{:type :invoke, :f :write, :value 3, :process 44, :time 44626522243, :index 3564}
{:type :ok, :f :write, :value 3, :process 44, :time 44636173643, :index 3565}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 44639035673, :index 3566}
{:type :invoke, :f :write, :value 0, :process 31, :time 44642371163, :index 3567}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 44644557202, :index 3568}
{:type :ok, :f :write, :value 0, :process 31, :time 44647165212, :index 3569}
{:type :invoke, :f :write, :value 3, :process 44, :time 44683570790, :index 3570}
{:type :invoke, :f :cas, :value [0 1], :process 95, :time 44689795410, :index 3571}
{:type :invoke, :f :write, :value 4, :process 52, :time 44690906160, :index 3572}
{:type :ok, :f :write, :value 3, :process 44, :time 44692077930, :index 3573}
{:type :invoke, :f :read, :value nil, :process 53, :time 44693843850, :index 3574}
{:type :fail, :f :cas, :value [0 1], :process 95, :time 44694883990, :index 3575}
{:type :ok, :f :read, :value 3, :process 53, :time 44695388989, :index 3576}
{:type :ok, :f :write, :value 4, :process 52, :time 44697075179, :index 3577}
{:type :invoke, :f :read, :value nil, :process 31, :time 44710593798, :index 3578}
{:type :ok, :f :read, :value 4, :process 31, :time 44712297018, :index 3579}
{:type :invoke, :f :cas, :value [4 1], :process 31, :time 44727638187, :index 3580}
{:type :invoke, :f :write, :value 2, :process 53, :time 44729863857, :index 3581}
{:type :ok, :f :write, :value 2, :process 53, :time 44738464057, :index 3582}
{:type :ok, :f :cas, :value [4 1], :process 31, :time 44738504007, :index 3583}
{:type :invoke, :f :write, :value 4, :process 31, :time 44773998294, :index 3584}
{:type :ok, :f :write, :value 4, :process 31, :time 44781947674, :index 3585}
{:type :invoke, :f :cas, :value [0 1], :process 44, :time 44790436124, :index 3586}
{:type :fail, :f :cas, :value [0 1], :process 44, :time 44796891103, :index 3587}
{:type :invoke, :f :read, :value nil, :process 52, :time 44798417612, :index 3588}
{:type :ok, :f :read, :value 4, :process 52, :time 44800028423, :index 3589}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 44861948869, :index 3590}
{:type :invoke, :f :write, :value 1, :process 95, :time 44871192679, :index 3591}
{:type :fail, :f :cas, :value [1 0], :process 53, :time 44887229378, :index 3592}
{:type :ok, :f :write, :value 1, :process 95, :time 44891103357, :index 3593}
{:type :invoke, :f :write, :value 0, :process 44, :time 44913245766, :index 3594}
{:type :ok, :f :write, :value 0, :process 44, :time 44929898195, :index 3595}
{:type :invoke, :f :cas, :value [1 3], :process 95, :time 44964528643, :index 3596}
{:type :invoke, :f :read, :value nil, :process 31, :time 44972159152, :index 3597}
{:type :ok, :f :read, :value 0, :process 31, :time 44973977392, :index 3598}
{:type :invoke, :f :write, :value 2, :process 52, :time 44974355732, :index 3599}
{:type :fail, :f :cas, :value [1 3], :process 95, :time 44975791372, :index 3600}
{:type :ok, :f :write, :value 2, :process 52, :time 44978569282, :index 3601}
{:type :invoke, :f :cas, :value [3 3], :process 53, :time 44996676221, :index 3602}
{:type :invoke, :f :read, :value nil, :process 52, :time 45018916829, :index 3603}
{:type :ok, :f :read, :value 2, :process 52, :time 45020958559, :index 3604}
{:type :fail, :f :cas, :value [3 3], :process 53, :time 45083397985, :index 3605}
{:type :invoke, :f :cas, :value [1 3], :process 44, :time 45108310204, :index 3606}
{:type :invoke, :f :write, :value 4, :process 31, :time 45120282603, :index 3607}
{:type :invoke, :f :write, :value 1, :process 95, :time 45125392213, :index 3608}
{:type :fail, :f :cas, :value [1 3], :process 44, :time 45126900453, :index 3609}
{:type :ok, :f :write, :value 4, :process 31, :time 45134317402, :index 3611}
{:type :ok, :f :write, :value 1, :process 95, :time 45135929102, :index 3612}
{:type :invoke, :f :read, :value nil, :process 53, :time 45163788610, :index 3616}
{:type :ok, :f :read, :value 1, :process 53, :time 45165438920, :index 3617}
{:type :invoke, :f :read, :value nil, :process 52, :time 45213264067, :index 3619}
{:type :ok, :f :read, :value 1, :process 52, :time 45215097397, :index 3620}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
