{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :invoke, :f :write, :value 0, :process 52, :time 27962685655, :index 2007}
{:type :ok, :f :write, :value 0, :process 52, :time 27969002215, :index 2009}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 27979248715, :index 2010}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 27984366414, :index 2011}
{:type :invoke, :f :cas, :value [0 0], :process 95, :time 28045100870, :index 2014}
{:type :ok, :f :cas, :value [0 0], :process 95, :time 28049153650, :index 2015}
{:type :invoke, :f :write, :value 2, :process 31, :time 28069540879, :index 2016}
{:type :ok, :f :write, :value 2, :process 31, :time 28073173209, :index 2017}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 28085708098, :index 2018}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 28089789138, :index 2019}
{:type :invoke, :f :read, :value nil, :process 44, :time 28107193617, :index 2020}
{:type :ok, :f :read, :value 2, :process 44, :time 28110225496, :index 2021}
{:type :invoke, :f :read, :value nil, :process 52, :time 28114677176, :index 2022}
{:type :ok, :f :read, :value 2, :process 52, :time 28116391056, :index 2023}
{:type :invoke, :f :write, :value 2, :process 44, :time 28161596313, :index 2024}
{:type :ok, :f :write, :value 2, :process 44, :time 28165390253, :index 2025}
{:type :invoke, :f :cas, :value [0 1], :process 95, :time 28196427701, :index 2026}
{:type :invoke, :f :write, :value 1, :process 52, :time 28199682861, :index 2027}
{:type :fail, :f :cas, :value [0 1], :process 95, :time 28200692351, :index 2028}
{:type :ok, :f :write, :value 1, :process 52, :time 28203231161, :index 2029}
{:type :invoke, :f :write, :value 4, :process 53, :time 28210031320, :index 2030}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 28213406850, :index 2031}
{:type :ok, :f :write, :value 4, :process 53, :time 28213946550, :index 2032}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 28216679080, :index 2033}
{:type :invoke, :f :read, :value nil, :process 31, :time 28275961386, :index 2034}
{:type :invoke, :f :write, :value 1, :process 44, :time 28278652256, :index 2035}
{:type :ok, :f :read, :value 4, :process 31, :time 28279264266, :index 2036}
{:type :ok, :f :write, :value 1, :process 44, :time 28282985086, :index 2037}
{:type :invoke, :f :cas, :value [2 4], :process 44, :time 28341221672, :index 2038}
{:type :invoke, :f :write, :value 2, :process 95, :time 28342081552, :index 2039}
{:type :ok, :f :write, :value 2, :process 95, :time 28350001461, :index 2040}
{:type :ok, :f :cas, :value [2 4], :process 44, :time 28350016361, :index 2041}
{:type :invoke, :f :read, :value nil, :process 53, :time 28361235401, :index 2042}
{:type :ok, :f :read, :value 4, :process 53, :time 28364789391, :index 2043}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 28386483399, :index 2044}
{:type :invoke, :f :write, :value 3, :process 31, :time 28391495459, :index 2045}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 28392120669, :index 2046}
{:type :ok, :f :write, :value 3, :process 31, :time 28398528749, :index 2047}
{:type :invoke, :f :read, :value nil, :process 44, :time 28453438795, :index 2048}
{:type :invoke, :f :read, :value nil, :process 52, :time 28455379295, :index 2049}
{:type :ok, :f :read, :value 3, :process 44, :time 28457027945, :index 2050}
{:type :ok, :f :read, :value 3, :process 52, :time 28458123995, :index 2051}
{:type :invoke, :f :read, :value nil, :process 31, :time 28464809745, :index 2052}
{:type :invoke, :f :cas, :value [2 4], :process 95, :time 28466441145, :index 2053}
{:type :ok, :f :read, :value 3, :process 31, :time 28467631505, :index 2054}
{:type :fail, :f :cas, :value [2 4], :process 95, :time 28471061794, :index 2055}
{:type :invoke, :f :write, :value 3, :process 44, :time 28478368474, :index 2056}
{:type :ok, :f :write, :value 3, :process 44, :time 28484106193, :index 2057}
{:type :invoke, :f :read, :value nil, :process 52, :time 28506485182, :index 2058}
{:type :ok, :f :read, :value 3, :process 52, :time 28510096932, :index 2059}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 28526081471, :index 2060}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 28531305210, :index 2061}
{:type :invoke, :f :write, :value 1, :process 53, :time 28555703049, :index 2062}
{:type :ok, :f :write, :value 1, :process 53, :time 28560889608, :index 2063}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 28626901095, :index 2064}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 28634835194, :index 2065}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 28652556733, :index 2066}
{:type :fail, :f :cas, :value [0 1], :process 52, :time 28661139462, :index 2067}
{:type :invoke, :f :read, :value nil, :process 95, :time 28662377822, :index 2068}
{:type :ok, :f :read, :value 1, :process 95, :time 28665080582, :index 2069}
{:type :invoke, :f :write, :value 4, :process 44, :time 28671424362, :index 2070}
{:type :ok, :f :write, :value 4, :process 44, :time 28676350342, :index 2071}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 28695187711, :index 2072}
{:type :invoke, :f :write, :value 4, :process 52, :time 28700554180, :index 2073}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 28700899620, :index 2074}
{:type :ok, :f :write, :value 4, :process 52, :time 28705673320, :index 2075}
{:type :invoke, :f :read, :value nil, :process 31, :time 28723216419, :index 2076}
{:type :ok, :f :read, :value 4, :process 31, :time 28726252169, :index 2077}
{:type :invoke, :f :write, :value 0, :process 52, :time 28741077428, :index 2078}
{:type :ok, :f :write, :value 0, :process 52, :time 28746982727, :index 2079}
{:type :invoke, :f :read, :value nil, :process 44, :time 28781633965, :index 2080}
{:type :ok, :f :read, :value 0, :process 44, :time 28785000245, :index 2081}
{:type :invoke, :f :cas, :value [2 4], :process 52, :time 28799428534, :index 2082}
{:type :fail, :f :cas, :value [2 4], :process 52, :time 28809637164, :index 2083}
{:type :invoke, :f :write, :value 2, :process 53, :time 28833229532, :index 2084}
{:type :ok, :f :write, :value 2, :process 53, :time 28839020312, :index 2085}
{:type :invoke, :f :write, :value 4, :process 95, :time 28856314981, :index 2086}
{:type :ok, :f :write, :value 4, :process 95, :time 28862194470, :index 2087}
{:type :invoke, :f :write, :value 3, :process 31, :time 28912649107, :index 2088}
{:type :ok, :f :write, :value 3, :process 31, :time 28921055826, :index 2089}
{:type :invoke, :f :cas, :value [2 2], :process 44, :time 28930375426, :index 2090}
{:type :fail, :f :cas, :value [2 2], :process 44, :time 28936606636, :index 2091}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 28939016756, :index 2092}
{:type :fail, :f :cas, :value [1 3], :process 52, :time 28944223165, :index 2093}
{:type :invoke, :f :read, :value nil, :process 31, :time 28963441574, :index 2094}
{:type :ok, :f :read, :value 3, :process 31, :time 28968651684, :index 2095}
{:type :invoke, :f :write, :value 3, :process 53, :time 29012383601, :index 2096}
{:type :ok, :f :write, :value 3, :process 53, :time 29018941531, :index 2097}
{:type :invoke, :f :read, :value nil, :process 53, :time 29025352980, :index 2098}
{:type :invoke, :f :cas, :value [4 3], :process 95, :time 29027588150, :index 2099}
{:type :ok, :f :read, :value 3, :process 53, :time 29029568890, :index 2100}
{:type :invoke, :f :cas, :value [4 1], :process 44, :time 29031080760, :index 2101}
{:type :fail, :f :cas, :value [4 3], :process 95, :time 29035801180, :index 2102}
{:type :fail, :f :cas, :value [4 1], :process 44, :time 29036126120, :index 2103}
{:type :invoke, :f :write, :value 4, :process 53, :time 29066965018, :index 2104}
{:type :ok, :f :write, :value 4, :process 53, :time 29073230087, :index 2105}
{:type :invoke, :f :cas, :value [1 2], :process 53, :time 29095623746, :index 2106}
{:type :invoke, :f :write, :value 0, :process 52, :time 29095692116, :index 2107}
{:type :ok, :f :write, :value 0, :process 52, :time 29101147606, :index 2108}
{:type :fail, :f :cas, :value [1 2], :process 53, :time 29101238426, :index 2109}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 29136961733, :index 2110}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 29143035763, :index 2111}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 29147420213, :index 2112}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 29152943432, :index 2113}
{:type :invoke, :f :write, :value 4, :process 95, :time 29195182170, :index 2114}
{:type :ok, :f :write, :value 4, :process 95, :time 29202113850, :index 2115}
{:type :invoke, :f :read, :value nil, :process 52, :time 29206469469, :index 2116}
{:type :ok, :f :read, :value 4, :process 52, :time 29209412349, :index 2117}
{:type :invoke, :f :write, :value 3, :process 44, :time 29221434688, :index 2118}
{:type :ok, :f :write, :value 3, :process 44, :time 29228113178, :index 2119}
{:type :invoke, :f :write, :value 1, :process 31, :time 29240274117, :index 2120}
{:type :ok, :f :write, :value 1, :process 31, :time 29247297197, :index 2121}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 29261711056, :index 2122}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 29267636816, :index 2123}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 29268020456, :index 2124}
{:type :ok, :f :cas, :value [1 2], :process 31, :time 29272839695, :index 2125}
{:type :invoke, :f :cas, :value [2 0], :process 44, :time 29276506425, :index 2126}
{:type :ok, :f :cas, :value [2 0], :process 44, :time 29281486175, :index 2127}
{:type :invoke, :f :cas, :value [2 4], :process 53, :time 29287512144, :index 2128}
{:type :fail, :f :cas, :value [2 4], :process 53, :time 29292417364, :index 2129}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 29293482284, :index 2130}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 29297670914, :index 2131}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 29364780809, :index 2132}
{:type :fail, :f :cas, :value [1 1], :process 44, :time 29370429119, :index 2133}
{:type :invoke, :f :write, :value 2, :process 95, :time 29396562728, :index 2134}
{:type :ok, :f :write, :value 2, :process 95, :time 29402702717, :index 2135}
{:type :invoke, :f :read, :value nil, :process 31, :time 29407011367, :index 2136}
{:type :ok, :f :read, :value 2, :process 31, :time 29410109267, :index 2137}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 29423782166, :index 2138}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 29429172996, :index 2139}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 29432640966, :index 2140}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 29438143365, :index 2141}
{:type :invoke, :f :read, :value nil, :process 52, :time 29455278184, :index 2142}
{:type :ok, :f :read, :value 2, :process 52, :time 29458348534, :index 2143}
{:type :invoke, :f :write, :value 2, :process 52, :time 29497625921, :index 2144}
{:type :ok, :f :write, :value 2, :process 52, :time 29505249281, :index 2145}
{:type :invoke, :f :cas, :value [2 0], :process 44, :time 29540501139, :index 2146}
{:type :invoke, :f :write, :value 4, :process 95, :time 29544997418, :index 2147}
{:type :ok, :f :cas, :value [2 0], :process 44, :time 29545943328, :index 2148}
{:type :ok, :f :write, :value 4, :process 95, :time 29549235078, :index 2149}
{:type :invoke, :f :write, :value 4, :process 53, :time 29569461837, :index 2150}
{:type :invoke, :f :read, :value nil, :process 95, :time 29569491047, :index 2151}
{:type :ok, :f :read, :value 4, :process 95, :time 29572862857, :index 2152}
{:type :ok, :f :write, :value 4, :process 53, :time 29574830466, :index 2153}
{:type :invoke, :f :write, :value 0, :process 31, :time 29577489377, :index 2154}
{:type :ok, :f :write, :value 0, :process 31, :time 29582245996, :index 2155}
{:type :invoke, :f :write, :value 1, :process 44, :time 29624240134, :index 2156}
{:type :ok, :f :write, :value 1, :process 44, :time 29629973943, :index 2157}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 29676156440, :index 2158}
{:type :invoke, :f :write, :value 4, :process 52, :time 29677612560, :index 2159}
{:type :ok, :f :cas, :value [1 0], :process 53, :time 29681866370, :index 2160}
{:type :ok, :f :write, :value 4, :process 52, :time 29682426590, :index 2161}
{:type :invoke, :f :write, :value 3, :process 95, :time 29739239577, :index 2162}
{:type :ok, :f :write, :value 3, :process 95, :time 29744787646, :index 2163}
{:type :invoke, :f :write, :value 3, :process 31, :time 29747654096, :index 2164}
{:type :invoke, :f :read, :value nil, :process 52, :time 29751627255, :index 2165}
{:type :ok, :f :write, :value 3, :process 31, :time 29752472395, :index 2166}
{:type :ok, :f :read, :value 3, :process 52, :time 29754399675, :index 2167}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 29760342115, :index 2168}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 29765345945, :index 2169}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 29809214572, :index 2170}
{:type :fail, :f :cas, :value [2 2], :process 53, :time 29817465482, :index 2171}
{:type :invoke, :f :write, :value 3, :process 52, :time 29857766309, :index 2172}
{:type :ok, :f :write, :value 3, :process 52, :time 29863318199, :index 2173}
{:type :invoke, :f :write, :value 0, :process 31, :time 29865798679, :index 2174}
{:type :ok, :f :write, :value 0, :process 31, :time 29871735699, :index 2175}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 29874651948, :index 2176}
{:type :fail, :f :cas, :value [1 0], :process 52, :time 29879771438, :index 2177}
{:type :invoke, :f :write, :value 2, :process 53, :time 29887838287, :index 2178}
{:type :ok, :f :write, :value 2, :process 53, :time 29893061457, :index 2179}
{:type :invoke, :f :read, :value nil, :process 95, :time 29927115975, :index 2180}
{:type :ok, :f :read, :value 2, :process 95, :time 29930382924, :index 2181}
{:type :invoke, :f :cas, :value [0 4], :process 95, :time 29931663924, :index 2182}
{:type :fail, :f :cas, :value [0 4], :process 95, :time 29936483854, :index 2183}
{:type :invoke, :f :write, :value 1, :process 44, :time 29939690334, :index 2184}
{:type :ok, :f :write, :value 1, :process 44, :time 29944795264, :index 2185}
{:type :invoke, :f :write, :value 3, :process 95, :time 29948840774, :index 2186}
{:type :invoke, :f :write, :value 2, :process 52, :time 29951072334, :index 2187}
{:type :ok, :f :write, :value 3, :process 95, :time 29953872533, :index 2188}
{:type :ok, :f :write, :value 2, :process 52, :time 29955890643, :index 2189}
{:type :invoke, :f :read, :value nil, :process 95, :time 29972196522, :index 2190}
{:type :ok, :f :read, :value 2, :process 95, :time 29975450782, :index 2191}
{:type :invoke, :f :write, :value 3, :process 31, :time 30024102679, :index 2192}
{:type :ok, :f :write, :value 3, :process 31, :time 30029797349, :index 2193}
{:type :invoke, :f :cas, :value [0 2], :process 53, :time 30038393248, :index 2194}
{:type :fail, :f :cas, :value [0 2], :process 53, :time 30044276218, :index 2195}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 30076120826, :index 2196}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 30085464325, :index 2197}
{:type :invoke, :f :cas, :value [4 4], :process 44, :time 30118202473, :index 2198}
{:type :fail, :f :cas, :value [4 4], :process 44, :time 30123565213, :index 2199}
{:type :invoke, :f :cas, :value [2 2], :process 95, :time 30125765693, :index 2200}
{:type :fail, :f :cas, :value [2 2], :process 95, :time 30132084923, :index 2201}
{:type :invoke, :f :cas, :value [4 1], :process 52, :time 30133142662, :index 2202}
{:type :fail, :f :cas, :value [4 1], :process 52, :time 30140694312, :index 2203}
{:type :invoke, :f :read, :value nil, :process 53, :time 30184677299, :index 2206}
{:type :ok, :f :read, :value 3, :process 53, :time 30187264209, :index 2207}
{:type :invoke, :f :read, :value nil, :process 31, :time 30267889854, :index 2216}
{:type :ok, :f :read, :value 3, :process 31, :time 30270412484, :index 2217}
{:type :invoke, :f :read, :value nil, :process 44, :time 30287900873, :index 2218}
{:type :ok, :f :read, :value 3, :process 44, :time 30290928953, :index 2219}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
