{:type :info, :f :start, :process :nemesis, :time 5218029330, :index 432}
{:type :info, :f :start, :process :nemesis, :time 5629991565, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 460}
{:type :info, :f :stop, :process :nemesis, :time 10632745378, :index 774}
{:type :info, :f :stop, :process :nemesis, :time 10837811475, :value :network-healed, :index 789}
{:type :info, :f :start, :process :nemesis, :time 15838368648, :index 1280}
{:type :info, :f :start, :process :nemesis, :time 15943130992, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 1285}
{:type :info, :f :stop, :process :nemesis, :time 20943594276, :index 1427}
{:type :info, :f :stop, :process :nemesis, :time 21150671553, :value :network-healed, :index 1428}
{:type :info, :f :start, :process :nemesis, :time 26150970547, :index 1834}
{:type :info, :f :start, :process :nemesis, :time 26253783440, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 1845}
{:type :info, :f :stop, :process :nemesis, :time 31254259383, :index 2314}
{:type :info, :f :stop, :process :nemesis, :time 31478549350, :value :network-healed, :index 2331}
{:type :info, :f :start, :process :nemesis, :time 36478882203, :index 2824}
{:type :info, :f :start, :process :nemesis, :time 36581103467, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft1"}, "jraft5" #{"jraft3" "jraft4" "jraft1"}, "jraft3" #{"jraft2" "jraft5"}, "jraft4" #{"jraft2" "jraft5"}, "jraft1" #{"jraft2" "jraft5"}}], :index 2831}
{:type :info, :f :stop, :process :nemesis, :time 41581450520, :index 3286}
{:type :info, :f :stop, :process :nemesis, :time 41792697447, :value :network-healed, :index 3309}
{:type :info, :f :start, :process :nemesis, :time 46792991470, :index 3770}
{:type :info, :f :start, :process :nemesis, :time 46904161984, :value [:isolated {"jraft2" #{"jraft3" "jraft4" "jraft5"}, "jraft1" #{"jraft3" "jraft4" "jraft5"}, "jraft3" #{"jraft2" "jraft1"}, "jraft4" #{"jraft2" "jraft1"}, "jraft5" #{"jraft2" "jraft1"}}], :index 3787}
{:type :invoke, :f :write, :value 3, :process 95, :time 47180622277, :index 3812}
{:type :ok, :f :write, :value 3, :process 95, :time 47184188006, :index 3813}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 47235976593, :index 3820}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 47239064323, :index 3821}
{:type :invoke, :f :cas, :value [0 1], :process 31, :time 47265313112, :index 3822}
{:type :fail, :f :cas, :value [0 1], :process 31, :time 47269134461, :index 3823}
{:type :invoke, :f :read, :value nil, :process 53, :time 47304897699, :index 3824}
{:type :invoke, :f :write, :value 2, :process 44, :time 47306345509, :index 3825}
{:type :ok, :f :read, :value 3, :process 53, :time 47306599959, :index 3826}
{:type :ok, :f :write, :value 2, :process 44, :time 47310056549, :index 3827}
{:type :invoke, :f :read, :value nil, :process 53, :time 47347875516, :index 3828}
{:type :invoke, :f :cas, :value [1 4], :process 95, :time 47349463676, :index 3829}
{:type :ok, :f :read, :value 2, :process 53, :time 47349600656, :index 3830}
{:type :fail, :f :cas, :value [1 4], :process 95, :time 47352983246, :index 3831}
{:type :invoke, :f :read, :value nil, :process 53, :time 47427872582, :index 3832}
{:type :ok, :f :read, :value 2, :process 53, :time 47429596971, :index 3833}
{:type :invoke, :f :read, :value nil, :process 52, :time 47435010771, :index 3834}
{:type :ok, :f :read, :value 2, :process 52, :time 47436302831, :index 3835}
{:type :invoke, :f :read, :value nil, :process 31, :time 47444489420, :index 3836}
{:type :ok, :f :read, :value 2, :process 31, :time 47446071740, :index 3837}
{:type :invoke, :f :read, :value nil, :process 44, :time 47485338108, :index 3838}
{:type :ok, :f :read, :value 2, :process 44, :time 47487056888, :index 3839}
{:type :invoke, :f :read, :value nil, :process 95, :time 47501314437, :index 3840}
{:type :ok, :f :read, :value 2, :process 95, :time 47502905987, :index 3841}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 47546875804, :index 3842}
{:type :fail, :f :cas, :value [1 0], :process 53, :time 47550603354, :index 3843}
{:type :invoke, :f :read, :value nil, :process 31, :time 47574399333, :index 3844}
{:type :ok, :f :read, :value 2, :process 31, :time 47576082392, :index 3845}
{:type :invoke, :f :read, :value nil, :process 44, :time 47591309382, :index 3846}
{:type :ok, :f :read, :value 2, :process 44, :time 47592815741, :index 3847}
{:type :invoke, :f :read, :value nil, :process 44, :time 47595036411, :index 3848}
{:type :ok, :f :read, :value 2, :process 44, :time 47596112271, :index 3849}
{:type :invoke, :f :write, :value 3, :process 95, :time 47628258169, :index 3850}
{:type :ok, :f :write, :value 3, :process 95, :time 47632281369, :index 3851}
{:type :invoke, :f :read, :value nil, :process 52, :time 47633667129, :index 3852}
{:type :ok, :f :read, :value 3, :process 52, :time 47635126259, :index 3853}
{:type :invoke, :f :write, :value 3, :process 31, :time 47664384337, :index 3854}
{:type :ok, :f :write, :value 3, :process 31, :time 47668820757, :index 3855}
{:type :invoke, :f :write, :value 1, :process 53, :time 47701983594, :index 3856}
{:type :ok, :f :write, :value 1, :process 53, :time 47706183844, :index 3857}
{:type :invoke, :f :write, :value 1, :process 52, :time 47708384664, :index 3858}
{:type :ok, :f :write, :value 1, :process 52, :time 47711790424, :index 3859}
{:type :invoke, :f :cas, :value [2 3], :process 95, :time 47781677400, :index 3860}
{:type :fail, :f :cas, :value [2 3], :process 95, :time 47785432860, :index 3861}
{:type :invoke, :f :write, :value 1, :process 53, :time 47786557780, :index 3862}
{:type :ok, :f :write, :value 1, :process 53, :time 47789117080, :index 3863}
{:type :invoke, :f :cas, :value [4 2], :process 44, :time 47793297489, :index 3864}
{:type :fail, :f :cas, :value [4 2], :process 44, :time 47796949909, :index 3865}
{:type :invoke, :f :cas, :value [2 0], :process 95, :time 47798690068, :index 3866}
{:type :fail, :f :cas, :value [2 0], :process 95, :time 47803505938, :index 3867}
{:type :invoke, :f :write, :value 1, :process 44, :time 47828194567, :index 3868}
{:type :ok, :f :write, :value 1, :process 44, :time 47832085597, :index 3869}
{:type :invoke, :f :write, :value 3, :process 31, :time 47855106035, :index 3870}
{:type :ok, :f :write, :value 3, :process 31, :time 47858459015, :index 3871}
{:type :invoke, :f :write, :value 0, :process 31, :time 47864713395, :index 3872}
{:type :ok, :f :write, :value 0, :process 31, :time 47867861415, :index 3873}
{:type :invoke, :f :cas, :value [4 3], :process 52, :time 47886075153, :index 3874}
{:type :fail, :f :cas, :value [4 3], :process 52, :time 47889606243, :index 3875}
{:type :invoke, :f :cas, :value [0 3], :process 95, :time 47901811542, :index 3876}
{:type :ok, :f :cas, :value [0 3], :process 95, :time 47906034942, :index 3877}
{:type :invoke, :f :read, :value nil, :process 95, :time 47921392511, :index 3878}
{:type :ok, :f :read, :value 3, :process 95, :time 47923140201, :index 3879}
{:type :invoke, :f :read, :value nil, :process 53, :time 47950392690, :index 3880}
{:type :ok, :f :read, :value 3, :process 53, :time 47951921069, :index 3881}
{:type :invoke, :f :cas, :value [2 4], :process 44, :time 47966391949, :index 3882}
{:type :invoke, :f :write, :value 1, :process 53, :time 47969173038, :index 3883}
{:type :invoke, :f :write, :value 4, :process 31, :time 47970065808, :index 3884}
{:type :fail, :f :cas, :value [2 4], :process 44, :time 47972957858, :index 3885}
{:type :ok, :f :write, :value 1, :process 53, :time 47973006808, :index 3886}
{:type :ok, :f :write, :value 4, :process 31, :time 47973719168, :index 3887}
{:type :invoke, :f :write, :value 0, :process 53, :time 47983272097, :index 3888}
{:type :invoke, :f :write, :value 4, :process 95, :time 47985393457, :index 3889}
{:type :ok, :f :write, :value 0, :process 53, :time 47986188767, :index 3890}
{:type :invoke, :f :write, :value 2, :process 52, :time 47987859737, :index 3891}
{:type :ok, :f :write, :value 4, :process 95, :time 47987978847, :index 3892}
{:type :ok, :f :write, :value 2, :process 52, :time 47990356347, :index 3893}
{:type :invoke, :f :cas, :value [4 1], :process 44, :time 48026380345, :index 3894}
{:type :fail, :f :cas, :value [4 1], :process 44, :time 48032036214, :index 3895}
{:type :invoke, :f :cas, :value [0 0], :process 95, :time 48072227512, :index 3896}
{:type :fail, :f :cas, :value [0 0], :process 95, :time 48075976862, :index 3897}
{:type :invoke, :f :read, :value nil, :process 53, :time 48113495929, :index 3898}
{:type :ok, :f :read, :value 2, :process 53, :time 48115236919, :index 3899}
{:type :invoke, :f :write, :value 1, :process 44, :time 48153403097, :index 3900}
{:type :invoke, :f :write, :value 2, :process 52, :time 48154544947, :index 3901}
{:type :ok, :f :write, :value 1, :process 44, :time 48157116907, :index 3902}
{:type :ok, :f :write, :value 2, :process 52, :time 48157526807, :index 3903}
{:type :invoke, :f :write, :value 1, :process 31, :time 48160936806, :index 3904}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 48162709286, :index 3905}
{:type :ok, :f :write, :value 1, :process 31, :time 48165685796, :index 3906}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 48166049956, :index 3907}
{:type :invoke, :f :cas, :value [0 4], :process 95, :time 48203334164, :index 3908}
{:type :fail, :f :cas, :value [0 4], :process 95, :time 48207304914, :index 3909}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 48223296463, :index 3910}
{:type :ok, :f :cas, :value [1 3], :process 52, :time 48226790033, :index 3911}
{:type :invoke, :f :read, :value nil, :process 53, :time 48292574778, :index 3912}
{:type :ok, :f :read, :value 3, :process 53, :time 48294470218, :index 3913}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 48306095948, :index 3914}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 48310678648, :index 3915}
{:type :invoke, :f :write, :value 0, :process 52, :time 48344155095, :index 3916}
{:type :ok, :f :write, :value 0, :process 52, :time 48348378705, :index 3917}
{:type :invoke, :f :read, :value nil, :process 44, :time 48356359514, :index 3918}
{:type :ok, :f :read, :value 0, :process 44, :time 48357858194, :index 3919}
{:type :invoke, :f :read, :value nil, :process 95, :time 48364566294, :index 3920}
{:type :ok, :f :read, :value 0, :process 95, :time 48365710174, :index 3921}
{:type :invoke, :f :write, :value 2, :process 53, :time 48385709553, :index 3922}
{:type :ok, :f :write, :value 2, :process 53, :time 48388912423, :index 3923}
{:type :invoke, :f :read, :value nil, :process 44, :time 48436111030, :index 3924}
{:type :ok, :f :read, :value 2, :process 44, :time 48437811050, :index 3925}
{:type :invoke, :f :write, :value 3, :process 31, :time 48492010557, :index 3926}
{:type :ok, :f :write, :value 3, :process 31, :time 48495919246, :index 3927}
{:type :invoke, :f :cas, :value [1 3], :process 44, :time 48520112875, :index 3928}
{:type :fail, :f :cas, :value [1 3], :process 44, :time 48524233694, :index 3929}
{:type :invoke, :f :read, :value nil, :process 44, :time 48526554894, :index 3930}
{:type :ok, :f :read, :value 3, :process 44, :time 48528037214, :index 3931}
{:type :invoke, :f :cas, :value [3 2], :process 95, :time 48529925044, :index 3932}
{:type :ok, :f :cas, :value [3 2], :process 95, :time 48533717054, :index 3933}
{:type :invoke, :f :write, :value 2, :process 52, :time 48535624023, :index 3934}
{:type :invoke, :f :cas, :value [1 0], :process 53, :time 48538087914, :index 3935}
{:type :ok, :f :write, :value 2, :process 52, :time 48539952803, :index 3936}
{:type :fail, :f :cas, :value [1 0], :process 53, :time 48541178383, :index 3937}
{:type :invoke, :f :read, :value nil, :process 44, :time 48561233402, :index 3938}
{:type :ok, :f :read, :value 2, :process 44, :time 48562681932, :index 3939}
{:type :invoke, :f :write, :value 4, :process 44, :time 48564017612, :index 3940}
{:type :ok, :f :write, :value 4, :process 44, :time 48572125581, :index 3941}
{:type :invoke, :f :read, :value nil, :process 53, :time 48584425651, :index 3942}
{:type :ok, :f :read, :value 4, :process 53, :time 48585872820, :index 3943}
{:type :invoke, :f :read, :value nil, :process 44, :time 48646394437, :index 3944}
{:type :ok, :f :read, :value 4, :process 44, :time 48648234837, :index 3945}
{:type :invoke, :f :read, :value nil, :process 31, :time 48660246736, :index 3946}
{:type :ok, :f :read, :value 4, :process 31, :time 48661750856, :index 3947}
{:type :invoke, :f :cas, :value [0 0], :process 52, :time 48678231894, :index 3948}
{:type :fail, :f :cas, :value [0 0], :process 52, :time 48681617234, :index 3949}
{:type :invoke, :f :read, :value nil, :process 95, :time 48711040943, :index 3950}
{:type :ok, :f :read, :value 4, :process 95, :time 48712696433, :index 3951}
{:type :invoke, :f :write, :value 1, :process 53, :time 48723166992, :index 3952}
{:type :invoke, :f :cas, :value [3 0], :process 95, :time 48726954742, :index 3953}
{:type :ok, :f :write, :value 1, :process 53, :time 48727151472, :index 3954}
{:type :fail, :f :cas, :value [3 0], :process 95, :time 48730240261, :index 3955}
{:type :invoke, :f :read, :value nil, :process 95, :time 48784520228, :index 3956}
{:type :ok, :f :read, :value 1, :process 95, :time 48785942638, :index 3957}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 48797452378, :index 3958}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 48797980067, :index 3959}
{:type :ok, :f :cas, :value [1 0], :process 31, :time 48805938177, :index 3960}
{:type :ok, :f :cas, :value [0 1], :process 53, :time 48806060537, :index 3961}
{:type :invoke, :f :cas, :value [2 3], :process 44, :time 48830522766, :index 3962}
{:type :fail, :f :cas, :value [2 3], :process 44, :time 48834385105, :index 3963}
{:type :invoke, :f :write, :value 3, :process 44, :time 48836603225, :index 3964}
{:type :ok, :f :write, :value 3, :process 44, :time 48839850195, :index 3965}
{:type :invoke, :f :write, :value 2, :process 52, :time 48857872863, :index 3966}
{:type :ok, :f :write, :value 2, :process 52, :time 48863287153, :index 3967}
{:type :invoke, :f :cas, :value [1 2], :process 95, :time 48877129203, :index 3968}
{:type :fail, :f :cas, :value [1 2], :process 95, :time 48881910842, :index 3969}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 48888039812, :index 3970}
{:type :invoke, :f :write, :value 0, :process 52, :time 48889494582, :index 3971}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 48891332421, :index 3972}
{:type :ok, :f :write, :value 0, :process 52, :time 48894123892, :index 3973}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 48894424261, :index 3974}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 48898240151, :index 3975}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 48955692538, :index 3976}
{:type :fail, :f :cas, :value [2 2], :process 53, :time 48960561988, :index 3977}
{:type :invoke, :f :write, :value 4, :process 95, :time 48962229577, :index 3978}
{:type :ok, :f :write, :value 4, :process 95, :time 48967071787, :index 3979}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 48993614285, :index 3980}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 48997275915, :index 3981}
{:type :ok, :f :cas, :value [4 0], :process 44, :time 48997710025, :index 3982}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 49000937705, :index 3983}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 49006496855, :index 3984}
{:type :fail, :f :cas, :value [4 4], :process 52, :time 49011136794, :index 3985}
{:type :invoke, :f :read, :value nil, :process 31, :time 49026272984, :index 3986}
{:type :ok, :f :read, :value 0, :process 31, :time 49027938343, :index 3987}
{:type :invoke, :f :write, :value 0, :process 95, :time 49074438930, :index 3988}
{:type :ok, :f :write, :value 0, :process 95, :time 49078337460, :index 3989}
{:type :invoke, :f :write, :value 1, :process 31, :time 49098221129, :index 3990}
{:type :ok, :f :write, :value 1, :process 31, :time 49104830669, :index 3991}
{:type :invoke, :f :read, :value nil, :process 53, :time 49106804288, :index 3992}
{:type :ok, :f :read, :value 1, :process 53, :time 49110002308, :index 3993}
{:type :invoke, :f :cas, :value [2 0], :process 52, :time 49131465647, :index 3994}
{:type :fail, :f :cas, :value [2 0], :process 52, :time 49135166277, :index 3995}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 49150005426, :index 3996}
{:type :invoke, :f :read, :value nil, :process 52, :time 49154446236, :index 3997}
{:type :ok, :f :cas, :value [1 2], :process 44, :time 49155696616, :index 3998}
{:type :ok, :f :read, :value 2, :process 52, :time 49155811565, :index 3999}
{:type :invoke, :f :write, :value 0, :process 31, :time 49161151035, :index 4000}
{:type :ok, :f :write, :value 0, :process 31, :time 49164850085, :index 4001}
{:type :invoke, :f :write, :value 1, :process 44, :time 49171979884, :index 4002}
{:type :ok, :f :write, :value 1, :process 44, :time 49175790414, :index 4003}
{:type :invoke, :f :write, :value 4, :process 31, :time 49204097522, :index 4004}
{:type :ok, :f :write, :value 4, :process 31, :time 49208702082, :index 4005}
{:type :invoke, :f :cas, :value [1 0], :process 95, :time 49257626819, :index 4006}
{:type :fail, :f :cas, :value [1 0], :process 95, :time 49263298139, :index 4007}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 49263305369, :index 4008}
{:type :fail, :f :cas, :value [2 2], :process 53, :time 49266544339, :index 4009}
{:type :invoke, :f :read, :value nil, :process 31, :time 49276016788, :index 4010}
{:type :ok, :f :read, :value 4, :process 31, :time 49278359988, :index 4011}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 49316051856, :index 4012}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 49320009736, :index 4013}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 49339074164, :index 4014}
{:type :fail, :f :cas, :value [1 4], :process 44, :time 49342771794, :index 4015}
{:type :invoke, :f :read, :value nil, :process 95, :time 49366578713, :index 4018}
{:type :ok, :f :read, :value 4, :process 95, :time 49367836613, :index 4019}
{:type :info, :f :stop, :process :nemesis, :time 51904518297, :index 4249}
{:type :info, :f :stop, :process :nemesis, :time 52112597695, :value :network-healed, :index 4271}
{:type :info, :f :start, :process :nemesis, :time 57113019537, :index 4738}
{:type :info, :f :start, :process :nemesis, :time 57223587191, :value [:isolated {"jraft3" #{"jraft2" "jraft4" "jraft5"}, "jraft1" #{"jraft2" "jraft4" "jraft5"}, "jraft2" #{"jraft3" "jraft1"}, "jraft4" #{"jraft3" "jraft1"}, "jraft5" #{"jraft3" "jraft1"}}], :index 4744}
{:type :info, :f :stop, :process :nemesis, :time 62224058795, :index 4886}
{:type :info, :f :stop, :process :nemesis, :time 62429884482, :value :network-healed, :index 4887}
